@model Silicus.Ensure.Models.DataObjects.Tags
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Add Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2>New Tag</h2>        
    @using (Html.BeginForm("Save", "Tag"))
    {                
        <div class="fluid mt20">
            <div class="row">
                <div class="alert alert-success" id="messageDiv">
                    <strong>Error!</strong> <span id="messageContent">@Html.ValidationSummary(true)</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.TagName)<b style="color:Red;">*</b>:
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.TagName, new { @class = "form-control" })                    
                </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12"> 
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Description)<b style="color:Red;">*</b>:
                    </div>
                    <div class="col-md-8">
                        @Html.Kendo().EditorFor(m => m.Description).Encode(true).HtmlAttributes(Html.GetUnobtrusiveValidationAttributes("Description"))                        
                    </div>
                </div>
            </div>            
            <br />
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-2 col-md-offset-4">
                    @(Html.Kendo().Button()
                            .Name("btnCancel").Icon("cancel")
            .HtmlAttributes(new { type = "button" })
            .Content("Cancel")
            .Events(ev => ev.Click("onCancelClick")))

                    @(Html.Kendo().Button()
                            .Name("btnSave").Icon("tick")
            .HtmlAttributes(new { type = "submit" })
            .Content("Save"))
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    if ($('.validation-summary-errors>ul>li').is(':empty')) { $("#messageDiv").hide(); }
                    else if ($('.validation-summary-errors>ul>li').text() != "")
                    { ShowMessage($('.validation-summary-errors>ul>li').text(), 0); }
                    else { $("#messageDiv").hide(); }

                    $("#btnSave").click(function (e) {                       
                        if(validateTag()==false)
                        {
                            e.preventDefault();
                        }
                    });

                    $(function () {
                        $("#TagName").keypress(function (evt) {
                            var cc = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);                                                          
                                if (cc == 32)
                                    return false;                           
                        });
                    });
                });

                function onCancelClick() {
                    window.location = '@Url.Action("List", "Tag")';                   
                }                

                function validateTag()
                {
                    if ($("#TagName").val().trim().length == 0) {
                        $("#TagName").focus();
                        ShowMessage("Tag Name cann't be blank.",0);
                        return false;
                    }
                    else if ($("#Description").val().trim().length == 0) {                        
                        $("#Description").focus();
                        ShowMessage("Tag description cann't be blank.", 0);                        
                        return false;
                    }
                }
        </script>
        
            <style>
                .height {
                    height: 250px;
                }
            </style>
    }
</div>