<!DOCTYPE html>
<html>
@using Microsoft.AspNet.Identity
@{
    var conname = @ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actname = @ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Utility Container</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (actname != "login" && actname != "logout")
    {


        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;border:none">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home", new { @Style = "color:#57A6B7;font-weight:bold" })">

                        <img src="~/Images/logo.jpg" />

                    </a>
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",@Style="color:black" })*@

                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                           <li>@Html.ActionLink("Home", "Index", "Home", new { @Style="color:black"})</li>


                        </ul>*@
                    @*@Html.Partial("_LoginPartial")*@








                    <span style=" float: right;font-size: 23px;color:#3F617C;margin: 20px 0 0 10px;text-shadow: 0 1px 1px rgba(0,0,0,0.5);font-family: 'cartogothic_stdbold';">
                        @if (actname != "login")
                        {


                            @Html.Label("Welcome " + Session["CurrentUser"])
                            <br>
                            <div class="menuList">
                                <div class="dropdown" style="float:right">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                                        <span>My Account</span>

                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AddRolesToUserForAUtility", "Home")">Add Roles To User</a></li>
                                        <li><a href="@Url.Action("LogOut", "Account")">Log Out</a></li>
                                    </ul>
                                </div>
                            </div>

                        }
                    </span>


                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



