<!DOCTYPE html>
<!-- Spell Checked and Validated 02/14-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encourage</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/LESS/style.css" rel="stylesheet" />
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <link href="~/Css/perfect-scrollbar.min.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/Css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />
        <link href="~/Css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link href="~/Css/plugins/dataTables/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/Css/custom-style.css" rel="stylesheet" />

    <link href="~/Css/bars-square.css" rel="stylesheet" />

    <script src="~/js/jquery-2.1.1.js"></script>
    @*<script src="~/js/jquery.barrating.min.js"></script>*@

    <meta name="description" content="The objective of Encourage system is to automatize the process of Award Nomination and Winner Declaration. The process workflow for each category of award will be identified and automatized via a simple and intuitive UI. Inputs from all stakeholders will be received via the online application and decision making will be enabled with sophisticated UI." />
</head>
<body class="container-fluid">
    <!-- Preloader -->
    @*<div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>*@
    <div class="row top-header bbl">
        <div class="col-sm-4 col-xs-6">
            <div class="pll ptm pbs">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Images/logo.jpg" class="mts mbs" alt="Silicus Logo" title="Silicus Encloud" />
                </a>
            </div>
        </div>
        <div class="col-sm-8 col-xs-6">
            <div class="text-center">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <ul class="nav navbar-top-links navbar-right">
                        @Html.Partial("_LoginPartial")
                        @{
                            var isSuperAdmin = !string.IsNullOrEmpty(User.GetClaimValue("RootUserName"));
                            var url = isSuperAdmin? Url.Action("LogoutAs", "Account"): Url.Action("SignOut", "Account");
                        }
                        @if (Request.IsAuthenticated)
                        {
                            var userName = @User.Identity.Name;
                            var data = userName.Split('.', '@');
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <span class="hidden-sm hidden-xs">
                                        <span class="m-r-sm text-muted welcome-message">
                                            @(isSuperAdmin ? "Logged In As" :"Welcome") @data[0] @data[1] <i class="fa fa-chevron-down"></i>
                                        </span>
                                    </span>
                                    <span class="hidden-md hidden-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user-menu">
                                    <li>
                                        <a href='@url'>
                                            <div>
                                                Logout
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div><!-- pad -->
        </div>
    </div>
    <div class="loader-overlay" style="display:none;">
        <div class="loader">

        </div>
    </div>
    <div class="row">
        <div id="wrapper" class="wrapper">
            <!-- START LEFT MENU -->
            @if (Request.IsAuthenticated)
            {
                <div class="sidebar-wrapper">
                    <nav class="navbar-default navbar-static-side sidebar" role="navigation">
                        <div class="sidebar-collapse">
                            @{
                List<string> roles = MvcApplication.GetCurrentUserRoles();
                List<string> contributors = MvcApplication.GetDevelopersName();
                            }
                            @if (roles.Count() != 0)
                            {
                                <ul class="nav metismenu" id="side-menu">
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Home")">
                                            <i class="fa fa-dashboard"></i>
                                            <span class="nav-label">Dashboard</span>
                                        </a>
                                    </li>
                                    @if (roles.Contains("Manager"))
                                    {
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i><span class="nav-label">Nominations</span> <span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level">

                                                <li><a href="@Url.Action("AddNomination", "Nomination")" class="active">Add Nominations</a></li>
                                                <li><a href="@Url.Action("GetNominationList", "Nomination")" class="active">Edit Nominations</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (roles.Contains("Reviewer"))
                                    {
                                        <li>
                                            <a href="#"><i class="fa fa-file-text-o"></i><span class="nav-label">Reviews</span><span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level">
                                                <li><a href="@Url.Action("ReviewNominations", "Nomination")" class="active">Pending Reviews</a></li>
                                                <li><a href="@Url.Action("SavedReviews", "Nomination")" class="active">Submitted Reviews</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <!-- admin role only -->
                                    @if (roles.Contains("Admin"))
                                    {
                                        <li>
                                            <a href="#"><i class="fa fa-user-circle-o"></i><span class="nav-label">Admin</span><span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level">
                                                @if (roles.Contains("Admin"))
                                                {
                                                    <li><a href="@Url.Action("ConsolidatedNominations", "Review" )">Consolidated Nominations</a></li>
                                                    <li><a href="@Url.Action("ReviewFeedbackList", "Review")" class="active">Shortlisted Nominations</a></li>
                                                    <li><a href="@Url.Action("Index", "Email" )">Email Template</a></li>
                                                    <li><a href="@Url.Action("SetAwardPeriod","Review")">Set Award Period</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            }
                            <!--End of if-->
                        </div>
                    </nav>
                </div>
                            var data = "";
                            var count = contributors.Count;
                            var recentCount = 0;
                            foreach (var item in contributors)
                            {
                                recentCount++;
                                if (recentCount == count)
                                {
                                    data += item + ". ";
                                }
                                else
                                {
                                    data += item + ", ";
                                }
                            }
                            <div id="credits-data" style="display:none;">
                                @data
                            </div>
            }
            <!-- END LEFT MENU -->
            <!--   START OF CONTENT AREA -->
            <div id="page-wrapper" class="page-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer fixed_full">
        <div>
            <strong>&copy;Copyright</strong> 2000 -
            <script>document.write(new Date().getFullYear())</script> Silicus Technologies
            <span id="credits" class="pull-right" style="font-weight:bold;">Credits</span>
        </div>
    </div>

    <div class="modal fade" id="wholeCommentBox" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="clearCommentPopUp();">&times;</button>
                    <h4 class="modal-title">Comment</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control M-T15" rows="5" id="wholeCommentContainer" style="width:100%;max-width:100%" disabled="disabled"></textarea>
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-primary btn-nav" id="cancel" data-dismiss="modal" onclick="clearCommentPopUp();">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/Elipsis.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.fixedColumns.min.js"></script>
    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
</body>
</html>

<script>
    function consolidatedTableBoxHeight() {
        var consolidatedTableBoxHeight = 0;
        var headerRowPlusBox1 = $(".header-row").outerHeight() - $("#box1").outerHeight();
        consolidatedTableBoxHeight = $(".page-wrapper").outerHeight() - headerRowPlusBox1 - $("#box3").outerHeight() - $(".footer").outerHeight() - 156;
        $("#box2").css("min-height", consolidatedTableBoxHeight);
    }
    function sidebarautoheight() {
        var sidebarheight = 0;
        sidebarheight = $(window).height() - $(".bbl").outerHeight() - $("footer").outerHeight();
        $(".wrapper .page-wrapper").css("min-height", sidebarheight);
    };



    $("#menu-toggle").click(function () {
        $("body").toggleClass("mini-navbar");
    });


    var creditsData = ($("div #credits-data").html("<span style='font-weight : bold'>" + $("div #credits-data").text() + "</span>"));
    $(".fa-chevron-down").click(function () {
        $('.dropdown').toggleClass('open')
    })

    $(".fa-bell").click(function () {
        $(".dropdown").toggleClass('open')

    })
    $("#credits").css('cursor', 'pointer');
    $("#credits").click(function () {
        swal({
            title: "Contributors",
            text: "If you like the application, thank these people \n" + $("div #credits-data").text(),
            showCancelButton: false,
            confirmButtonColor: "#337ab7",
            confirmButtonText: "Ok"
        }
        );
    });

    $(document).ready(function () {
        sidebarautoheight();
        consolidatedTableBoxHeight();

        var pathName = window.location.pathname;

        var allMenuItems = $("#side-menu li");
        $("#side-menu li").removeClass('active');
        $("#side-menu li ul").removeClass('in');

        $.each(allMenuItems, function () {
            var url = $(this).find("a").attr("href");
            if (pathName == url) {
                $(this).addClass("active");
                $(this).parent('ul').addClass('in');
                $(this).parent('ul').parent('li').addClass('active');
            }
        });
    });

    $(window).resize(function () {
        sidebarautoheight();
        consolidatedTableBoxHeight();
    });

    function showCustomLoader() {
        $(".loader-overlay").show();
    }

    function hideCustomLoader() {
        $(".loader-overlay").hide();
    }

    function showCommentInPopup(element) {
        var wholeComment = $(element).prev().prev().html();
        $("#wholeCommentBox #wholeCommentContainer").val(wholeComment);
        return false;
    }

    function clearCommentPopUp() {
        $("#wholeCommentBox #wholeCommentContainer").val("");
    }
</script>