

<!DOCTYPE html>
<!-- Spell Checked and Validated 02/14-->
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILICUS</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/LESS/style.css" rel="stylesheet" />
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
</head>

<body class="">

    <div class="row top-header bbl">

        <div class="col-sm-4">
         
            <div class="pll ptm pbs"><img src="~/Images/logo.jpg" class="mts mbs" alt="Silicus Logo" title="Silicus Encloud" /></div>
        </div>
        <div class="col-sm-8">

            <div class="text-center">

                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">



                    <ul class="nav navbar-top-links navbar-right">
                        @Html.Partial("_LoginPartial")
                        @if (Request.IsAuthenticated)
                        {

                            var userName = @User.Identity.Name;

                            var data = userName.Split('.','@');


	                <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <span class="hidden-sm hidden-xs">
                                    <span class="m-r-sm text-muted welcome-message">Welcome @data[0] @data[1]</span> <i class="fa fa-chevron-down"></i>
                                </span>
                                <span class="hidden-md hidden-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-user-menu">
                                @*<li>
                                    <a href="">
                                        <div>
                                            EDIT PROFILE
                                        </div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="">
                                        <div>
                                            EDIT COMPANY
                                        </div>
                                    </a>
                                </li>*@

                                @*<li class="divider"></li>*@
                                <li>
                                    <a href='@Url.Action("SignOut", "Account")'>
                                        <div>
                                            LOGOUT
                                        </div>
                                    </a>
                                  
                                </li>
                            </ul>
                        </li>

                        @*<li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="">
                                        <div>
                                            <i class="fa fa-exclamation-triangle fa-fw"></i> ALERT on Subscription Zeon 3
                                            <span class="pull-right text-muted small">CPU above threshold</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">
                                        <div>
                                            <i class="fa fa-exclamation-triangle fa-fw"></i> ALERT on Subscription Zeon 8
                                            <span class="pull-right text-muted small">Memory above threshold</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">
                                        <div>
                                            <i class="fa fa-exclamation-triangle fa-fw"></i> ALERT on Subscription Zeon 6
                                            <span class="pull-right text-muted small">CPU above threshold</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>*@
                        }
                    </ul>
                  
                </nav>
            </div><!-- pad -->
        </div>
    </div>

    <div id="wrapper" style="height:85%">
        <!-- START LEFT MENU -->
        @if (Request.IsAuthenticated)
        {


        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                @{
                    //  var roles = "Manager,Admin,Reviewer";
                    List<string> roles = MvcApplication.getCurrentUserRoles();
                    List<string> contributors = MvcApplication.getDevelopersName();
                }
               

                @if (roles.Count() != 0)
                {
                <ul class="nav metismenu" id="side-menu">
                    <li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> <span class="nav-label">DASHBOARD</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Nominations</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            @if (roles.Contains("Manager"))
                            {
                                <li><a href="@Url.Action("AddNomination", "Nomination")" class="active">Add Nominations</a></li>
                                <li><a href="@Url.Action("GetNominationList", "Nomination")" class="active">Edit Nominations</a></li>
                            }
                            @if (roles.Contains("Reviewer"))
                            {
                                <li><a href="@Url.Action("ReviewNominations", "Nomination")" class="active">Pending Reviews</a></li>
                                <li><a href="@Url.Action("SavedReviews", "Nomination")" class="active">Done Reviews</a></li>

                            }
                            @if (roles.Contains("Admin"))
                            {

                                <li><a href="@Url.Action("ReviewFeedbackList", "Review")" class="active">Submitted Reviews</a></li>

                            }

                        </ul>
                    </li>

                    <!-- admin role only -->
                    @if (roles.Contains("Admin"))
                    {
                        <li>
                            <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">ADMIN</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @*<li><a href="@Url.Action("ReviewFeedbackList", "Review")" class="active">Shortlist Nominations</a></li>*@
                                <li><a href="#" class="active">Edit Users</a></li>
                            </ul>
                        </li>
                    }

                </ul>
                }
                <!--End of if-->
            </div>
        </nav>
                    var data = "";
                    var count = contributors.Count;
                    var recentCount = 0;
                    foreach (var item in contributors)
                    {
                        recentCount++;
                        if (recentCount == count)
                        {
                            data += item + ". ";
                        }
                        else
                        {
                            data += item + ", ";
                        }
                    }
        <div id="credits-data" style="display:none;">
            @data
        </div>
                    }

        <!-- END LEFT MENU -->
        <!--   START OF CONTENT AREA -->

        <div id="page-wrapper" class="gray-bg">

                @RenderBody()

            </div>
            <div class="footer">
                <div>
                    <strong>&copy;Copyright</strong> 2000 -
                    <script>document.write(new Date().getFullYear())</script> Silicus Technologies
                    <span id="credits" style="font-weight:bold;margin-left:80%">Credits</span>
                </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>

    <script src="~/js/plugins/validate/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/Elipsis.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
   
 
    
</body>

</html>


<script>
    var creditsData =($("div #credits-data").html( "<span style='font-weight : bold'>" +$("div #credits-data").text() +"</span>"));
    $(".fa-chevron-down").click(function () {
        $('.dropdown').toggleClass('open')
    })

    $(".fa-bell").click(function () {
        $(".dropdown").toggleClass('open')

    })
    $("#credits").css('cursor', 'pointer');
    $("#credits").click(function () {
        swal({
            title: "Contributors",
            text: "If you like the application, thank these people \n"+$("div #credits-data").text(),
            showCancelButton: false,
            confirmButtonColor: "#88a364",
            confirmButtonText: "Ok"
        }
        );
    });
</script>

