@model Silicus.EncourageWithAzureAd.Web.Models.Dashboard
@using System.Drawing;

@foreach (var award in Model.Awards)
{
    @*<div class="row">
        
    </div>*@
    <div class="row col-lg-6">
        <span class="media-heading font-noraml">@Html.DisplayFor(model => award.AwardTitle)</span><br />
        @if (award.NominationList.Count() > 0)
        {
            var index = 0;
            var winnerIndex = 0;

            foreach (var item in award.NominationList.ToList())
            {
                <input type="hidden" value="@item.DisplayName" id="winner @winnerIndex" />
            }

            foreach (var item in award.NominationList)
            {
                Random randomGen = new Random();
                KnownColor[] names = (KnownColor[])Enum.GetValues(typeof(KnownColor));
                KnownColor randomColorName = names[randomGen.Next(names.Length)];
                Color randomColor = Color.FromKnownColor(randomColorName);

                <div class="outer-wrapperWell well-section" id="@index">
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placekitten.com/150/150">
                            </a>
                            <div class="media-body">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.DisplayName): </span><span class="media-heading font-noraml">@Html.DisplayFor(modelItem => item.DisplayName)</span>

                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                                </div>
                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                                </div>
                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                                </div>


                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                    Aliquam in felis sit amet augue.
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                    <li>|</li>
                                    <li>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12 card white-bg" id="@index">
                        <div class="cardHeader col-md-12 text-center">
                            <div class="text-center">
                                <span class="font-bold">@Html.LabelFor(modelItem => item.DisplayName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.DisplayName)</span>
                            </div>
                            <div class="text-center">
                                <span class="font-bold">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                            </div>
                            <div class="text-center">
                                <span class="font-bold">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                            </div>
                            <div class="text-center">
                                <span class="font-bold">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                            </div>

                        </div>
                    </div>*@
            index++;
        }
        <br />
        }
        else
        {
            <span>
                No Winners found!!
            </span>
        }
    </div>
}
