@model  IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.NominationListViewModel>
<style type="text/css">
    .winner-photo {
        height: 128px;
        width: 128px;
    }
</style>
<div class="tab-content">
    @{
        var index = 0;
        var winnerIndex = 0;
    }

    <div class="tab-pane active" id="winnerList">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model.ToList())
            {
                <input type="hidden" value="@item.DisplayName" id="winner @winnerIndex" />
            }

            foreach (var item in Model)
            {
                <div class="outer-wrapperWell well-section" id="@index">
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                @if (File.Exists(Server.MapPath("~/UserProfilePicture") + "/" + item.EmployeeId + ".jpg"))
                                {
                                    <img  src="~/UserProfilePicture/@(item.EmployeeId).jpg" />
                                }
                                else
                                {
                                    <img  src="~/UserProfilePicture/Default.jpg" />
                                }
                            </a>
                            <div class="media-body">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.DisplayName): </span><span class="media-heading font-normal">@Html.DisplayFor(modelItem => item.DisplayName)</span>

                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-normal"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                                </div>
                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-normal"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                                </div>
                                <div class="">
                                    <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-normal"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                                </div>

                                @*<ul class="list-inline list-unstyled">
                                    <li><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                    <li>|</li>
                                    <li>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
            <br />
        }
        else
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        <span class="font-bold">There are no winners in selected award period!</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>