<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAMEWORX</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/Template-css/animate.css" rel="stylesheet">
    @*<link href="~/Content/Template-css/style.css" rel="stylesheet">*@

    <!-- Sweet Alert -->
    <link href="~/Content/Template-css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="~/Content/Template-css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Swtiches -->
    <link href="~/Content/Template-css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Searchable drop down -->
    <link rel="stylesheet" type="text/css" href="~/Content/Template-css/plugins/selectize/selectize.css" />
    <style>
        /*Start this is side bar theme css*/
        .pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done #page-wrapper, .pace-done .footer {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

        .nav > li > a:hover, .nav > li > a:focus {
            text-decoration: none !important;
            background-color: #07C !important;
            color: #a7b1c2;
        }

        .navbar-default {
            background-color: transparent;
            border-color: #006cb6;
        }

        .nav > li.active > a {
            color: #ffffff;
        }

        .nav > li > a {
            color: #a7b1c2;
            font-weight: 600;
            padding: 14px 20px 14px 25px;
        }
        /* End this is side bar theme css*/
        .top-header {
            background-color: #fff;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 2000;
            height: 100px;
        }

        * {
            padding: 0px;
            margin: 0px;
        }

        .bbl {
            border-bottom: 3px solid #e7eaec;
        }

        .mbs, .mvs, .mas {
            margin-bottom: 5px;
        }

        .mts, .mvs, .mas {
            margin-left: 40px;
            margin-top: 5px;
        }

        img {
            vertical-align: middle;
            border: 0;
        }

        .body-content {
            margin: 5% 0 0 0;
        }

        .footer {
            background: none repeat scroll 0 0 white;
            border-top: 1px solid #e7eaec;
            bottom: 0;
            left: 0;
            padding: 10px 20px;
            right: 0;
        }

        .welcome-message {
            font-size: 14px;
            font-weight: 600;
            margin-right: 20px;
        }

        #closebtn {
            position: absolute;
            left: 50%;
            bottom: 1px;
        }
        /*.customdivmenu li a{
            background-color:#005c99;
            color:white;
        }
        .customdivmenu li a:hover{
            color:black;
        }*/
        /*li .active{
            background-color:#99d6ff;
        }*/
        .nav > li.active {
            background: #0063a7;
        }

        #signout a:hover {
            color: #99AACB;
        }

        .navbar-fixed-top, .navbar-static-top {
            background: white;
        }

        .menu ul li ul {
            display: none;
        }

        .metismenu .plus-minus,
        .metismenu .plus-times {
            float: right;
        }

        .metismenu .arrow {
            float: right;
            line-height: 1.42857;
        }

        .metismenu .glyphicon.arrow:before {
            content: "\e079";
        }

        .metismenu .active > a > .glyphicon.arrow:before {
            content: "\e114";
        }

        .metismenu .fa.arrow:before {
            content: "\f104";
        }

        .metismenu .active > a > .fa.arrow:before {
            content: "\f107";
        }

        .metismenu .ion.arrow:before {
            content: "\f3d2";
        }

        .metismenu .active > a > .ion.arrow:before {
            content: "\f3d0";
        }

        .metismenu .fa.plus-minus:before,
        .metismenu .fa.plus-times:before {
            content: "\f067";
        }

        .metismenu .active > a > .fa.plus-times {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .metismenu .active > a > .fa.plus-minus:before {
            content: "\f068";
        }

        .metismenu .collapse {
            display: none;
        }

            .metismenu .collapse.in {
                display: block;
            }

        .metismenu .collapsing {
            position: relative;
            height: 0;
            overflow: hidden;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
            -webkit-transition-duration: .35s;
            transition-duration: .35s;
            -webkit-transition-property: height, visibility;
            transition-property: height, visibility;
        }

        #ExtesionMenu {
            display: block;
        }

        #side-menu li>ul{
            display:none;
        }
    </style>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>*@
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("GetAllCategories", "Frameworxproject")"><img src="~/Images/logo.svg" class="img-responsive" style="width:200px;" alt="logo"></a>
                </div>
                @Html.Partial("_LoginPartial")
                @*<ul class="nav navbar-nav pull-right">
                        @Html.Partial("_LoginPartial")
                        @if (Request.IsAuthenticated)
                        {
                            var userName = @User.Identity.Name;
                            var data = userName.Split('.', '@');
                        <li class="dropdown">

                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <span class="hidden-sm hidden-xs">
                                    <span class="m-r-sm text-muted welcome-message">Welcome Test User</span> <i class="fa fa-chevron-down"></i>
                                </span>
                                <span class="hidden-md hidden-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                            </a>
                        </li>
                    </ul>*@
                @* Sign in option below *@
                @*<ul class="nav navbar-top-links navbar-right">
                        @Html.Partial("_LoginPartial")
                        @if (Request.IsAuthenticated)
                        {
                            var userName = @User.Identity.Name;
                            var data = userName.Split('.', '@');
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <span class="hidden-sm hidden-xs">
                                        <span class="m-r-sm text-muted welcome-message">Welcome @data[0] @data[1]</span> <i class="fa fa-chevron-down"></i>
                                    </span>
                                    <span class="hidden-md hidden-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user-menu">
                                    <li>
                                        <a href='@Url.Action("SignOut", "Account")'>
                                            <div>
                                                LOGOUT
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>*@
            </div>
        </nav>
        <div class="container-fluid body-content" style="margin-top:75px">
            <div class="row">
                @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 same-bx-height" style="position:fixed;left:0;background:#81D4FA;">
                        @*<ul class="nav nav-pills nav-stacked customdivmenu" style="padding-top:15%">
                            <li id="GetAllCategories"><a href='@Url.Action("GetAllCategories", "FrameworxProject")'>Home</a></li>
                            <li id="ShowExtensionCode"><a  href='@Url.Action("ShowExtensionCode", "Extension")'>Extension Code List</a></li>
                            <li id="ShowMyExtensionCode"><a href='@Url.Action("ShowMyExtensionCode", "Extension")'>My Extension Code List</a></li>
                            <li id="ReviewExtensionCodeList"><a href='@Url.Action("ReviewExtensionCodeList", "Extension")'>Review Extension Code List</a></li>
                            <li id="ShowOtherCode"><a  href='@Url.Action("ShowOtherCode", "Extension")'>Other Usefull Code List</a></li>
                            <li id="ShowMyOtherCode"><a href='@Url.Action("ShowMyOtherCode", "Extension")'>My Other Usefull Code List</a></li>
                            <li id="ReviewOtherCodeList"><a href='@Url.Action("ReviewOtherCodeList", "Extension")'>Review Other Usefull Code List</a></li>
                            <li id="AddExtensionCode"><a  href='@Url.Action("AddExtensionCode", "Extension")'>Add Extension Code</a></li>
                            <li id="AddOtherUsefullCode"><a  href='@Url.Action("AddOtherUsefullCode", "Extension")'>Add Other Usefull Code</a></li>
                        </ul>
                        <!-- START LEFT MENU -->
                        <!-- END LEFT MENU  background:#2F4050;-->
                    </div>*@
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 same-bx-height" style="position:fixed;left:0;background:#FFFFFF;left: 0px;background:#2F4050;height: 100vh;top: 75px;padding: 0;">
                    <nav class="navbar-default navbar-static-side" role="navigation">
                        <div class="sidebar-collapse" id="main-navi">
                            <ul class="nav metismenu" id="side-menu">
                                @*<ul class="nav metismenu menu" >*@
                                <li>
                                    <a href='@Url.Action("GetAllCategories", "FrameworxProject")'><i class="fa fa-user"></i> <span class="nav-label">Frameworx</span> <i class="fa fa-caret-down" style="float:right; font-size:1.2em" class="pull-right" aria-hidden="true"></i></a>
                                    <ul class="nav nav-second-level">
                                        <li id="GetAllCategories" class="icon-dashboard active"><a href='@Url.Action("GetAllCategories", "FrameworxProject")' class="active">Dashboard</a></li>
                                        <li><a href="account-company.html">Product Backlog</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='@Url.Action("GetAllCategories", "FrameworxProject")'><i class="fa fa-file-code-o"></i> <span class="nav-label">Shared Code</span> <i class="fa fa-caret-down" style="float:right; font-size:1.2em" aria-hidden="true"></i></a>
                                    <ul class="nav nav-second-level">
                                        <li id="ShowExtensionCode1"><a href='@Url.Action("ShowExtensionCode", "Extension")' class="active">Extension Method</a></li>
                                        <li><a href='@Url.Action("ShowOtherCode", "Extension")'>Code Snippets</a></li>
                                    </ul>
                                </li>
                                <!-- admin role only -->
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2" style="padding:0px">
                    <div class="gray-bg same-bx-height" style="width:100%;min-height:40vh !important;">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="footer navbar-fixed-bottom" style="position:fixed">
            <div>
                <strong>&copy;Copyright</strong> 2000 -
                <script>document.write(new Date().getFullYear())</script> Silicus Technologies
            </div>
        </div>


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    <!-- Silicus Template scripts Start-->

    @*<script src="~/Scripts/Template-js/bootstrap.min.js"></script>
    <script src="~/Scripts/Template-js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <script src="~/Scripts/Template-js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Template-js/inspinia.js"></script>*@
    @*

        <!-- Custom and plugin javascript -->

        <script src="~/Scripts/Template-js/plugins/pace/pace.min.js"></script>

        <!-- Sweet alert -->
        <script src="~/Scripts/Template-js/plugins/sweetalert/sweetalert.min.js"></script>
        <!-- Toastr -->
        <script src="~/Scripts/Template-js/plugins/toastr/toastr.min.js"></script>
        <!-- Switchery -->
        <script src="~/Scripts/Template-js/plugins/switchery/switchery.js"></script>
        <!-- searchable drop downs -->
        <script type="text/javascript" src="~/Scripts/Template-js/plugins/selectize/selectize.js"></script>*@
    <!-- Silicus Template scripts end -->

    <script>
        $(document).ready(function () {
            var ScreenHeight = $(window).height();
            var topmargin = $(".navbar-inverse").height();
            var bxHeight = ScreenHeight - ($(".footer").innerHeight() + $(".navbar-inverse").height());
            $(".same-bx-height").css("min-height", bxHeight);
            $(".same-bx-height").css("top", topmargin);
            $(".body-content").css("margin-top", topmargin);

            var url = window.location.pathname;
            var abc = url.split("/");
            var action = abc[2];
            if (action != undefined) {
                $('#' + action).addClass('active');
                if (action == "AddExtensionCode" || action == "ShowMyExtensionCode" || action == "ShowExtensionCode" || action == "ReviewExtensionCodeList") {
                    $("#ExtesionMenu").css("display", "block");
                }
                else {
                    $("#OtherCodeMenu").css("display", "block");
                }
            }
            else {
                $('#GetAllCategories').addClass('active');
            }

        });
    </script>
    <script>
        $('#example4, #example3, #example2, #example1').click(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Card Status Saved');

            }, 1300);
        });

        $('#side-menu li').find('ul').hide();
        $('#side-menu li').hover(function () {
                $(this).find('ul').show(500);
            },
            function () {
                $(this).find('ul').hide();
            });
    </script>
</body>
</html>
