@model Silicus.Ensure.Web.Models.QuestionModel
@using Kendo.Mvc.UI;
@using Silicus.Ensure.Models.Constants;

@{
    ViewBag.Title = "Add Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;border-radius:0px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        @{
            if (@Model.Id != 0)
            {
                <h1 class="dashboard-name">Edit Question</h1>
                <script>
                    $(window).load(function () {
                        var dropdownlist = $("#QuestionType").data("kendoDropDownList");
                        dropdownlist.enable(false);
                    });
                </script>
            }
            else
            {
                <h1 class="dashboard-name">Add Question</h1>
            }
        }
    </div>



</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="f1">

                @using (Html.BeginForm("AddQuestions", "QuestionBank", FormMethod.Post, new { id = "AddQuestionForm", onsubmit = "OnSubmit()" }))
                {
                    <div class="fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" id="errorDiv" style="display:none">
                                    <strong>Error!</strong> <span id="errorContent"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Question type <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">

                                            @(Html.Kendo().DropDownListFor(m => m.QuestionType)
                                                .Name("QuestionType")
                                                .Value(Model.QuestionType)
                                                .Events(e => e.Change("QuestionTypeChange"))
                                                .BindTo(EnumHelper.GetSelectList(typeof(QuestionType)))
                                                .HtmlAttributes(new { style = "width: 100%" }))
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Question <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            @Html.TextAreaFor(m => m.QuestionDescription, new { @rows = "5", @class = "form-control " })
                                            @Html.ValidationMessageFor(m => m.QuestionDescription)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="practical">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-lg-8">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <div class="form-group">
                                                <label class="">Answer choices <span style="color:red">*</span></label>
                                            </div>
                                        </div>
                                        <div id="rowOpt1">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group" id="answerDiv">
                                                        <div class="input-group-addon">
                                                            @Html.CheckBoxFor(y => y.IsAnsOption1, new { @class = "ansCheckBox chkValidation" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option1, new { @class = "form-control", Value = @Model.Option1 })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt1").HtmlAttributes(new { type = "button", param = "1", style = "display:none;padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt2">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                            @Html.CheckBoxFor(y => y.IsAnsOption2, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option2, new { @class = "form-control", Value = @Model.Option2 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt2").HtmlAttributes(new { type = "button", param = "2", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt3">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                           @Html.CheckBoxFor(y => y.IsAnsOption3, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option3, new { @class = "form-control", Value = @Model.Option3 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                               @(Html.Kendo().Button().Name("btnAddOpt3").HtmlAttributes(new { type = "button", param = "3", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                            @(Html.Kendo().Button().Name("btnDelOpt3").HtmlAttributes(new { type = "button", param = "3", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt4">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                           @Html.CheckBoxFor(y => y.IsAnsOption4, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option4, new { @class = "form-control", Value = @Model.Option4 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt4").HtmlAttributes(new { type = "button", param = "4", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                                @(Html.Kendo().Button().Name("btnDelOpt4").HtmlAttributes(new { type = "button", param = "4", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt5">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                            @Html.CheckBoxFor(y => y.IsAnsOption5, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option5, new { @class = "form-control", Value = @Model.Option5 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt5").HtmlAttributes(new { type = "button", param = "5", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                                @(Html.Kendo().Button().Name("btnDelOpt5").HtmlAttributes(new { type = "button", param = "5", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt6">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                           @Html.CheckBoxFor(y => y.IsAnsOption6, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option6, new { @class = "form-control", Value = @Model.Option6 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt6").HtmlAttributes(new { type = "button", param = "6", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                                @(Html.Kendo().Button().Name("btnDelOpt6").HtmlAttributes(new { type = "button", param = "6", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt7">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                            @Html.CheckBoxFor(y => y.IsAnsOption7, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option7, new { @class = "form-control", Value = @Model.Option7 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnAddOpt7").HtmlAttributes(new { type = "button", param = "7", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                                                @(Html.Kendo().Button().Name("btnDelOpt7").HtmlAttributes(new { type = "button", param = "7", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                        <div id="rowOpt8">
                                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group form-group">
                                                        <div class="input-group-addon">
                                                            @Html.CheckBoxFor(y => y.IsAnsOption8, new { @class = "ansCheckBox" })
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Option8, new { @class = "form-control", Value = @Model.Option8 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                @(Html.Kendo().Button().Name("btnDelOpt8").HtmlAttributes(new { type = "button", param = "8", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                        </div>
                                       
                                            <div class="col-sm-8 col-md-8 col-lg-6">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-info" id="IsAllowedmoreThanOneAns">
                                                        <input id="checkbox33" type="checkbox">
                                                        <label for="checkbox33">Allow more than one answer to this question</label>
                                                    </div>
                                                    @Html.HiddenFor(y => y.AnswerType)
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="practicalAns">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Answer <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            @Html.TextAreaFor(m => m.Answer, new { @rows = "5", @class = "form-control " })
                                            @Html.ValidationMessageFor(m => m.Answer)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Skill tags <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">

                                            @(Html.Kendo().MultiSelectFor(m => m.SkillTag)
                                                .DataTextField("TagName")
                                                .DataValueField("TagId")
                                                .Placeholder("--Select--")
                                                .BindTo(Model.SkillTagsList)
                                                .Value(Model.SkillTag)
                                                .HtmlAttributes(new { style = "width: 100%" }))
                                            @Html.ValidationMessageFor(m => m.SkillTag)
                                        </div>

                                    </div>

                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <a style="padding:2px 12px;" class="themeColorBlue btn btn-primary" href="#" onclick="AddTag();"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Proficiency <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-6">
                                        <div class="form-group">
                                            @(Html.Kendo().DropDownListFor(m => m.ProficiencyLevel)
                                                .Name("ProficiencyLevel")
                                                .OptionLabel("--Select--")
                                                .Value(Model.ProficiencyLevel)
                                                .BindTo(EnumHelper.GetSelectList(typeof(Proficiency)))
                                                .HtmlAttributes(new { style = "width: 100%" }))
                                            @Html.ValidationMessageFor(m => m.ProficiencyLevel)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Duration (min) <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(y => y.Duration, new { @type = "number", @min = "1", @max = "360", @class = "form-control", @style = "width:100%;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="">Marks <span style="color:red">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(y => y.Marks, new { @type = "number", @min = "1", @max = "100", @class = "form-control", @style = "width:100%;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row M-T15">

                            <div class="pull-right">
                                <input type="submit" name="btnSaveAndAddNewQuestion" id="btnSaveAndAddNewQuestion" value="Save & add another question" class="btn btn-primary M-T4" />
                                <input type="submit" style="width: 70px;margin-left:1px;" id="btnSave" name="btnSave" value="Save" class="btn btn-primary M-T4" />
                                <input type="button" name="btnCancel" value="Cancel" onclick="OnCancel()" class="btn btn-secondary M-T4" />
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.OptionCount, new { Value = @Model.OptionCount })
                        <input type="hidden" name="CreatedOn" value="@Model.CreatedOn" />
                        @Html.HiddenFor(m => m.CreatedBy, new { Value = @Model.CreatedBy })
                        @Html.HiddenFor(m => m.Id, new { Value = @Model.Id })
                        @Html.HiddenFor(m => m.Edit, new { Value = @Model.Edit })

                        <script>

                            window.onbeforeunload = function () {
                                return "Do you really want to close?";
                            };

                                                                $('#btnSave').click(function()
                                                                {
                                                                    window.onbeforeunload = null;
                                                                    $(window).unbind('unload');
                                                                });

                            $('#btnSaveAndAddNewQuestion').click(function()
                            {
                                window.onbeforeunload = null;
                            });

                            function isAnySelectedAns(input)
                            {
                                $('#IsAnsOption1_validationMessage').appendTo('#answerDiv');
                                var qType = $('#QuestionType').val();
                                if (input.is("[name=IsAnsOption1]") && qType == 1) {
                                    input.attr("data-IsAnsOption1-msg", "Please select at least single Answer.");
                                    return $(".ansCheckBox:checked").length>0;
                                }
                                return true;
                            }
                            function validateOtherOptions(input, params,optionNo)
                            {
                                var qType = $('#QuestionType').val();
                                if (input.is("[name=Option"+optionNo+"]") && qType == 1 && input.is(".otherOption")) {
                                    input.attr("data-Option"+optionNo+"-msg", "Option "+optionNo+" can't be blank.");
                                    return input.val().trim()!="";
                                }
                                return true;
                            }
                            function validateOptions(input, params,optionNo)
                            {
                                var qType = $('#QuestionType').val();
                                if (input.is("[name=Option"+optionNo+"]") && qType == 1) {
                                    input.attr("data-Option"+optionNo+"-msg", "Option "+optionNo+" can't be blank.");
                                    return input.val().trim()!="";
                                }
                                return true;
                            }
                            function OnSubmit(e){
                                var dropdownlist = $("#QuestionType").data("kendoDropDownList");
                                dropdownlist.enable(true);
                            }
                            $(document).ready(function () {
                                window.onbeforeunload = function () {
                                    return "Do you really want to close?";
                                };
                                $('#addTagPopup').on('hidden.bs.modal', function () {
                                    $('.field-validation-error').hide();
                                });
                                SetNavigationMenuActive('QuestionBank');
                                $('.k-editor-toolbar').hide();
                                var questionType = $("#QuestionType").val();
                                if(questionType&&questionType==2)
                                {
                                    QuestionTypeChange();
                                }
                                $("#IsAnsOption1").removeAttr("data-val-required")
                                $("#AddQuestionForm").kendoValidator({
                                    rules: {
                                        Option1: function (input, params) {
                                            return validateOptions(input, params,1);
                                        },
                                        Option2: function (input, params) {
                                            return validateOptions(input, params,2);
                                        },
                                        Option3: function (input, params) {
                                            return validateOtherOptions(input, params,3);
                                        },
                                        Option4: function (input, params) {
                                            return validateOtherOptions(input, params,4);
                                        }
                                        ,
                                        Option5: function (input, params) {
                                            return validateOtherOptions(input, params,5);
                                        },
                                        Option6: function (input, params) {
                                            return validateOtherOptions(input, params,6);
                                        },
                                        Option7: function (input, params) {
                                            return validateOtherOptions(input, params,7);
                                        },
                                        Option8: function (input, params) {
                                            return validateOtherOptions(input, params,8);
                                        },
                                        IsAnsOption1: function (input, params) {
                                            return isAnySelectedAns(input);
                                        },
                                        Answer:function (input, params) {
                                            var qType = $('#QuestionType').val();
                                            if (input.is("[name=Answer]") && qType == 2) {
                                                input.attr("data-Answer-msg", "Answer is required.");
                                                return input.val().trim()!="";
                                            }
                                            return true;
                                        }
                                    }
                                });


                                                                    var $answerType=$("#AnswerType");
                                                                    if($answerType.val()<2)
                                                                    {
                                                                        $answerType.val(1);
                                                                        $("#IsAllowedmoreThanOneAns").attr("checked",false);
                                                                    }
                                                                    else
                                                                    {
                                                                        $("#IsAllowedmoreThanOneAns").attr("checked",true);
                                                                    }
                                                                    $("#IsAllowedmoreThanOneAns").on("click",function()
                                                                    {
                                                                        $("#AnswerType").val($("#IsAllowedmoreThanOneAns").is(":checked")?2:1);
                                                                        var $ansCheckBoxes=$(".ansCheckBox:checked");
                                                                        if($ansCheckBoxes.length>1)
                                                                            $ansCheckBoxes.prop("checked",false);
                                                                    })

                                                                    $(".ansCheckBox").on("click",function()
                                                                    {
                                                                        if(!$("#IsAllowedmoreThanOneAns").is(":checked"))
                                                                        {
                                                                            $(".ansCheckBox").prop("checked",false);
                                                                            $(this).prop("checked",true);
                                                                        }
                                                                    });

                                // Hide More Than 2 Options.
                                for(var i=3; i<=8; i++)
                                {
                                    $("#rowOpt"+i).hide();
                                }
                                $("#errorDiv").hide();
                                $("#durationRequired").hide();
                                $("#practicalAns").hide();
                                var success =@Model.Success;
                                var edit="@Model.Edit";
                                if(success==1)
                                {
                                    window.onbeforeunload = null;
                                    $(window).unbind('unload');
                                    if(edit=="True"){
                                        ShowMessage("Question updated successfully.",true);
                                        window.location.href = "/QuestionBank/QuestionBank";
                                    }
                                    else{
                                        ShowMessage("Question added successfully.",true);
                                        window.location.href = "/QuestionBank/QuestionBank";
                                    }
                                }
                                if(success==2){
                                    ShowMessage("Question added successfully.",true);
                                }
                                else
                                {
                                    if(edit=="True"){
                                        var optCnt=@Model.OptionCount;
                                        OptionDispalyOnEdit(optCnt);
                                        //ShowRequiredOptionInCorrectAnswerDropDown();
                                    }
                                }

                                                                    // Check Question Type on Edit.
                                                                    var qtype=@Model.QuestionType;
                                                                    if (qtype == "2") {
                                                                        $("#practical").hide();
                                                                        $("#practicalAns").show();
                                                                        $("#durationRequired").show();
                                                                    }
                                                                });

                                                                // Show Error Animation
                                                                function ShowError(content) {
                                                                    $("#errorDiv").show();
                                                                    $("#errorContent").text(content);
                                                                    $("html, body").animate({ scrollTop: 0 }, "slow");
                                                                    $("#errorDiv").fadeOut(10000);
                                                                }

                            $('#QuestionType').change(function() {
                                var skillTag = $('#SkillTag').data("kendoMultiSelect");
                                skillTag.value([]);
                            });

                            // Question Type Change - > Set default values of controls.
                            function QuestionTypeChange() {

                                var value = $("#QuestionType").val();
                                if (value == "2") {
                                    $("#practical").hide();
                                    $("#practicalAns").show();
                                    $("#durationRequired").show();
                                } else {
                                    $("#practical").show();
                                    $("#practicalAns").hide();
                                    $("#durationRequired").hide();

                                                                    }

                                $("#Option1").val("");
                                $("#Option2").val("");
                                $("#Option3").val("");
                                $("#Option4").val("");
                                $("#Option5").val("");
                                $("#Option6").val("");
                                $("#Option7").val("");
                                $("#Option8").val("");
                                var answer = $("#Answer").data("kendoEditor");
                                //answer.value("");
                                //var correctAnswer = $('#CorrectAnswer').data("kendoMultiSelect");
                                //correctAnswer.value([]);
                                $(".ansCheckBox").prop("checked",false);

                                var answerType = $("#AnswerType");
                                answerType.val("1");
                            }

                                                                function OnCancel() {
                                                                    window.onbeforeunload = null;
                                                                    $(window).unbind('unload');
                                                                    var success="@Model.Success";
                                                                    window.location.href = "/QuestionBank/QuestionBank";
                                                                }

                                                                // On Click Of "Add" button of any Option
                                                                function OptionAdd() {
                                                                    var param = this.element.attr("param");
                                                                    OptionDispaly('A', param);
                                                                }

                                                                // On Click Of "Delete" button of any Option
                                                                function OptionDelete() {
                                                                    var param = this.element.attr("param");
                                                                    $.when(showConfirmationWindow('Are you sure,  you want to delete this record?', '&nbsp;Delete')).then(function (confirmed) {
                                                                        if (confirmed) {
                                                                            OptionDispaly('D', param);
                                                                        }
                                                                    });
                                                                }

                                                                // Display Option Method For "Add" and "Delete" button Click.
                                                                function OptionDispaly(task, opt) {
                                                                    var op = parseInt(opt);
                                                                    if (task == 'A') {
                                                                        $("#OptionCount").val(op + 1);
                                                                        var opCnt = parseInt($("#OptionCount").val());
                                                                        if (op == 2 || op == 7) {
                                                                            $("#btnAddOpt" + op).hide();
                                                                        }
                                                                        for (var i = op; i <= op + 1; i++) {
                                                                            $("#rowOpt" + i).show();
                                                                            $("#Option" + opCnt).addClass('otherOption');
                                                                            $("#btnDelOpt" + i).show();
                                                                        }
                                                                        if (op != 7) {
                                                                            for (var i = op + 2; i <= 8; i++) {
                                                                                $("#rowOpt" + i).hide();
                                                                                $("#btnAddOpt" + op).hide();
                                                                            }
                                                                        }
                                                                    } else {
                                                                        var opCnt = parseInt($("#OptionCount").val());
                                                                        $("#IsAnsOption" + opCnt).prop("checked",false);
                                                                        $("#Option" + opCnt).val("");
                                                                        $("#Option" + opCnt).removeClass('otherOption');
                                                                        ;
                                                                        $("#rowOpt" + opCnt).hide();
                                                                        $("#btnAddOpt" + (opCnt - 1)).show();
                                                                        $("#OptionCount").val(opCnt - 1);
                                                                    }

                                                                }

                                                                // Display Option On Edit Question
                                                                function OptionDispalyOnEdit(opt) {
                                                                    var op = parseInt(opt);
                                                                    if (op > 2) {
                                                                        $("#btnAddOpt2").hide();
                                                                        for (var i = 3; i <= op; i++) {
                                                                            $("#rowOpt" + i).show();
                                                                            $("#btnDelOpt" + i).show();

                                                                            if (i != op)
                                                                                $("#btnAddOpt" + i).hide();
                                                                        }
                                                                    }
                                                                }

                            function saveTag()
                            {
                                if($("#tagForm").valid())
                                {
                                    $.ajax({
                                        type: "POST",
                                        url: '/Tag/Save',
                                        data: $('#tagForm').serialize(),
                                        success: function (returndata) {
                                            $("#addTagPopup").modal('hide');
                                            var $tagMultiSelect=$('#SkillTag').data('kendoMultiSelect');
                                            var multidata=$tagMultiSelect.dataSource.data();
                                            multidata.unshift({ TagName: returndata.TagName, TagId: returndata.TagId});
                                            var selectedValues=$tagMultiSelect.value().slice();
                                            selectedValues.push(returndata.TagId);
                                            $tagMultiSelect.value(selectedValues);
                                            $("#tagForm").trigger("reset");
                                        }
                                    });
                                }
                                else
                                {
                                    $('#tagForm').submit();
                                }
                            }

                                                                function AddTag()
                                                                {
                                                                    // $("#tagForm").kendoValidator();
                                                                    $("#tagForm").kendoValidator({
                                                                        rules: {
                                                                            tagNamevalidation: function (input, params) {
                                                                                if (input.is("[name='TagName']") && input.val() != "") {
                                                                                    input.attr("data-tagNamevalidation-msg", "Tag name already exists.");
                                                                                    return isTagNameAvailable("", input.val());
                                                                                }

                                            return true;
                                        }
                                    }
                                });
                                $('#TagName').val("");
                                $('#Description').val("");
                                $("#addTagPopup").modal('show');
                            }

                                                                function isTagNameAvailable(existingName,updatedName)
                                                                {
                                                                    var isAvailable = true;
                                                                    if (existingName != updatedName) {
                                                                        $.ajax({
                                                                            type: "POST",
                                                                            url: '/Tag/IsDuplicateTagName',
                                                                            async: false,
                                                                            data: { existingTagName: existingName, tagName: updatedName },
                                                                            success: function (returndata) {
                                                                                if (returndata == true) {
                                                                                    isAvailable = true;
                                                                                }
                                                                                else {
                                                                                    isAvailable = false;
                                                                                }
                                                                            }
                                                                        });
                                                                    }
                                                                    return isAvailable;
                                                                }


                        </script>
                        <style>
                            .height {
                                height: 250px;
                            }

                            .required {
                                color: red;
                            }
                        </style>

                    </div>

                }
            </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" onclick="OnCancel();">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="OnCancel();">&times;</button>
                    <h4 class="modal-title"><span id="msgMain">Success!</span></h4>
                </div>
                <div class="modal-body">
                    <p id="msgContent">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="OnCancel();">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="addTagPopup" role="dialog">
        <form id="tagForm" action="/Tag/Save" method="post">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span>Add skill tag</span></h4>
                    </div>
                    <div class="modal-body">

                        @Html.Partial("~/Views/Shared/EditorTemplates/TagEditorTemplate.cshtml", new Silicus.Ensure.Models.DataObjects.Tags())

                    </div>
                    <div class="modal-footer">
                        <button type="button" style="width:70px;" onclick="saveTag()" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

