@model Silicus.ProjectTracker.Web.Models.ChangePasswordModel
@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"> </script>

<div id="customfilterform">
 
    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "CreateChangePasswordSuccess",
        OnFailure = "CreateChangePasswordFailure"
        

    }))
    {
        @Html.AntiForgeryToken()
        <span style="color: red"> @Html.ValidationSummary(true) </span> 
        <div class="rowcontainer">
            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7">
                <div class="rowcontainer">
                        @Html.LabelFor(m => m.OldPassword, new { @class="req"})
                        @Html.EditorFor(model => model.OldPassword, new{ type="password", @onblur="showCancelPwd1();",tabindex=1 })
                        <a href="#" class="iconoldpassword" id="crosspassword0"></a>
                        @Html.ValidationMessageFor(model => model.OldPassword) 
                </div>
       
                <div class="rowcontainer">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword, new { @class="req"})
                        @Html.EditorFor(model => model.NewPassword, new{ type="password", @onblur="showCancelPwd2();",tabindex=2 })
                        <a href="#" class="iconnewpassword" id="crosspassword1"></a>
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div class="rowcontainer">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class="req"})
                        @Html.EditorFor(model => model.ConfirmPassword, new{ type="password", @onblur="showCancelPwd3();",tabindex=3 })
                        <a href="#" class="iconconfirmpassword" id="crosspassword2"></a>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
         
         
                <div class="rowcontainer">
                    <input type="submit" value="Submit" name="Submit" class="mt25 btn btn-silicus" />
                </div>
                <div class="rowcontainer">
                    <p  class="successmsgnofont pt40" style="display:none" >Password change successful.<br />A confirmation will be sent to your email address.</p>
                    <p class="errormsgnofont pt40" style="display:none" >The current password is incorrect or the new password is invalid.</p>
                </div>
                <div class="rowcontainer displaymsg mt20">
            
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5 mt30" style="font-size: 12px;padding-top: 58px;">
                Is greater than or equal to eight characters.<br />
                Is less than or equal to twenty characters. <br />
                Contains at least one digit.<br />
                Contains atleast one special (non-alphanumeric) character.
            </div>
        </div>
    }
</div>

<script type="text/javascript">
  
    $("label.req").append("<span>*</span>");

    
        $("#OldPassword").keypress(function () {
            //alert("pressed");
            if ($("#OldPassword").val() == "") {
                $("a.iconoldpassword").hide();
            }
            else {
                $("a.iconoldpassword").show();
                $("a.iconoldpassword").css("display", "block");
            }
        });

        $("#OldPassword").keyup(function () {
            if ($("#OldPassword").val() == "") {
                $("a.iconoldpassword").hide();
            }
            else {
                $("a.iconoldpassword").show();
                $("a.iconoldpassword").css("display", "block");
            }
        });

        $("#NewPassword").keypress(function () {
            //alert("pressed");
            if ($("#NewPassword").val() == "") {
                $("a.iconnewpassword").hide();
            }
            else {
                $("a.iconnewpassword").show();
                $("a.iconnewpassword").css("display", "block");
            }
        });

        $("#NewPassword").keyup(function () {
            if ($("#NewPassword").val() == "") {
                $("a.iconnewpassword").hide();
            }
            else {
                $("a.iconnewpassword").show();
                $("a.iconnewpassword").css("display", "block");
            }
        });

        $("#ConfirmPassword").keypress(function () {
            //alert("pressed");
            if ($("#ConfirmPassword").val() == "") {
                $("a.iconconfirmpassword").hide();
            }
            else {
                $("a.iconconfirmpassword").show();
                $("a.iconconfirmpassword").css("display", "block");
            }
        });

        $("#ConfirmPassword").keyup(function () {
            if ($("#ConfirmPassword").val() == "") {
                $("a.iconconfirmpassword").hide();
            }
            else {
                $("a.iconconfirmpassword").show();
                $("a.iconconfirmpassword").css("display", "block");
            }
        });
        

        $("#crosspassword0").click(function () {
            $(this).css("display", "none");
            $("#OldPassword").val('');
        });

        $("#crosspassword1").click(function () {
            $(this).css("display", "none");
            $("#NewPassword").val('');
        });

        $("#crosspassword2").click(function () {
            $(this).css("display", "none");
            $("#ConfirmPassword").val('');
        });
    
        function CreateChangePasswordSuccess(data) {
            
            
            if (data.Validated) {
                $(".successmsgnofont").show();
                $(".errormsgnofont").hide();
            }

            else {

                $(".errormsgnofont").show();
                $(".successmsgnofont").hide();
            }
        }


        function CreateChangePasswordFailure(data) {
            alert("A java script error occured: " + data);
        }

        function showCancelPwd1() {
            if ($("#OldPassword").val() == "")
            { $(".iconoldpassword").hide(); }
            else
                $(".iconoldpassword").show();
        }

        function showCancelPwd2() {
            if ($("#NewPassword").val() == "")
            { $(".iconnewpassword").hide(); }
            else
                $(".iconnewpassword").show();
        }

        function showCancelPwd3() {
            if ($("#ConfirmPassword").val() == "")
            { $(".iconconfirmpassword").hide(); }
            else
                $(".iconconfirmpassword").show();
        }
   
</script>