@model Silicus.ProjectTracker.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
  
}
 
<div id="loginpanel" class="gencontainer">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 positionrel">
            <div class="loginleftpanel">
                <div id="slider">
                    <div class="sliderrowcontainer" id="loginpanelslider">
                        <div class="sliderchild child1">
                            <div class="SavedSearchPanel">
                                <h2 class="searchtitle">@switch (Model.UserType)
                                                        {
	                                                        case "New":
		                                                        <span>Set Password</span>
		                                                        break;
	                                                        case "Existing":
																<span>Password Reset</span>
		                                                        break;
                                                        }
                                </h2>
                                <div class="logincontentbox">
                                    <div class="rowcontainer logintop forgotpwdcontent">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                   <span style="color: red"> @Html.ValidationSummary(true) </span>

                                                <div class="rowcontainer"><p>
                                                 @switch (Model.UserType)
                                                    {
                                                        case "New":
                                                            //@("Please enter and confirm your password to be set up for access to EDA Online.")
                                                            @("Please enter and confirm your new password to access your account.")
                                                            break;
                                                        case "Existing":
                                                            //@("Please enter and confirm your password to be reset for access to EDA Online.")
                                                            @("Please enter and confirm your new password to access your account.")
                                                            break;
                                                    }</p>
                                                </div>
                                                <div class="rowcontainer">
                                                 @Html.TextBoxFor(m => m.Password, new { type="password", @placeholder="Enter new user password", @onfocus="this.placeholder = ''", @onblur="this.placeholder = 'Enter new user password'; showCancelPwd1();",tabindex=1 })
                                                    <a href="#" class="iconusername" id="crossusername"></a>
                                                 @Html.ValidationMessageFor(m => m.Password)
                                                </div>
                                                <div class="rowcontainer">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { type="password", @class="mt10", @placeholder="Confirm your new password", @onfocus="this.placeholder = ''", @onblur="this.placeholder = 'Confirm your new password'; showCancelPwd2();",tabindex=2 })
                                                    <a href="#" class="iconpassword" id="crosspassword"></a>
                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                </div>
                                               
                                                <div class="rowcontainer">
                                                    <input type="submit" value="Submit" class="btn btn-silicus mt10 mb20" tabindex="3" />
                                                </div>
                                                 <div class="rowcontainer p0 mt30 fpwd">
                                                      <p class="mt20">Already have an account and password? <br /><a href="@Url.Action("Login", "Account")">Log In ></a></p>
                                                </div>
                                                
                                                 @Html.HiddenFor(m => m.Email)
                                                 @Html.HiddenFor(m => m.UserType)

                                            }
                                            
                                            </div>
                                        </div>
                                        @*<div class="rowcontainer loginbottom">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="mt20"><span class="bold_text">Not a Subscriber?</span><br />
                                                <span class="greytext"></span>If you are interested in becoming a subscriber to our trucking business intelligence, please contact us at @ConfigurationManager.AppSettings["ContactPhone"].  <br />Or <a href="mailto:@ConfigurationManager.AppSettings["SmtpMailSupportAddress"]?subject=Tell Me More About Commercial Trucking Business Intelligence">email</a> us for support.
                                                </p>    
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@*
<div class="gencontainer">
    <div class="container2 box">
        <h2 class="pageheading">Password Reset</h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
               <span style="color: red"> @Html.ValidationSummary(true) </span>

            <div class="rowcontainer">
             @switch (Model.UserType)
                {
                    case "New":
                        @("Please enter and confirm your password to be set up for access to EDA Online.")
                        break;
                    case "Existing":
                        @("Please enter and confirm your password to be reset for access to EDA Online.")
                        break;
                }
            </div>
            <div class="rowcontainer">
             @Html.LabelFor(m => m.Password)
             @Html.TextBoxFor(m => m.Password, new { type = "password", watermark = "Enter new user password" })<br/>
             @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="rowcontainer">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { type = "password", watermark = "Confirm your new password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="rowcontainer align_center">
                <span class="glyphicon glyphicon-lock glyicon"></span>
                <input type="submit" value="Submit" class="btn btn-silicus btnicon" />
            </div>
             @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.UserType)
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
*@

@*@section AfterContent
{
    <script src="@Url.Content("~/Scripts/Watermark/jquery.watermark.js")" type="text/javascript"></script>
    <script type ="text/javascript">
        $(document).ready(function () {
            $.addwatermarks();
        });
    </script>
}

 *@

<script>
    $(document).ready(function () {
        var panelheight = $("#wrap").height();
        $(".loginleftpanel").height(panelheight - 17);
        $(".logincontentbox").height(panelheight - 130);

        $("#Password").keypress(function () {
            //alert("pressed");
            if ($("#Password").val() == "") {
                $("a.iconusername").hide();
            }
            else {
                $("a.iconusername").show();
            }
        });

        $("#Password").keyup(function () {
            if ($("#Password").val() == "") {
                $("a.iconusername").hide();
            }
            else { $("a.iconusername").show(); }
        });


        $("#ConfirmPassword").keypress(function () {
            //alert("pressed");
            if ($("#ConfirmPassword").val() == "") {
                $("a.iconpassword").hide();
            }
            else {
                $("a.iconpassword").show();
            }
        });

        $("#ConfirmPassword").keyup(function () {
            if ($("#ConfirmPassword").val() == "") {
                $("a.iconpassword").hide();
            }
            else { $("a.iconpassword").show(); }
        });

        $("#crossusername").click(function () {
            $(this).css("display", "none");
            $("#UserName").val('');
        });

        $("#crosspassword").click(function () {
            $(this).css("display", "none");
            $("#Password").val('');
        });

    });

    function showCancelPwd1() {
        if ($("#Password").val() == "")
        { $("a.iconusername").hide(); }
        else
            $("a.iconusername").show();
    }

    function showCancelPwd2() {
        if ($("#ConfirmPassword").val() == "")
        { $("a.iconpassword").hide(); }
        else
            $("a.iconpassword").show();
    }

    $(window).load(function () {
        var panelheight = $("#wrap").height();
        $(".loginleftpanel").height(panelheight - 17);
        $(".logincontentbox").height(panelheight - 130);
    });

    $(window).resize(function () {
        var panelheight = $("#wrap").height();
        $(".loginleftpanel").height(panelheight - 17);
        $(".logincontentbox").height(panelheight - 130);
    });
</script>