@model Silicus.EncourageWithAzureAd.Web.Models.NominationViewModel
@{
    ViewBag.Title = "AddNomination";
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Add Nomination</h1>
    </div>
</div>

<div class="">

    @if (ViewBag.NominationLockStatus)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="box M-T15">
                    <span class="text-danger" style="font-size:20px;margin-left:7%">The nominations period was closed..</span>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="box M-T15 M-B60">
                    <div class="f1">
                        @using (Html.BeginForm("AddNomination", "Nomination", FormMethod.Post, new { id = "addNominationForm" }))
                {
                            <div class="wizard-">
                                <div class="f1-steps" id="nomination-steps">
                                    <div class="f1-progress">
                                        <div class="f1-progress-line" data-now-value="25" data-number-of-steps="4" style="width:25%;"></div>
                                    </div>
                                    <div class="f1-step active" step="1">
                                        <div class="f1-step-icon" style="cursor:pointer;" onclick="moveToNominationStep(1, false);"><strong class="ico-num">1</strong></div>

                                        <p>Nomination Category</p>
                                    </div>
                                    <div class="f1-step" step="2">

                                        <div class="f1-step-icon" style="cursor:pointer;" onclick="moveToNominationStep(2, false);"><strong class="ico-num">2</strong></div>

                                        <p>Employee</p>
                                    </div>
                                    <div class="f1-step" step="3">

                                        <div class="f1-step-icon" style="cursor:pointer;" onclick="moveToNominationStep(3, false);"><strong class="ico-num">3</strong></div>
                                        <p>Comments</p>
                                    </div>
                                    <div class="f1-step" step="4">

                                        <div class="f1-step-icon" style="cursor:pointer;" onclick="moveToNominationStep(4, false);"><strong class="ico-num">4</strong></div>
                                        <p>Criteria & Ratings</p>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="wizard-box" id="nominationCategory" nomination-step="1">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-5">
                                        <div class="form-group">
                                            @Html.Label("Nomination Category", htmlAttributes: new { @class = "control-label" })<span class="asterisk">*</span>
                                            @Html.DropDownListFor(model => model.AwardId, @ViewBag.Awards as SelectList, "Select", new { @class = "form-control", id = "Award" })
                                            @*<span class="help-block themeColorBlue"> Select your Nomination </span>*@
                                            @Html.ValidationMessageFor(model => model.AwardId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-actions pull-right">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(2, true);">Next&nbsp;&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-box" id="project-Dept-Resource" style="display:none;" nomination-step="2">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group M-B15">
                                            @Html.Label("Employee From", htmlAttributes: new { @class = "control-label requiredfeild" })
                                            <div class="radio-list">
                                                <label class="radio-inline p-0" style="padding-left:0px;">
                                                    <div class="radio radio-info">
                                                        @*@Html.RadioButtonFor(model => model.SelectResourcesBy, "Project", new { id = "ProjectRadioButton", value = "Project" })Project*@
                                                        <input type="radio" name="SelectResourcesBy" id="ProjectRadioButton" value="Project">
                                                        <label for="radio1">Project</label>
                                                    </div>
                                                </label>
                                                <label class="radio-inline">
                                                    <div class="radio radio-info">
                                                        @*@Html.RadioButtonFor(model => model.SelectResourcesBy, "Department", new { id = "DepartmentRadioButton", value = "Department" })Department*@
                                                        <input type="radio" name="SelectResourcesBy" id="DepartmentRadioButton" value="Department">
                                                        <label for="radio1">Department</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name=ManagerId id="ManagerId" value="@ViewBag.ManagerIdByProject">
                                @{ var projectMessage = "There are no projects under you."; }
                                @{ var departmentMessage = "There are no departments under you.";}
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-5">
                                        <div class="form-group" id="projectInput">
                                            @Html.Label("Project", htmlAttributes: new { @class = "control-label requiredfeild" })
                                            <div>
                                                @if (@ViewBag.ProjectsUnderCurrentUser != null)
                                                {
                                                    @Html.DropDownListFor(model => model.ProjectID, @ViewBag.ProjectsUnderCurrentUser as SelectList, "Select", new { @class = "form-control", id = "SelectedProject" })
                                                    @*<span class="help-block themeColorBlue"> Select your Project </span>*@
                                                    @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    <span style="color:red">@projectMessage</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="departmentInput">
                                    <div class="col-md-4">
                                        <div class="form-group" id="projectInput">
                                            @Html.Label("Department", htmlAttributes: new { @class = "control-label requiredfeild" })
                                            <div>
                                                @if (@ViewBag.DepartmentsUnderCurrentUser != null)
                                                {
                                                    @Html.DropDownListFor(model => model.DepartmentId, @ViewBag.DepartmentsUnderCurrentUser as SelectList, "Select", new { @class = "form-control", id = "SelectedDepartment" })
                                                    @*<span class="help-block themeColorBlue"> Select your Department </span>*@
                                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    <span style="color:red">@departmentMessage</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-5">
                                        <div class="form-group">
                                            @Html.Label("Employee Name", htmlAttributes: new { @class = "control-label requiredfeild" })
                                            @Html.DropDownListFor(model => model.ResourceId, ViewBag.Resources as SelectList, "Select", new { @class = "form-control", id = "Resources" })
                                            @Html.ValidationMessageFor(model => model.ResourceId, "", new { @class = "text-danger" })
                                            @*<span class="help-block themeColorBlue"> Select your Employee</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-actions pull-left">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(1, false);"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Prev</button>
                                    </div>
                                    <div class="form-actions pull-right">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(3, true);">Next &nbsp;&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-box" style="display:none;" id="comments" nomination-step="3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.Label("Comment", htmlAttributes: new { @class = "col-md-12 control-label requiredfeild" })
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.TextAreaFor(model => model.MainComment, new { @class = "form-control", placeholder = "Maximum 500 words", id = "managerComment", name = "defaultconfig", rows = "5", maxlength = 500 })
                                                        <div style="text-align:right;">
                                                            @Html.ValidationMessageFor(model => model.MainComment, "", new { @class = "text-danger", id = "managerCommentValidationmessage" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-actions pull-left">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(2, false);"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Prev</button>
                                    </div>
                                    <div class="form-actions pull-right">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(4, true);">Next&nbsp;&nbsp;<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="criteriaContainer" style="display:none;" nomination-step="4">
                                <div class="row M-T15" id="disclaimer">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger">
                                            <strong>Disclaimer :</strong> Mention your comments against the criteria your nominee fits in. Please note that it’s NOT mandatory to mention comments against each criteria given below. You can leave the comment area blank for the criteria which are not relevant.
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" style="display:none">
                                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger", id = "criterisCommentValidationmessage" })
                                        </div>
                                    </div>
                                </div>

                                <div id="criteria-rating">
                                </div>

                                <div class="row M-T15">
                                    <div class="form-actions pull-left">
                                        <button type="button" class="btn btn-success btn-nav" onclick="moveToNominationStep(3,false);"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Prev</button>
                                    </div>
                                    <div class="pull-right btn-nav">
                                        <input type="button" name="submit" value="Save Draft" id="savebutton" class="btn btn-primary" onclick="return checkValidationOnSaveDraft();" />
                                        @if (ViewBag.NominationLockStatus)
                                        {
                                            <input type="button" name="submit" value="Submit" id="submitButton" class="btn btn-primary" onclick="return checkValidationOnSubmit();" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="button" name="submit" value="Submit" id="submitButton" class="btn btn-primary" onclick="return checkValidationOnSubmit();" />
                                        }
                                        <input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'" />
                                    </div>
                                </div>

                            </div>
                                    }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
                                    }

</div>

<script src="~/js/plugins/validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/js/bootstrap-maxlength.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ProjectRadioButton').prop('checked', true);
        $("#departmentInput").hide();
        $("#label").hide();
    });

    $("#ProjectRadioButton").change
        (
         function () {
             $("#departmentInput").hide();
             $("#SelectedProject").prop('selectedIndex', 0);
             $('#Resources').empty();
             $('#Resources').append($("<option selected></option>").val(null).html("Select"));
             $("#projectInput").show();

             $("#ManagerId").val('@ViewBag.ManagerIdByProject');
         });

    $("#DepartmentRadioButton").change
        (
          function () {
              $("#projectInput").hide();
              $("#SelectedDepartment").prop('selectedIndex', 0);
              $('#Resources').empty();
              $('#Resources').append($("<option selected></option>").val(null).html("Select"));
              $("#departmentInput").show();

              $("#ManagerId").val('@ViewBag.ManagerIdByDepartment');
          });

    $("#Award").change(function () {

        if (this.value == '1' || this.value == '2' || this.value == '5') {
            $("#label").show();
        } else {
            $("#label").hide();
        }

        $('#ProjectRadioButton').prop('checked', true);
        $('#DepartmentRadioButton').prop('checked', false);
        $("#projectInput").show();
        $("#departmentInput").hide();
        $("#SelectedProject").prop('selectedIndex', 0);
        $("#SelectedDepartment").prop('selectedIndex', 0);
        $('#Resources').empty();
        $('#Resources').append($("<option selected></option>").val(null).html("Select"));

        $('#disclamer').prop('hidden', false);

        var selectdAward = $("#Award").val();
        $('#criteria-rating').empty();
        //var ServiceUrl = "/Nomination/CriteriasForAward?awardId=" + selectdAward;
        var ServiceUrl = "/Nomination/CriteriasForAwardPartialView?awardId=" + selectdAward;

        $.ajax({
            type: 'post',
            url: ServiceUrl,
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#criteria-rating').html(data);
            }
        });


    });

    function edValueKeyPress(key) {
        $('div.textarea' + key + '').html(text_remaining + ' characters remaining').show();
        var text_max = 500;

        var text_length = $('#comment' + key + '').val().length;
        var text_remaining = text_max - text_length;
        $('div.textarea' + key + '').html(text_remaining + ' characters remaining');
    }

    function hideRemainingCharacterText(key) {
        var text_max = 500;

        var commentTextAreaId = '#comment' + key;
        var text_length = $(commentTextAreaId).val().length;
        var text_remaining = text_max - text_length;
        $('div.textarea' + key + '').html(text_remaining + ' characters remaining').hide();

        if ($(commentTextAreaId).attr("iscommentrequired") == "true") {
            if ($(commentTextAreaId).val().trim() == "") {
                $(commentTextAreaId).addClass("noCommentError");
            } else {
                $(commentTextAreaId).removeClass("noCommentError");
    }
        }
    }


    $("#SelectedProject").change(function () {
        var selectedProject = $("#SelectedProject").val();
        var selectedAward = $("#Award").val();
        $('#Resources').empty();
        $('#Resources').append($("<option selected></option>").val(null).html("Select"));

        $.ajax({
            type: 'post',
            url: '@Url.Action("ResourcesInProject", "Nomination")',
            data: JSON.stringify({ engagementID: selectedProject, awardId: selectedAward }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                for (var key in data) {
                    $('#Resources')
                        .append($("<option></option>").val(data[key].ID).html(data[key].DisplayName));
                }
            }
        });
    });

    $("#SelectedDepartment").change(function () {
        var selectedDept = $("#SelectedDepartment").val();
        var selectedAward = $("#Award").val();
        //var ServiceUrl = "/Nomination/ResourcesInDepartment?departmentID=" + selectedDept +""+ selectedAward;
        var ServiceUrl = '@Url.Action("ResourcesInDepartment", "Nomination")';
        $('#Resources').empty();
        $('#Resources').append($("<option selected></option>").val(null).html("Select"));

        $.ajax({
            type: 'GET',
            url: ServiceUrl,
            //url: "/Nomination/ResourcesInDepartment",
            data: { departmentID: selectedDept, awardId: selectedAward },
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                for (var key in data) {
                    $('#Resources')
                        .append($("<option></option>").val(data[key].ID).html(data[key].DisplayName));
                }
            },
            error: function(xhr) {
                alert(xhr.toString());
            }
        });
    });

    function checkValidationOnSubmit() {

        if ($('#addNominationForm').valid()) {
            var comments = 0;
            $("#criteriaTable").find("textarea").each(function(data) {
                if ($(this).val().trim())
                    comments++;
            });
            var weightage = 0;
            $("#criteriaTable .ddlWeightage").each(function(data) {
                if ($(this).val().trim()) {
                    weightage = weightage + parseInt($(this).val());
                }
            });
            if (weightage > 100 || weightage < 100) {
                swal("Error", "Sum of total weightages assigned to criteria should be 100%");
                return false;
            }
            if (comments < 1) {
                $("#criterisCommentValidationmessage").parent().show();
                $("#criterisCommentValidationmessage").text("Enter at least one criteria comment");
                return false;
            } else if (!checkIfCommentsAreRequired()) {
                return false;
            }
            else {
                swal({
                    title: "Submit Nomination",
                    text: "Do you want to nominate this candidate?",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#0070b9",
                    confirmButtonText: "Yes!",
                    cancelButtonText: "No!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function(isConfirm) {
                   if (isConfirm) {
                       var modelbjectToSend = $('#addNominationForm').serialize() + '&' + $.param({ 'submit': "Submit" }, true);

                       $.ajax({
                           type: 'post',
                           url: '@Url.Action("AddNomination", "Nomination")',
                           dataType: 'json',
                           async: false,
                           data: modelbjectToSend,
                                success: function(data) {
                               swal(data.ErrorMessage);
                               if (data.nominationExceed) {
                                   swal({
                                       title: "Error",
                                       text: data.message,
                                       showCancelButton: false,
                                       confirmButtonColor: "#88a364",
                                       confirmButtonText: "Ok",
                                   },
                                            function() {
                                 if (isConfirm) {
                                     var managerId = $("#ManagerId").val();
                                     window.location.href = '/Nomination/GetNominationList';
                                 }
                             });

                                    } else {
                                   swal({
                                       title: "Nomination Submitted!",
                                       text: "",
                                       type: "info",
                                       showCancelButton: false,
                                       confirmButtonColor: "#88a364",
                                       confirmButtonText: "Ok",
                                   },
                                            function() {
                                  if (isConfirm) {
                                      var managerId = $("#ManagerId").val();
                                      window.location.href = '/Nomination/GetNominationList';
                                  }
                              });
                               }


                           },
                                error: function(error) {
                               debugger;
                               if (error.responseText != null && error.responseText != undefined && error.responseText != '') {
                                   swal("Error", error.responseText.replace(/['"]+/g, ''));
                               }
                               else {
                                   swal("Error", "Oops! Something wrong happened..");
                               }
                           }
                       });
                   } else {
                       swal("Cancelled", "Nomination Cancelled");
                   }
               });
            }
        }
        else {
            return false;
        }
    }

    function checkValidationOnSaveDraft() {
        if ($('#addNominationForm').valid()) {
            swal({
                title: "Save Nomination",
                text: "Do you want to save this nomination?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#0070b9",
                confirmButtonText: "Yes!",
                cancelButtonText: "No!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
           function (isConfirm) {
               if (isConfirm) {
                   debugger;
                   var modelbjectToSend = $('#addNominationForm').serialize() + '&' + $.param({ 'submit': "Save" }, true);

                   $.ajax({
                       type: 'post',
                       url: '@Url.Action("AddNomination", "Nomination")',
                       data: modelbjectToSend,
                       success: function (data) {
                           if (data.nominationExceed) {
                               swal({
                                   title: "Error",
                                   text: data.message,
                                   showCancelButton: false,
                                   confirmButtonColor: "#88a364",
                                   confirmButtonText: "Ok"
                               },
                     function () {
                         if (isConfirm) {
                             var managerId = $("#ManagerId").val();
                             window.location.href = '/Nomination/GetNominationList';
                             @*//window.location.href = '@Url.Action("SavedNomination", "Nomination")';*@
                         }
                     });
                           }
                           else {
                               swal({
                                   title: "Nomination Saved!",
                                   showCancelButton: false,
                                   confirmButtonColor: "#88a364",
                                   confirmButtonText: "Ok"
                               },
                          function () {
                              if (isConfirm) {
                                  var managerId = $("#ManagerId").val();

                                  window.location.href = '/Nomination/GetNominationList';
                                  @*//window.location.href = '@Url.Action("SavedNomination", "Nomination")';*@
                              }
                          });
                           }


                       },
                       error: function (data) {
                           debugger;
                           if (data.responseText != null && data.responseText != undefined && data.responseText != '') {
                               swal("Error", data.responseText.replace(/['"]+/g, ''));
                           }
                           else {
                               swal("Error", "Oops! Something wrong happened..");
                           }
                       }
                   });
               } else {
                   swal("Cancelled", "Nomination Cancelled");
                   //window.location.href = '@Url.Action("AddNomination", "Nomination")';
               }
           });

        }
        else {
            return false;
        }
    }


    $("#criteriaTable").on('click', function () { $("#criterisCommentValidationmessage").text("") });
    $("#managerComment").on('click', function () { $("#managerCommentValidationmessage").text("") });

    function moveToNominationStep(stepNumber, toBeValidated) {
        //debugger;
        if (toBeValidated) {
            if (!$('#addNominationForm').valid()) {
                return false;
            }
        }

        //To move the number grid on the Top -- Start

        var stepId = "[step=" + stepNumber + "]";
        $("#nomination-steps").find(".f1-step.active").removeClass("active");
        $("#nomination-steps").find(stepId).addClass("active");

        //To move the number grid on the Top -- End

        //To move to the next step -- Start

        var nominationStepId = "[nomination-step='" + stepNumber + "']";
        $("[nomination-step]").hide();
        $(nominationStepId).show();

        //To move to the next step -- End
    }

    function checkIfCommentsAreRequired() {
        var areAllMandatoryCommentsProvided = false;
        var countOfEmptyComments = 0;
        var criteriaComments = $("[isCommentRequired]");
        $.each(criteriaComments, function () {
            if ($(this).attr("iscommentrequired") == "true") {
                if ($(this).val().trim() == "") {
                    $(this).addClass("noCommentError");
                    countOfEmptyComments++;
                } else {
                    $(this).removeClass("noCommentError");
                }
            }
        });

        if (countOfEmptyComments == 0) {
            areAllMandatoryCommentsProvided = true;
            $("#criterisCommentValidationmessage").parent().hide();
            $("#criterisCommentValidationmessage").text("");
        } else {
            $("#criterisCommentValidationmessage").parent().show();
            $("#criterisCommentValidationmessage").text("Criteria Comment is mandatory if rating is provided for the criteria!");
        }
        return areAllMandatoryCommentsProvided;
    }
</script>