@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.ReviewSubmitionViewModel>

<div class="row border-bottom">
    <nav class="navbar  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading border-bottom" style="width:90%;">
    <div class="col-sm-12">
        <h1>Review Details</h1>
    </div>
</div>
<style>
    .container .content {
        display: none;
        padding: 5px;
    }
     .page-heading {
        margin-left:0%;
    }

    .navbar-minimalize{
    margin-left:35%;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-left:4%">
        @using (Html.BeginForm())
        {
            @*@Html.HiddenFor(modelItem => modelItem.ReviewerId)*@



            @Html.HiddenFor(modelItem => modelItem.FirstOrDefault().NominationId);
            <table class="table table-hover issue-tracker white-bg" style="width:80%;">
                <thead>
                    <tr>
                        <td>
                            <label> Review For:</label>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().NomineeName)
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Project/Department:</label>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().ProjectOrDepartment)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Manager:</label>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().Manager)
                        </td>
                    </tr>
                </thead>
            </table>
            <br />

            <table class="table table-hover issue-tracker" style="width:80%;table-layout:fixed">
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().Manager) Says:
                    </th>
                    </tr>
                <tr>
                    <td class="more white-bg" style="word-wrap: break-word;">
                        <div>@Model.FirstOrDefault().ManagerComment</div>
                    </td>
                </tr>
            </table>
            <br />


                 var reviewerIndex = 1;
               
                foreach (var item in Model)
                {
                <div class="white-bg" style="width:80%">
              

                    <div class="row col-md-8">
                        @Html.Label("Review Comments By : Reviewer "+ @reviewerIndex++ , new { style = "margin-left:3%;color: #0067AA;" })
                        <div class="row">&nbsp;</div>
                    </div>
                    <a class="header"><div>Expand the Comments</div></a>

                    <table class="table table-hover issue-tracker content">
                        <thead>
                            <tr>
                                @*<th>Id</th>*@
                                <th>Criteria</th>
                                <th>Manager Comment</th>
                                <th>Reviewer Comment</th>
                                <th>Credits</th>
                            </tr>
                        </thead>
                        @{
                            var j = 0;
                            var k = 0;
                        }
                        <tbody>
                            @foreach (var criteria in item.Criterias)
                            {

                                <tr>
                                    @*<td class="col-md-1">@item.Id</td>*@
                                    @Html.Hidden("CriteriaId", @criteria.Id)
                                    <td class="col-md-4">@criteria.Title</td>

                                    @if (k < item.ManagerComments.Count() && item.ManagerComments[k].CriteriaId == criteria.Id)
                                    {
                                        @*<td class="col-md-4">@item.ManagerComments[k].Comment</td>*@
                                        <td class="more" style="word-break:break-all">@item.ManagerComments[k].Comment</td>
                                        k++;
                                    }
                                    else
                                    {
                                        <td class="more"></td>
                                    }


                                    <td class="col-md-3">@Html.TextArea("Comments[" + @j + "].Comment", item.Comments[j].Comment, htmlAttributes: new { @class = "col-md-12", @readonly = "readonly" })</td>

                                    @Html.Hidden("Comments[" + @j + "].Id", criteria.Id)
                                    <td class="col-md-1">
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                @if (item.Comments[j].Credit == true)
                                                {
                                                    <input type="checkbox" value="true" length="0" disabled="disabled" class="onoffswitch-checkbox" id='example @j' name="Comments[@j].Credit" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" value="true" length="0" disabled="disabled" class="onoffswitch-checkbox" id='example @j' name="Comments[@j].Credit">
                                                }

                                                <label class="onoffswitch-label" for="example @j" style="cursor:not-allowed;">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                j++;
                            }
                            <tr>

                                <td></td>
                                <td></td>
                                <th>Total Credits</th>
                                @*<td class="text-center">@ViewBag.creditGiven</td>*@
                                <td class="text-center">@item.TotalCredit</td>
                            </tr>
                        </tbody>
                        @if (item.ManagerComments != null)
                        {
                            for (int i = 0; i < item.ManagerComments.Count; i++)
                            {
                                @Html.HiddenFor(model => item.ManagerComments[i].Comment)
                            }
                        }
                    </table>
                </div>
                <div class="row">&nbsp;</div>
                }
           
            <div class="form-group row">
                <div style="text-align:center;width:80%;">
                    <input type="button" value="Back" class="btn btn-primary btnSameSize" onclick="location.href='@Url.Action("SavedReviews","Nomination")'" />
                </div>
            </div>

        }
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
</div>


<script src="~/js/jquery-2.1.1.js"></script>
<script>

    $(".header").click(function () {
        $header = $(this);
        $content = $header.next();
        $content.slideToggle(100, function () {
            $header.text(function () {
                //change text based on condition
                return $content.is(":visible") ? "Collapse the Comments" : "Expand the Comments";
            });
        });
    });
</script>
