@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.ReviewSubmitionViewModel>

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Review Details</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @*@Html.HiddenFor(modelItem => modelItem.ReviewerId)*@
    @Html.HiddenFor(modelItem => modelItem.FirstOrDefault().NominationId);
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-info M-T15">
                <div class="panel-heading"> <span>Review For:&nbsp; @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().NomineeName)</span></div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body" style="padding: 25px 25px 0px 25px;">
                        <table class="table table-hover issue-tracker white-bg">
                            <tr>
                                <td class="col-sm-4">
                                    <label>Project/Department:</label>
                                </td>
                                <td>
                                    @{
                                        var reviewSubmitionViewModel = Model.FirstOrDefault();
                                        string employeeFrom = string.Empty;
                                        if (reviewSubmitionViewModel != null)
                                        {
                                            employeeFrom = reviewSubmitionViewModel.ProjectOrDepartment == "" ? "Other" : reviewSubmitionViewModel.ProjectOrDepartment;
                                        }
                                    }
                                    @Html.DisplayFor(modelItem => employeeFrom)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-4">
                                    <label>Manager:</label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().Manager)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading"> <span>@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().Manager) Says:</span></div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body" style="padding: 25px 25px 0px 25px;">
                        <table class="table table-hover issue-tracker">
                            <tr>
                                <td class="moreText" style="word-wrap: break-word;">
                                    <div>
                                        @{
                                            var submitionViewModel = Model.FirstOrDefault();
                                        }
                                        @if (submitionViewModel != null)
                                        {
                                            @submitionViewModel.ManagerComment
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box M-B60">
                <div class="f1">
                    <div class="wizard-box" style="margin-top:0px;">
                        @{
                            var j = 0;
                        }
                        @foreach (var review in Model)
                        {
                            var reviewerName = review.Comments != null && review.Comments.FirstOrDefault() != null ? review.Comments.FirstOrDefault().ReviewerName + " (Reviewer)" : "Reviewer";
                            
                            <div class="white-bg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table issue-tracker">
                                                <thead>
                                                    <tr>
                                                        <th>Criteria</th>
                                                        <th colspan="4">@review.Manager (Manager)</th>
                                                        <th colspan="2">@reviewerName</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>Weightage</th>
                                                        <th>Rating</th>
                                                        <th>Points</th>
                                                        <th>Comments</th>
                                                        <th>Rating</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                
                                                @foreach (var managerComment in review.ManagerComments)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            @Html.Hidden("CriteriaId", @managerComment.CriteriaId)
                                                            @{
                                                                var criteria = review.Criterias.FirstOrDefault(mc => mc.Id == managerComment.CriteriaId);
                                                            }
                                                            <td class="col-lg-2 col-md-2 col-sm-2">@(criteria != null ? criteria.Title : "")</td>
                                                            <td class="col-lg-1 col-md-1 col-sm-1">@managerComment.Weightage</td>
                                                            <td class="col-lg-2 col-md-2 col-sm-2">
                                                                @Html.DropDownList("Comments[" + @j + "].Rating",
                                                                Enumerable.Range(1, 5).
                                                                Select(r => new SelectListItem
                                                                {
                                                                    Value = r.ToString(),
                                                                    Text = r.ToString()
                                                                }), "", new { @class = "example-square", @autocomplete = "off", @value = managerComment.Rating })
                                                            </td>
                                                            <td class="col-lg-1 col-md-1 col-sm-1">@(managerComment.Weightage * managerComment.Rating / 100.0)</td>
                                                            <td class="more col-lg-2 col-md-2 col-sm-2 col-xs-3" style="word-break:break-all">@managerComment.Comment</td>
                                                            @{
                                                                var reviewwrComment = review.Comments.FirstOrDefault(c => c.CriteriaId == managerComment.CriteriaId);
                                                            }
                                                            <td class="col-lg-2 col-md-2 col-sm-2">
                                                                @Html.DropDownList("Comments[" + j + "].Credit",
                                                         Enumerable.Range(1, 5).
                                                             Select(r => new SelectListItem
                                                             {
                                                                 Value = r.ToString(),
                                                                 Text = r.ToString()
                                                             }), "", new { @class = "example-square", @autocomplete = "off", @value = (reviewwrComment != null ? reviewwrComment.Credit : 0) })
                                                            </td>
                                                            <td class="more col-lg-3 col-md-3 col-sm-3 col-xs-3">@(reviewwrComment != null ? reviewwrComment.Comment : "")<div class="textarea"></div></td>
                                                            @Html.Hidden("Comments[" + j + "].CriteriaId", managerComment.CriteriaId)
                                                        </tr>
                                                    </tbody>
                                                    j++;
                                                }

                                                @if (review.ManagerComments != null)
                                                {
                                                    for (int i = 0; i < review.ManagerComments.Count; i++)
                                                    {
                                                        @Html.HiddenFor(model => review.ManagerComments[i].Comment)
                                                    }
                                                }

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Points:</td>
                                                    <td> @(review.ManagerComments.Sum(a => (a.Rating * a.Weightage / 100.0))) </td>
                                                    <td>
                                                        Average Ratings:
                                                    </td>
                                                    <td id="totalCredits" class="col-md-1 text-center font-bold">
                                                        @if (review.Comments != null && review.Comments.Any())
                                                        {
                                                            @(review.Comments.Average(a => a.Credit).ToString("F"))
                                                        }
                                                        else
                                                        {
                                                            @:0.00
                                            }
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row M-T15">
                        <div class="pull-right btn-nav">
                            <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("SavedReviews", "Nomination")'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/jquery.barrating.min.js"></script>
<script>

    $(".header").click(function () {
        $header = $(this);
        $content = $header.next();
        $content.slideToggle(100, function () {
            $header.text(function () {
                //change text based on condition
                return $content.is(":visible") ? "Collapse the Comments" : "Expand the Comments";
            });
        });
    });

    $(document).ready(function () {
        var ratings = $('.example-square');

        $.each(ratings, function (index) {
            var id = "#" + this.id;
            var rating = +this.getAttribute("value");

            $(id).barrating('show', {
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                readonly: true
            });

            $(id).barrating('set', rating);
        });
    });
</script>