@model Silicus.Finder.Web.ViewModel.SkillSetViewModel
<link href="~/Content/css/FinderStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<style>
    
.morecontent span {
        display: none;
    }
</style>

<div class="row">
    <div class="overlay">
        <h4 style="padding-left:35px; margin-right:26px;">
            <button id="close-popup" class="close fa fa-2x fa-times" aria-hidden="true" data-dismiss="modal" type="button"></button>
            <span style="font-size:30px; margin-left:2%; color:#295071;">Skill Details</span>
            @*@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <span style="float:right; margin-right:30px;">
                    @Html.ActionLink(" ", "Edit", new { SkillSetId = Model.SkillSetId }, new { @class = "fa fa-pencil-square-o fa-2x action add", title = "Edit Skill Details" })
                    @{if (@Model.Projects.Count == 0)
                    {
                        <a data-dialog-href="#" id="delete-@Model.SkillSetId" href="#" data-deleteid=@Model.SkillSetId fullname="@Model.SkillSetId" class=" action add" title="Delete Skill Record"><i class="fa fa-trash-o fa-2x" style="color:#59A5B6"></i></a>
                    }
                      else
                      {<a data-dialog-href1="#" id="DeleteErrorMessage" fullname="@Model.Name" style=" color:#59a5b6" class="close action add" title="Delete Skill Record "><i class="fa fa-trash-o fa-2x"></i></a>}
                    }
                </span>
            }*@
        </h4>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <span class="details-content more">
                @Html.DisplayFor(model => model.Description)
            </span>
        </dd>
        <dt>
            @Html.DisplayName("# Employees Tagged")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Count)
        </dd>
    </dl>
</div>

<div id="dialog-confirm">
    Are you sure you want to Delete the Skill record of <span id="employee-delete"></span> ?
</div>

<div id="dialog-error">
    Cannot delete!<br />
    Skill <span id="technology-delete-error"></span>
    is assigned to atleast one Project.
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Content/js/Ellipsis.js"></script>

<script>
    debugger;

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });

    $('#close-popup').click(function () {
        $('#Grid').toggle();
    });

    jQuery('body').on('click', '[data-dialog-href]', function (e) {
        var id = jQuery(this).attr('data-deleteId');
        var name = jQuery(this).attr('name');
        $('#employee-delete').text(name);

        var SkillSetId = id;

        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Confirm Delete",
            height: 250,
            width: 400,
            buttons: {
                "Yes": function (e) {

                    $("dialog-confirm").css("display: block");
                    $.ajax({
                        SkillSetId: id,
                        url: '@Url.Action("Delete", "Technology")?SkillSetId=' + SkillSetId,
                        type: "GET",
                        success: function (result) {
                            $("#information").html(result);
                            grid = $("#technologyGrid").data("kendoGrid");
                            grid.dataSource.read();
                        }
                    });
                    $(this).dialog('close');
                },
                "No": function () {
                    $(this).dialog('close');
                }
            }
        });

    });

    jQuery('body').on('click', '[data-dialog-href1]', function (e) {
        var name = jQuery(this).attr('name');
        $("#technology-delete-error").text(name);
        $("#dialog-error").dialog({
            resizable: false,
            modal: true,
            title: "Error",
            height: 250,
            width: 300,
            buttons: {
                "OK": function () {
                    $("dialog-error");
                    $(this).dialog('close');
                }
            }
        });
    });
</script>