@*@model IEnumerable<Models.LoginDetails>*@
@model PagedList.IPagedList<Models.LoginDetails>
@using PagedList;
@using PagedList.Mvc;
@*Model for confirmation*@

@{
    var downArrow = "~/images/down-arrow.png";
    var upArrow = "~/images/up-arrow.png";
    var downArrowPath = @Url.Content(downArrow);
    var upArrowPath = @Url.Content(upArrow);
}
<style type="text/css">
    th:hover:not([data-sort=disabled]) {
        cursor: pointer;
    }

    table.sortable > thead th:hover:not([data-defaultsort=disabled]) {
        background: #428bca;
    }

    td > a:hover {
        cursor: pointer;
    }

    .glyphicon.glyphicon-ok, .glyphicon.glyphicon-pencil, .glyphicon.glyphicon-trash, .glyphicon.glyphicon-remove, .glyphicon.glyphicon-info-sign {
        color: rgb(0,175,236);
        padding: 5px;
    }

        .glyphicon.glyphicon-ok:hover, .glyphicon.glyphicon-pencil:hover, .glyphicon.glyphicon-trash:hover, .glyphicon.glyphicon-remove:hover, .glyphicon.glyphicon-info-sign:hover {
            color: #2e2e2e;
        }
</style>

<div id="myModal" class="modal fade in" aria-hidden="false" style="display:none; padding-right: 17px;">
    <div class="modal-backdrop fade in" style="height: 100%; z-index:0;"></div>
    <input type="hidden" id="hdnuserId" />
    <input type="hidden" id="hdCurrentStatus" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancel()">x</button>
                <h4 class="modal-title" id="hTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-xs-12" id="divMsg">
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Update()">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancel()">No</button>
            </div>
        </div>
    </div>
</div>

<div class="box-body table-responsive">
    <a href="#" onclick="OpenAddAdminUserDialog();" class="btn btn-primary addNewUser"><span class="glyphicon glyphicon-plus"></span>  Add Admin User</a>

    @*Code change - Added new fields as per the new requirement*@
    <table id="userGrid" class="table table-bordered table-striped dataTable tablesorter" aria-describedby="example1_info">
        <thead style="background-color:#f8f8f8;color:#000;">
            <tr>
                @*<th>Emp no.</th>*@
                <th style="border-bottom-width: 3px; " onclick="javascript:sorting('@ViewBag.NameParm','@ViewBag.PageIndex');">
                    Name
                </th>
                
                <th style="border-bottom-width: 3px;" data-sort='disabled'> Email Address </th>
                <th style="border-bottom-width: 3px; " onclick="javascript: sorting('@ViewBag.StatusParm','@ViewBag.PageIndex');">
                    Status
                </th>
                <th style="border-bottom-width: 3px; width:5%; text-align:center;" data-sort='disabled'>Action</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                var @strUserFullName = user.FirstName + " " + user.LastName;
                <tr id="@user.UserId">
                    @*<td id="empNo"></td>*@
                    <td onclick="return ShowUserDetails(@user.UserId)"><a data-target="#">@Html.Raw(strUserFullName)</a></td>
                    <td>@Html.Raw(user.Email)</td>

                    <td> @Html.Raw(user.Active == 1 ? "Active" : "Inactive")</td>
                    <td align="center">


                        <div class="btn-group">
                            <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                @if (user.Active == 1)
                                {
                                    <li class="inActiveButton">
                                        <span class="glyphicon glyphicon-remove" style="color:red; cursor:pointer;" title="Make In-Active" onclick="return fnUpdateUser(@user.UserId,true, '@strUserFullName', @user.Active)"><span>Make In-Active</span></span>
                                    </li>
                                    <li class="editButton">
                                        <span class="glyphicon glyphicon-pencil" style=" color:green;cursor:pointer" title="Edit Details" onclick="EditUserDetails(@user.UserId);"><span>Edit Details</span></span>
                                    </li>
                                    <li class="deleteButton">
                                        <span class="glyphicon glyphicon-trash" style=" color:red;cursor:pointer" title="Delete Details" onclick="DeleteIndex(@user.UserId);"><span>Delete Details</span></span>
                                    </li>
                                }
                                else // this block for user id 0 and 2
                                {
                                    var @strtitle = user.Active == 2 ? "Make Re-Active" : "Make Active";
                                    <li class="inActiveButton">
                                        <span class="glyphicon glyphicon-ok" style=" color:green;cursor:pointer;" title='@strtitle' onclick="return fnUpdateUser(@user.UserId,false, '@strUserFullName', @user.Active)"><span>Make Active</span></span>
                                    </li>
                                    <li class="editButton">
                                        <span class="glyphicon glyphicon-pencil" style="color:green;cursor:pointer" title="Edit Details" onclick="EditUserDetails(@user.UserId);"><span>Edit Details</span></span>
                                    </li>
                                    <li class="deleteButton">
                                        <span class="glyphicon glyphicon-trash" style="color:red;cursor:pointer" title="Delete Details" onclick="DeleteIndex(@user.UserId);"><span>Delete Details</span></span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>

<div id="myModalDelete" class="modal fade in" aria-hidden="false" style="display:none; padding-right: 17px;">
    <div class="modal-backdrop fade in" style="height: 100%; z-index:0;"></div>
    <input type="hidden" id="hdnSelectedID" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="canceldelete()">x</button>
                <h4 class="modal-title" id="hTitleDelete"></h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-xs-12" id="divMsgDelete">
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteUserDetails($('#hdnSelectedID').val())">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="canceldelete()">No</button>
            </div>
        </div>
    </div>
</div>


<div id="modalUserDetails" class="modal fade in" aria-hidden="false" style="display:none; overflow-y: scroll; overflow-x:hidden">
    <div class="modal-backdrop fade in" style="z-index:0;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body pop-upNav" style="text-align: center;">
                <div class="col-lg-12 col-xs-12" id="divUserDetailsContent">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-right:15px;" data-dismiss="modal" onclick="CloseUserDetails()">Close</button>
            </div>
        </div>
    </div>
</div>

@*Code change - Added modal for image on document status tab for user details*@

<div id="documentStatusImageModal" class="modal fade in" aria-hidden="false" style="display:none; padding-right: 17px;">
    <div class="modal-backdrop fade in" style="height: 100%; z-index:0;"></div>
    <input type="hidden" id="hdnDocId" />
    <div class="modal-dialog" style="width: 60%;">
        <div class="modal-content" style="height: 600px;">
            <div class="modal-header" style="height: 8%;">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancel()">x</button>
                <h4 class="modal-title" id="hTitle"></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="col-lg-12 col-xs-12" id="divMsg" style="height: 420px;">
                    <iframe id="dociframe" src="#" scrolling="yes" style="height: 100%;"></iframe>
                    <a id="docDownload" style="display:none;" target="_blank" href=""> Download Document </a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="funVerify(true)">Approve</button>
                <button type="button" class="btn btn-primary" onclick="funVerify(false)">Reject</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancel()">Close</button>
            </div>
        </div>
    </div>
</div>

@*Code change - Added modal for send email on document status tab for user details*@

<div id="documentStatusMailModal" class="modal fade in" aria-hidden="false" style="display:none;">
    <div class="modal-backdrop fade in" style="height: 100%; z-index:0;"></div>
    <input type="hidden" id="hdnUserId" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ErrorDiv_Email" class="alert alert-danger" role="alert" style="display:none"> </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancelMail()">x</button>
                <h4 class="modal-title" id="mailTital">Send Email</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-xs-12" id="divMsg">
                    <div class="form-group">
                        <label class="control-label">To</label><span class="red">*</span>
                        <input class="form-control" id="txtTo" type="text" placeholder="John.doe@gmail.com">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Subject</label>
                        <input class="form-control" id="txtSubject" type="text">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Body</label>

                        <textarea id="txtBody" class="form-control" rows="4">This is the default test for mail body.</textarea>
                    </div>
                    <div class="form-group">
                        <input id="cbxAttachment" type="checkbox" checked="checked" name="attachment" value="Yes"> &nbsp; <label id="lblcheckbox">Attach documents</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fnSendMail()">Send</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancelMail()">Cancel</button>
            </div>
        </div>
    </div>
</div>


@*this div is used for apply pagging*@
@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, Page => Url.Action("AdminUsers", new { Page }))
    string sortOrder = ViewBag.CurrentSort;
    int index = ViewBag.PageIndex != null ? ViewBag.PageIndex : 1;
    @Html.Hidden("hdnSortOrder", sortOrder)
    @Html.Hidden("hdnIndex", index)
}

    @*script for user defined functions*@
    <script type="text/javascript">

        $(document).ready(function () {

            $("div .modal-backdrop").on("click", function () {
                $('#modalUserDetails').hide();
            });
            $('#focusedInput').val('@ViewBag.SearchString');
            // $.bootstrapSortable(applyLast = true)

        });

        function sorting(sortOrder, pageIndex) {
            //var sortorder="ASC"
            //if (!$(param).hasClass('nosort'))
            //{
            //    sortorder="DESC";
            //}

            $.ajax({
                type: "GET",
                url: '/User/GetUserListSorted/',
                data: {
                    sortOrder: sortOrder,
                    pageIndex: pageIndex,
                    searchString: $('#focusedInput').val().trim().toLowerCase()
                },
                contentType: "application/json",
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + " " + errorThrown);
                    return false;
                },
                success: function (data) {
                    if (data.toString().toLowerCase() == "session expired" || data.toString().indexOf("loginForm" + "AfterSessionTimeout") > -1) {
                        HandleSessionTimeout();
                        return;
                    }
                    $("#divUserList").html('');
                    $("#divUserList").html(data);
                    //$(param).append('<span class="sign arrow up"></span>')
                }
            });
        }

        // function for show hidden model for confirmation
        function fnUpdateUser(UserId, bolCurrentStatus, userFullName, active) {
            $("#hdnuserId").val(UserId);
            $("#hdCurrentStatus").val(bolCurrentStatus);
            var mainMsg = "";
            var title = "";
            if (bolCurrentStatus == true || bolCurrentStatus == "true") {
                mainMsg = "de-activate";
                title = "De-activate";
            }
            else {
                if (active) {
                    mainMsg = "reactivate";
                    title = "Re-activate";
                }
                else {
                    mainMsg = "activate";
                    title = "Activate";
                }

            }
            $("#hTitle").html(title + ' User - ' + userFullName);
            $("#divMsg").html('Are you sure you want to ' + mainMsg + ' user?');
            var responce = ($('#myModal').show());
        }

        // function for hide model
        function cancel() {
            $('#myModal').hide();
        }

        function canceldelete() {
            $('#myModalDelete').hide();

        }
        // function for Activate / deactivate user by user id
        function Update() {
            var intUserId = $("#hdnuserId").val();
            var bolCurrentStatus = $("#hdCurrentStatus").val();
            var strUrl = '/User/ActivateDeactivateUser' + '?UserId=' + intUserId;
            //var strUrl = rootUrl + 'User/ActivateDeactivateUser' + '?UserId=' + intUserId;
            $.ajax({
                type: "GET",
                url: strUrl,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + " " + errorThrown);
                    return false;
                },
                success: function (data) {
                    $('#myModal').hide();
                    var mainMsg = "";
                    if (bolCurrentStatus == true || bolCurrentStatus == "true") {
                        mainMsg = "de-activated";
                    }
                    else {
                        mainMsg = "activated";
                    }
                    var msg = "User " + mainMsg + " successfully.";
                    $('#sucess-msg').show();
                    var flag = setTimeout(function () { $("#sucess-msg").fadeOut(1500); }, 3000)
                    setTimeout(function () { window.location.reload() }, 3000)
                    //window.location.reload();
                }
            });
        }

        /*Add Edit User*/

        function AddUserDetails() {
            $('#lblComparegreaterDateError').text('');
            var data = { Id: 0 }
            //if ($('#ED_ddlEducationCategory').val() > 0) {
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                type: "GET",
                url: "/User/AddAdminUser",
                data: data,
                //datatype: "html",
                success: function (data) {
                    // $("#succdiv").(data);
                    //$("body").html(data);
                    $(".body-content").html(data);
                    ajaxindicatorstop();
                },
                error: function () {
                    alert('some error occured')
                    ajaxindicatorstop();
                }
            });
            //}

        }

        function EditUserDetails(UserId) {
            $('#lblComparegreaterDateError').text('');
            var data = { Id: UserId }
            //if ($('#ED_ddlEducationCategory').val() > 0) {
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                type: "GET",
                url: "/User/AddEditUserDetails",
                data: data,
                //datatype: "html",
                success: function (data) {
                    // $("#succdiv").(data);
                    $(".body-content").html(data);
                    ajaxindicatorstop();
                },
                error: function () {
                    alert('some error occured')
                    ajaxindicatorstop();
                }
            });
        }



        function DeleteIndex(UserID) {
            $('#hdnSelectedID').val(UserID);
            $("#hTitleDelete").html('Delete?');
            $("#divMsgDelete").html('Are you sure you want to delete this Record?');
            $('#myModalDelete').show();
        }

        function DeleteUserDetails(UserId) {
            //if ($('#ED_ddlEducationCategory').val() > 0) {
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                type: "GET",
                url: "/User/DeleteUserDetails",
                data: { UserID: UserId },
                datatype: "json",
                success: function (data) {
                    // $("#succdiv").(data);
                    if (data) {
                        $('#myModalDelete').hide();
                        $.ajax({
                            url: "/User/GetUserList",
                            cache: false,
                            type: 'GET',
                            data: {
                                searchString: "", // $('#focusedInput').val().trim().toLowerCase(),
                            },
                            success: function (data) {
                                // $("#succdiv").(data);
                                $(".body-content").html(data);
                                window.location.reload();
                                ajaxindicatorstop();
                            },
                            error: function () {
                                alert('some error occured')
                                ajaxindicatorstop();
                            }
                        });

                    }
                    ajaxindicatorstop();
                },
                error: function () {
                    alert('some error occured')
                    ajaxindicatorstop();
                }
            });
            //}

        }


        function AssignPno(userid) {

            var data = { UserID: userid }
            //if ($('#ED_ddlEducationCategory').val() > 0) {
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                type: "GET",
                url: "/User/AssignPNo",
                data: data,
                datatype: "html",
                success: function (data) {

                    // $("#succdiv").(data);
                    //$("body").html(data);
                    $(".body-content").html(data);
                    ajaxindicatorstop();
                },
                error: function () {
                    alert('some error occured')
                    ajaxindicatorstop();
                }
            });
            //}

        }


        function ShowUserDetails(UserId) {

            $("#hdnuserId").val(UserId);
            ajaxindicatorstart("Loading...Please wait..");
            $.ajax({
                type: "GET",
                url: '/User/GetUserDetails',
                data: { userId: UserId },
                dataType: 'html',
                async: false,
                success: function (data) {

                    $("#divUserDetailsContent").html("");
                    $("#divUserDetailsContent").html(data);
                    ajaxindicatorstop();
                },
                error: function (error) {
                    ajaxindicatorstop();
                    alert(JSON.stringify(error.responseText.trim()));
                }
            });
            $('#modalUserDetails').show();
            $(window).scrollTop($('#modalUserDetails').offset().top);

        }

        function CloseUserDetails() {

            $('#modalUserDetails').hide();
        }



    </script>

    <script>

        //Added below code to resolve account section issue on click of user details in grid
        $(document).ready(function () {
            //Click event for account toggle section on home page
            $("#account").click(function (e) {
                e.stopPropagation()
                //Add open class to list control which to allow click events on dropdown
                $("#account").toggleClass('open');
            });
        });

        function OpenAddAdminUserDialog() {
            $.ajax({
                url: '/User/AddAdminUser/',
                method: 'GET',
                success: function (data) {
                    $("#addAdminUserModal .modal-body").html(data);
                    $('#addAdminUserModal').modal('show');
                },
                error: function (data) {
                    toastr.error("Error occurred while adding admin user!");
                }
            });
        }
    </script>
