@*@model List<Models.LoginDetails>*@
@model PagedList.IPagedList<Models.AddEditUserModel>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = null;
    var downArrow = "~/images/down-arrow.png";
    var upArrow = "~/images/up-arrow.png";
    var downArrowPath = @Url.Content(downArrow);
    var upArrowPath = @Url.Content(upArrow);
}

<style type="text/css">
    table.scroll tbody,
    table.scroll thead {
        display: block;
    }


    table.scroll tbody {
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>


<div class="box-body table-responsive">
    <div class="form-group tl-search-grp">
        <table style="width: 100%;" class="custom-table">
            <tr>
                <td>
                    <input class="form-control" id="txtSearch" type="text" placeholder="Search">
                </td>
            </tr>
        </table>
    </div>

    <table id="gridJobvitedetails" class="table table-bordered table-striped dataTable tablesorter scroll" aria-describedby="example1_info" style="width:100%;">
        <thead style="background-color:#f8f8f8;color:#000;">
        <tr>
            <th style="border-bottom-width: 3px;" data-sort='disabled' hidden="hidden"> Firstname </th>
            <th style="border-bottom-width: 3px;" data-sort='disabled' hidden="hidden"> Lastname </th>
            <th style="border-bottom-width: 3px;min-width:50px;" data-sort='disabled'> Select </th>
            <th style="border-bottom-width: 3px;min-width:290px;"> Name </th>
            <th style="border-bottom-width: 3px; min-width:420px;" data-sort='disabled'> Email Address </th>
        </tr>
        </thead>

        <tbody>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var user in Model)
            {
                var @strUserFullName = user.FirstName + " " + user.LastName;
                <tr>
                    <td style="border-bottom-width: 3px;" class="class1" hidden="hidden">
                        @Html.Raw(user.FirstName)
                    </td>
                    <td style="border-bottom-width: 3px;" class="class2" hidden="hidden">
                        @Html.Raw(user.LastName)
                    </td>
                    <td style="border-bottom-width: 3px; min-width:50px;" class="class1">
                        <input type="radio" name="login-as-user" value="@user.Email" />
                    </td>
                    <td align="left" class="className" style="border-bottom-width: 3px; min-width:290px;"><a data-target="#">@Html.Raw(strUserFullName)</a></td>
                    <td align="left" class="classEmail" style="border-bottom-width: 3px; min-width:420px;">@Html.Raw(user.Email)</td>
                </tr>
            }
            <input type="hidden" id="email" name="email" value=""/>
        }
        else
        {
            <tr>
                <td style="text-align: center;" colspan="10">
                    No Data Found
                </td>
            </tr>
        }
        </tbody>

    </table>
</div>
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $("#login-as").submit(function (e) {
        e.preventDefault();
        var email = $("input[name='login-as-user']:checked").val();
        if (email != undefined && email != "") {
            $("#email").val(email);
            document.getElementById("login-as").submit();
        } else {
            toastr.error("Please select a user");
        }
    });
    $('#txtSearch').keyup(function () {

        var value = $(this).val().toUpperCase();
        var $rows = $("#gridJobvitedetails tr");

        if (value === '') {
            $rows.show();
            return false;
        }

        $rows.each(function (index) {
            if (index !== 0) {

                $row = $(this);

                var column1 = $row.find("td").text().toUpperCase();
                var column2 = $row.find("td").eq(1).text().toUpperCase();

                if ((column1.indexOf(value) > -1) || (column2.indexOf(value) > -1)) {
                    $row.show();
                }
                else {
                    $row.hide();
                }
            }
        });
    });

       var isUserExists;
        $(document).on("click", "#contentPager a", function () {
            
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    ajaxindicatorstop();
                    $('#divUserDetailsContentForLoginAs').html(result);
                }
            });
            ajaxindicatorstop();
            return false;
        });


        function CloseJobViteDocumentDetails() {
            $('#modalJobViteDetails').hide();
        }




</script>

