@model PagedList.IPagedList<Models.OfferCandidateModel>
<div class="inner-div">
    @using PagedList.Mvc;
    @using PagedList;
    @{



    }



    <div class="box-body table-responsive">

        <!--<div class="row"><div class="col-xs-6"></div><div class="col-xs-6"><div class="dataTables_filter" id="example1_filter"><label>Search: <input type="text" aria-controls="example1"></label></div></div></div>-->
        @*@Html.HiddenFor(m => Model.PageCount)*@
        @if (Model.Count() > 0)
        {
            <table id="userGrid" class="table table-bordered table-striped dataTable tablesorter " aria-describedby="example1_info">
                <thead style="background-color:#428bca;color:white; ">
                    <tr>
                        @*<th>Employee No</th>*@
                        <th>Name</th>
                        <th>Date of Birth</th> 
                        <th>Email Address</th>
                        @*<th>Reason for Leaving</th>*@
                        <th style="text-align:center;">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            @*<td>@Html.Raw(user.) </td>*@
                            <td>@Html.Raw(user.EmployeeName)</td>
                            <td>@Html.Raw(user.ShortDOB)</td>
                            <td>@Html.Raw(user.EmailAddress)</td>                         
                            @*<td>@Html.Raw(user.ReasonforLeaving)</td>*@
                            <td align="center">

                                <a href="#" onclick="AssignPno(@user.UserID);" class="btn btn-primary"><span class="glyphicon glyphicon-hand-right"></span> Get On board</a>
                                
                                @*<span class="glyphicon glyphicon-info-sign" style="color:green; width:15px; height:15px;cursor:pointer" title="View Details" onclick="ViewEducationDetails(@user.CatId);"></span>
                                <span class="glyphicon glyphicon-remove" style="color:red; width:15px; height:15px;cursor:pointer" title="Delete" onclick="DeleteIndex(@user.CatId);"></span> @*onclick="return fnUpdateUser(@user.UserId,false)"*@

                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }
        else
        {
            <br />
            <br />
            <br />
            <h4>No Records found</h4>
        }

        @if (Model.PageCount > 1)
        {         
            
            @*@Html.PagedListPager((IPagedList)ViewBag.Names, page => Url.Action("Index", new { page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive" }))*@
            <div class="OfferedCandidateList"> 
                @Html.PagedListPager(Model, pageNo => Url.Action("OfferCandidateList", new { Page }), new PagedListRenderOptions { DisplayLinkToNextPage=PagedListDisplayMode.Never, DisplayLinkToFirstPage=PagedListDisplayMode.Never })
            </div>
        }
    </div>   
    </div>
    <script>

        $(document).ready(function () {

            $('.OfferedCandidateList a').click(function (event) {
              
                var data = { pageNo: this.text }
                ajaxindicatorstart('Loading.. please wait..');
                $.ajax({
                    type: "GET",
                    url: "/User/OfferCandidateList",
                    data: data,
                    datatype: "html",
                    success: function (data) {
                      
                        // $("#succdiv").(data);
                        $("#divOfferCandidateList").html(data);
                        ajaxindicatorstop();
                    },
                    error: function () {
                        alert('some error occured')
                        ajaxindicatorstop();
                    }
                });

                event.preventDefault();

            });
        });



        function AssignPno(userid) {
        
            var data = { UserID: userid }
            //if ($('#ED_ddlEducationCategory').val() > 0) {
            ajaxindicatorstart('Loading.. please wait..');
            $.ajax({
                type: "GET",
                url: "/User/AssignPNo",
                data: data,
                datatype: "html",
                success: function (data) {
                   
                    // $("#succdiv").(data);
                    //$("body").html(data);
                    $(".container .body-content").html(data);
                    ajaxindicatorstop();
                },
                error: function () {
                    alert('some error occured')
                    ajaxindicatorstop();
                }
            });
            //}

        }



    </script>
   