@model Models.LostPasswordModel

@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://www.silicus.com/images/favicon.ico">
    <title> EnBoard </title>
    <link href="../Content/NewUI/css/font-awesome.min.css" rel="stylesheet">
    <link href="../Content/NewUI/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <!-- Latest compiled and minified CSS Bootstrap v3.3.7-->
    <link rel="stylesheet" href="../Content/NewUI/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/NewUI/css/bootstrap-select.min.css">
    <link href="../Content/NewUI/css/style.css" rel="stylesheet">
    <!--custom style--->
    <link href="../Content/NewUI/css/custom.css" rel="stylesheet">
    <link href="../Content/NewUI/css/scrollbar.css" rel="stylesheet">
    <link href="../Content/NewUI/css/login.css" rel="stylesheet">
    
</head>
<body>
    <div class="container-fluid">
        <div class="row LoginContainer">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row loginLeft">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 loginContent">
                        <div class="loginLogo"><img src="../Content/NewUI/images/logo.svg" /></div>
                        <div class="paraContent">
                           
                            <p>Welcome to Enboard, the on-boarding tool for new members to the Silicus family! </p>
                            <p> There are activities related to your onboarding which you must complete prior to joining Silicus. This activity should not take over 30 minutes of your time. </p>
                            <p>While you are in this portal, please check the information pre-filled for you. We have entered the information you provided to Silicus Recruiting Team during your hiring process. If there are any corrections to this, you can edit the field(s) and send to us for an approval to change it. </p>
                            <p>Taking time to complete this activity now will significantly cut down on the time to get you up and running on your first day of joining.  You can return to this portal at any point by saving your information which means that you will not have to complete everything in one sitting. Simply remember to save your information prior to exiting from the tool and then come back to it any time to complete the rest. </p>
                            <p>We are delighted to have you onboard our organization and look forward to what we hope will be the beginning of a long-term and mutually beneficial career with Silicus. </p>
                        </div>
                        <div class="copyRight">

                            <a href="#"> Copyright © 2017 Silicus Technologies, LLC <img src="../Content/NewUI/images/inc_logo.png" alt="INC 5000"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row loginRight">
                    <div class="col-lg-12 loginInner">
                        <div class="loginMobileInner">
                            <div class="loginLogo hidden-lg-up"><img src="../Content/NewUI/images/logo.svg" /></div>
                            <div class="headerTitle hidden-lg-up">Forgot Password</div>
                            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { id = "FP_form" }))
                            {
                                @Html.AntiForgeryToken()

                                if (TempData["emailsucc"] != null)
                                {
                                    <span style="color:green">@TempData["emailsucc"]</span>;
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "textLabel" })
                                    <span class="red">*</span>
                                    <div class="input-group width100">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control name", id = "FP_txtFirstName" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "textLabel" })
                                    <span class="red">*</span>
                                    <div class="input-group width100">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control name", id = "FP_txtLastName" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "textLabel" })
                                    <span class="red">*</span>
                                    <div class="input-group width100">
                                        @Html.TextBoxFor(m => m.DOB, "{0:dd/mm/yy}", new { id = "FP_txtDOB", @class = "form-control name" })
                                        <label class="input-group-addon btn-default" for="FP_txtDOB">
                                            <span class="fa fa-calendar"></span>
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div class="col-md-1 col-md-offset-5"><span style="font-weight: bold">OR</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "textLabel" })
                                    <span class="red">*</span>
                                    <div class="input-group width100">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email", id = "FP_txtEmail" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">

                                        <input type="submit" value="Reset Password" class="btn btn-primary btn-block" id="FP_submit" />
                                    </div>
                                </div>
                                <div>
                                    @Html.ActionLink("Log In", "Login", new { @class = "btn btn-default" })
                                </div>
                            }
                            <div class="loginSocailIcon">
                                <ul class="socialIcon">
                                    <li class="Facebook"><a target="_blank" href="https://www.facebook.com/silicustech/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="Twitter"><a target="_blank" href="https://twitter.com/silicustech"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="Linkedin"><a target="_blank" href="https://www.linkedin.com/company/silicus-technologies"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="Gplus"><a target="_blank" href="https://plus.google.com/+Silicus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="copyRight hidden-lg-up">
                            <a href="#"> Copyright © 2017 Silicus Technologies, LLC <img class="inc" src="../Content/NewUI/images/inc_logo.png" alt="INC 5000"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      

    @Scripts.Render("~/bundles/jquery") 
    <!--minified JavaScript v- Bootstrap v3.3.7-->
    <script src="../Scripts/NewJs/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    <!--login section responsive script -->    
    <script type="text/javascript">
        $(document).ready(function () {
           
        $('#FP_txtDOB').datepicker({
            maxDate: 0,
            showButtonPanel: false,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd/mm/yy',

        });

        $('.ui-datepicker').css('font-size', $('.ui-datepicker').width() / 17 + 'px');


        $('#FP_submit').click(function () {

            if ($('.name').val() == '' && $('.email').val() == '') {

                $(".name").attr('required', true);

                $('.email').attr('required', true);
            }
            else if ($('#FP_txtFirstName').val() != '' && $('#FP_txtLastName').val() != '' && $('#FP_txtDOB').val() != '') {
                $(".name").attr('required', false);
                $('.email').attr('required', false);

                $(".email .name").removeClass("red");
                $('#FP_form').submit();

            }
            else if ($('.email').val() != '') {
                $(".name").attr('required', false);
                $('.email').attr('required', false);

                $(".email .name").removeClass("red");
                $('#FP_form').submit();
            }


        });
    });

    $(function () {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }
            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
    });

    $.fn.center = function () {
        var topMargin = ($(window).height() - $(this).outerHeight()) / 2;
        var leftMargin = ($(window).width() - $(this).outerWidth()) / 2;
        if (leftMargin < 0) {
            leftMargin = 0;
        }
        if (topMargin < 0) {
            topMargin = 0;
        }
        if ($('.loginLeft').css('display') == 'block') {
            leftMargin = 0;
        }
        return this.css({
            'left': leftMargin,
            'top': topMargin
        });
    };

    $(window).resize(function () {
        $('.loginInner').center();
    });
    $(document).ready(function ($) {
        $('.loginInner').center();
    });
    </script>

</body>
</html>

@*@model Models.LostPasswordModel

    @{
        ViewBag.Title = "LostPassword";
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }

    @Scripts.Render("~/bundles/jquery")


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles_for_login.css" rel="stylesheet" />

    <section id="logo">
        <a href="#"><img src="/Images/Silicus.png" alt="" /></a>
    </section>

    <style>
        .label {
            color: #6D6767;
            font-size: inherit;
            font-weight: bold !important;
            padding:0;
        }

    </style>

    <section class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-6 col-sm-6 col-lg-offset-3">
                <section class="row">
                    <div class="well">
                        @using (Html.BeginForm(new { id = "FP_form" }))
                    {
                            @Html.AntiForgeryToken()

                            <div class="">
                                <h3>Forgot Password</h3><br>
                                @if (TempData["emailsucc"] != null)
                            {
                                    <span style="color:green">@TempData["emailsucc"]</span>;
                            }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label  label" })
                                    <span class="red">*</span>
                                    <div class="">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control name", id = "FP_txtFirstName" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label  label" })
                                    <span class="red">*</span>
                                    <div class="">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control name", id = "FP_txtLastName" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label  label" })
                                    <span class="red">*</span>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DOB, "{0:dd/mm/yy}", new { id = "FP_txtDOB", @class = "form-control name" })
                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-1 col-md-offset-5"><span style="font-weight: bold">OR</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label label" })
                                    <span class="red">*</span>
                                    <div class="">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email", id = "FP_txtEmail" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" value="Reset Password" class="btn btn-primary btn-block" id="FP_submit" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Log In", "Login", new { @class = "btn btn-default" })
                            </div>
                    }
                    </div>
                </section>
            </div>

        </div>
    </section>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#FP_txtDOB').datepicker({
                maxDate: 0,
                showButtonPanel: false,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: 'dd/mm/yy',

            });

            $('.ui-datepicker').css('font-size', $('.ui-datepicker').width() / 17 + 'px');


            $('#FP_submit').click(function () {

                if ($('.name').val() == '' && $('.email').val() == '') {

                    $(".name").attr('required', true);

                    $('.email').attr('required', true);
                }
                else if ($('#FP_txtFirstName').val() != '' && $('#FP_txtLastName').val() != '' && $('#FP_txtDOB').val() != '') {
                    $(".name").attr('required', false);
                    $('.email').attr('required', false);

                    $(".email .name").removeClass("red");
                    $('#FP_form').submit();

                }
                else if ($('.email').val() != '') {
                    $(".name").attr('required', false);
                    $('.email').attr('required', false);

                    $(".email .name").removeClass("red");
                    $('#FP_form').submit();
                }


            });
        });

        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>*@

