@model Models.ContactDetails
@using HR_Web.Helpers;
@{
    ViewBag.Title = "ContactDetails";
    Layout = "";
    var CityList = (SelectList)ViewBag.Cities;
    var StateList = (SelectList)ViewBag.States;
    var CountryList = (SelectList)ViewBag.Countries;

}


<style>
    .label {
        color: #6D6767;
        font-size: inherit;
    }
</style>

<div align="left">

    <!-- Row start -->
    @using (Html.BeginForm("ContactDetails", "User", FormMethod.Post, new { id = "formContactDetails" }))
    {
        @Html.AntiForgeryToken()
        <label style="color:green" id="lblmsg"> </label>
        <div class="row new-form-input">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Address Details</h3>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pAddress">

                                    @Html.LabelFor(m => m.PermanantAddLine1, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.PermanantAddLine1, new { id = "CD_txtPermanantAddLine1", @class = "form-control", tabindex = 1 })
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pAddress">

                                    @Html.TextBoxFor(m => m.PermanantAddLine2, new { id = "CD_txtPermanantAddLine2", @class = "form-control", tabindex = 2 })
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">

                                    @Html.TextBoxFor(m => m.PermanantAddLine3, new { id = "CD_txtPermanantAddLine3",@class = "form-control", tabindex = 3 })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PermanantCountryID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListFor(Model.PermanantCountryID, CountryList,  "form-control")

                                </div>

                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group pAddress">
                                    @Html.LabelFor(m => m.PermanantStateID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.PermanantStateID, StateList, Model.OtherPermanantState, "form-control")
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group pAddress">
                                    @Html.LabelFor(m => m.PermanantCityID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.PermanantCityID, CityList, Model.OtherPermanantCity, "form-control")

                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PermanantZipcode, new { @class = "" })
                                    @Html.TextBoxFor(m => m.PermanantZipcode, new { id = "CD_txtPermanantAddZipcode", @class = "form-control", maxlength = "6", tabindex = 7 })
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                @Html.Label("Same as Permanent Address ?", new { @class = "" })
                                @Html.CheckBoxFor(m => m.IsBothAddSame, new { id = "CD_chk_sameadd", @disabled = "disabled", @tabindex = "8" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pAddress">

                                    @Html.LabelFor(m => m.CurrentAddLine1, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.CurrentAddLine1, new { id = "CD_txtCurrentAddLine1", @class = "form-control", @tabindex = 9 })
                                </div>


                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pAddress">

                                    @Html.TextBoxFor(m => m.CurrentAddLine2, new { id = "CD_txtCurrentAddLine2",  @class = "form-control", @tabindex = 10 })
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">

                                    @Html.TextBoxFor(m => m.CurrentAddLine3, new { id = "CD_txtCurrentAddLine3", @class = "form-control", @tabindex = 11 })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CurrentCountryID, new { @class = "" })<span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListFor(Model.CurrentCountryID, CountryList, "form-control")
                                </div>

                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group pAddress">
                                    @Html.LabelFor(m => m.CurrentStateID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.CurrentStateID, StateList, Model.OtherCurrentState,  "form-control")
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group pAddress">
                                    @Html.LabelFor(m => m.CurrentCityID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.CurrentCityID, CityList, Model.OtherCurrentCity, "form-control")
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CurrentZipcode, new { @class = "" })
                                    @Html.TextBoxFor(m => m.CurrentZipcode, new { id = "CD_txtCurrentAddZipcode", @class = "form-control", maxlength = "6", tabindex = 15 })
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Contact Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.HomePhone, new { @class = "" })
                                    @Html.TextBoxFor(m => m.HomePhone, new { id = "CD_txtHomePhone", @class = "form-control", maxlength = "11", tabindex = 19 })
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AnotherContact, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.AnotherContact, new { id = "CD_txtAnotherContact",  @class = "form-control", maxlength = "11", tabindex = 19 })
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>    
    }
</div>