@using HR_Web.Helpers;
@model Models.PersonalDetails
@{
    ViewBag.Title = "PersonalDetails";
    var LangList = (SelectList)ViewBag.Languages;
    var BloodGroups = (SelectList)ViewBag.BloodGroupList;
    var MaritalStatus = (SelectList)ViewBag.MaritalStatus;
    var Countries = (SelectList)ViewBag.Countries;
    var CountryCodeList = (SelectList)ViewBag.CountryCodeList;
    var CityList = (SelectList)ViewBag.CityList;
    var StateList = (SelectList)ViewBag.StateList;
    Layout = "";
}
<style>
    .label {
        color: #6D6767;
        font-size: inherit;
    }
</style>

<div align="left">

    <!-- Row start -->
    @using (Html.BeginForm("PersonalDetails", "User", FormMethod.Post, new { id = "formPersonalDetails" }))
    {      
        <label style="color:green" id="lblmsg"> </label>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Personal Details</h3>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">

                                    @Html.LabelFor(m => m.FirstName, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstName",  @class = "form-control", @tabindex = 1, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>


                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.LastName, new { id = "txtLastName", @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmpEmail, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.EmpEmail, new { id = "txtEmpEmail", @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.EmpEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Gender) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.Gender, new { id = "txtGender",  @class = "form-control", @tabindex = 1, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DateofBirth, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.DateofBirth, String.Format("{0:dd/MM/yyyy}", Model.DateofBirth), new { id = "PD_txtDOB", @class = "form-control", @readonly = "readonly", tabindex = 4 })
                                    @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
                                    <label id="lblComparefutureDateError" class="text-danger" style="display:none;"> </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Contact Number") <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.ContactNumber, new { id = "txtContactNumber",@class = "form-control", @tabindex = 3, @maxlength = "20"})
                                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>





                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Offered Designation") <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.Designation, new { id = "txtDesignation",  @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Department") <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.Department, new { id = "txtDepartment", @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Date Of Joining") <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.JoiningDate, new { id = "txtJoiningDate",  @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Joining Location") <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.JoiningLocation, new { id = "txtJoiningLocation", @class = "form-control", @tabindex = 3, @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.JoiningLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Other Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">


                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FatherName, new { @class = "" }) <span class="red">*</span>
                                    @Html.TextBoxFor(m => m.FatherName, new { id = "PD_txtFatherName", @class = "form-control", tabindex = 10, @maxlength = "30" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BloodGroup, new { @class = "" })
                                    @CustomHtmlHelper.DropDownListFor(Model.BloodGroup, BloodGroups,"form-control")
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MotherTongue, new { @class = "" })
                                    @CustomHtmlHelper.DropDownListFor(Model.MotherTongue, LangList,  "form-control")
                                </div>
                                <div class="form-group pAddress">
                                    @Html.LabelFor(m => m.PlaceofBirth, new { @class = "" }) <span class="red">*</span>

                                    @CustomHtmlHelper.BirthPlace(Model.PlaceofBirth, CityList, StateList, Model.OtherPlaceOfBirth, "form-control")

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PANNumber, new { @class = "" })
                                    @Html.TextBoxFor(m => m.PANNumber, new { id = "PD_txtPANNumber", @class = "form-control alphanumeric", tabindex = 18, @maxlength = "10" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.HavePassport, new { @class = "" })
                                    @Html.TextBoxFor(m => m.HavePassport, new { id = "PD_txtHavePassportNumber", @class = "form-control alphanumeric", tabindex = 15, @maxlength = "10" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PassportNumber, new { @class = "" }) <span class="red" id="spPassportNumber">*</span>
                                    @Html.TextBoxFor(m => m.PassportNumber, new { id = "PD_txtPassportNumber",  @class = "form-control alphanumeric", tabindex = 15, @maxlength = "10" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nationality) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListFor(Model.Nationality, Countries, "form-control")
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MaritalStatID, new { @class = "" }) <span class="red">*</span>
                                    @CustomHtmlHelper.DropDownListFor(Model.MaritalStatID, MaritalStatus, "form-control")
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SpouseName) <span class="red" id="spSpouse">*</span>
                                    @Html.TextBoxFor(m => m.SpouseName, new { id = "PD_txtSpouseName", @class = "form-control", tabindex = 16, @maxlength = "30" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.AadharCardNumber, new { @class = "" })
                                    @Html.TextBoxFor(m => m.AadharCardNumber, new { id = "PD_txtAadharCardNumber",@class = "form-control alphanumeric", maxlength = "20", tabindex = 17 })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UANNumber, new { @class = "" })
                                    @Html.TextBoxFor(m => m.UANNumber, new { id = "PD_txtUANNumber",  @class = "form-control alphanumeric", maxlength = "20", tabindex = 19 })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NameOnPassport) <span class="red" id="spNameOnPassport">*</span>
                                    @Html.TextBoxFor(m => m.NameOnPassport, new { id = "PD_txtNameOnPassport",  @class = "form-control alphanumeric", tabindex = 15, @maxlength = "50" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PassportExpiryDate) <span class="red" id="spPassportExpiryDate">*</span>
                                    @Html.TextBoxFor(m => m.PassportExpiryDate, String.Format("{0:dd/MM/yyyy}", Model.PassportExpiryDate), new { data_mini = "true", id = "PD_txtPassportExpiryDate",  @class = "form-control", tabindex = 4 })
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @Html.HiddenFor(m => m.UserID)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedDate)
            </div>
        </div>


    }
</div>

