@using HR_Web.Utilities
@{
Layout = "";
//Layout = null;
}
<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/css")
@*@Scripts.Render("~/bundles/bootstrap")*@


<style type="text/css">
      /*.navbar-inverse .navbar-nav > .active > a {
    
}*/
      /*.pop-upNav .navbar-nav li.active a{
    background-color: #489cdf !important;
    color:#fff !important;
    
    }*/
</style>

<html>

<body>
    
        <nav role="navigation">
            
               
                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="row">
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li id="liPersonalDetails" class="active"><a href="#" onclick="GetPersonalDetails(@ViewBag.UserId)">Personal Details</a></li>
                        <li id="liContactDetails" class=""><a href="#" onclick="GetContactDetails(@ViewBag.UserId)">Contact Details</a></li>
                        <li id="liEducationalDetails" class=""><a href="#" onclick="GetEducationalDetails(@ViewBag.UserId)">Educational Details</a></li>
                        <li id="liEmploymentDetails" class=""><a href="#" onclick="GetEmploymentDetails(@ViewBag.UserId)">Employment Details</a></li>
                        <li id="liFamilyDetails" class=""><a href="#" onclick="return GetFamilyDetails(@ViewBag.UserId)">Family Details </a></li>
                        @*Code change - Added new tab for user*@
                        <li id="liDocumentStatusDetails" class=""><a href="#" onclick="return GetUserDocumentDetails(@ViewBag.UserId)">Document Status </a></li>
                        @*<li class=@Html.IsActive("User", "DocList")>@Html.ActionLink("Document Status Original", "DocList", "User")</li>*@

                    </ul>
                    <input type="hidden" value="@ViewBag.UserId" id="hiddenUserId" />
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>



        <div id="divUserDetailsTab">

        </div>


</body>
</html>


<script src="~/Scripts/LoadIndicator.js"></script>
<script>
  
    $(document).on("click", ".pagination a", function () {
        $.ajax({
            url: $(this).attr("href"),
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#divUserDetailsTab').html(result);
            }
        });
        return false;
    });

    $(document).ready(function () {
        GetPersonalDetails($("#hiddenUserId").val());
    });

    function GetPersonalDetails(userId) {

        $("#bs-example-navbar-collapse-1 li").removeClass("active");
        $("#liPersonalDetails").addClass("active");
        ajaxindicatorstart('Loading.. please wait..');
        $.ajax({
            type: "GET",
            url: '/User/GetPersonalDetails',
            data: { userId: userId },
            dataType: 'html',
            async: false,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();
                $("#formPersonalDetails :input").prop("disabled", true);
            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });

       // $(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
    }

    function GetContactDetails(userId) {
        ajaxindicatorstart('Loading.. please wait..');
        $("#bs-example-navbar-collapse-1 li").removeClass("active");
        $("#liContactDetails").addClass("active");
        $.ajax({
            type: "GET",
            url: '/User/GetContactDetails',
            data: { userId: userId },
            dataType: 'html',
            async: true,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();
                $("#formContactDetails :input").prop("disabled", true);
               
            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });
//$(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
       
    }

    function GetEducationalDetails(userId) {
        ajaxindicatorstart('Loading.. please wait..');
        $.ajax({
            type: "GET",
            url: '/Education/GetEducationalDetailsGrid',
            data: { userId: userId },
            dataType: 'html',
            async: true,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();

                $("#userGrid").find("input").prop("disabled", true);
                //$("#userGrid > [type:input]").prop("disabled", true);
                $("#bs-example-navbar-collapse-1 li").removeClass("active");
                $("#liEducationalDetails").addClass("active");

            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });
        //$(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
    }

    function GetEmploymentDetails(userId) {
        ajaxindicatorstart('Loading.. please wait..');
        $.ajax({
            type: "GET",
            url: '/Employement/GetEmploymnetDetailsGrid',
            data: { userId: userId },
            dataType: 'html',
            async: true,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();
                $("#frmEmployeeDetails :input").prop("disabled", true);
                $("#bs-example-navbar-collapse-1 li").removeClass("active");
                $("#liEmploymentDetails").addClass("active");
            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });
        //$(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
    }

    function GetUploadDocuments(userId) {
        ajaxindicatorstart('Loading.. please wait..');
        $.ajax({
            type: "GET",
            url: '/Document/GetUploadDocuments',
            data: { userId: userId },
            dataType: 'html',
            async: true,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();
                $("#accordion :input").prop("disabled", true);
                $("#bs-example-navbar-collapse-1 li").removeClass("active");
                $("#liUploadDocuments").addClass("active");

            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });
       // $(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
    }

     @*Code change -  Adding below method for event on employee name click to show document status in separate tab*@
    function GetUserDocumentDetails(UserId) {
        
        //$("#hdnuserId").val(UserId);
        ajaxindicatorstart("Loading...Please wait..");
        $.ajax({
        type: "GET",
        url: '/User/GetUserDocumentDetails',
        data: { userId: UserId },
        dataType: 'html',
        async: false,
        success: function (data) {

            $("#divUserDetailsTab").html("");
            $("#divUserDetailsTab").html(data);
            ajaxindicatorstop();
            $("#accordion :input").prop("disabled", true);
            $("#bs-example-navbar-collapse-1 li").removeClass("active");
            $("#liDocumentStatusDetails").addClass("active");

    },
        error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
    }
    });
    }

    function fnViewDoc(docId, docName, titleName) {;
        $("#hdnDocId").val(docId);
        var url = '@Url.Action("getImg", "Document")?id=' + docId;

        var imgWithExt = docName.split('.');
        
        $("#hTitle").html(titleName);
        $('#myModal').find("iframe").attr("src", url);
        $('#myModal').show();
    }


    function GetFamilyDetails(userId) {
        ajaxindicatorstart('Loading.. please wait..');
        $.ajax({
            type: "GET",
            //url: '/FamilyDetails/FamilyDetailsGridForAdmin',
            url: '/Family/FamilyDetailsGridForAdmin',
            data: { Id: userId },
            dataType: 'html',
            async: true,
            success: function (data) {
                $("#divUserDetailsTab").html("");
                $("#divUserDetailsTab").html(data);
                ajaxindicatorstop();
                $("#frmFamilyDetails :input").prop("disabled", true);
                $("#bs-example-navbar-collapse-1 li").removeClass("active");
                $("#liFamilyDetails").addClass("active");
            },
            error: function (error) {
                ajaxindicatorstop();
                alert(JSON.stringify(error.responseText.trim()));
            }
        });
        //$(window).scrollTop($('#bs-example-navbar-collapse-1').offset().top);
    }

</script>

