@using System.Configuration
@using Microsoft.Owin.Security
@model Silicus.Ensure.Web.Models.LoginModel

@{
    ViewBag.Title = "Sign in";
    // var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://www.silicus.com/images/favicon.ico">
    <title> Ensure </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    
    <!--Font Awesome 4.7.0 css-->
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <!-- Latest compiled and minified CSS Bootstrap v3.3.7-->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!--custom style-->    
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/custom-candidate-style.css" rel="stylesheet" />
    <link href="~/Content/style-candidate.css" rel="stylesheet" />
    <link href="~/Content/css/mobile.css" rel="stylesheet" />


@*<div class="login-wrapper login-register logincontainer">
    <div id="loginbox mainbox" class="login-box">
        <div class="white-box">
            <div class="logo">
                <img src="~/Images/silicus/logo.png" />
            </div>
            <div class="form-horizontal form-material">
                <u tabindex="1">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "box-title1 M-B20" })</u>
                @*<a id="loginLink" href="#"><h3 class="box-title m-b-20">Sign In</h3></a>
                @using (Html.BeginForm("Login", "CandidateAccount", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @id = "loginform" }))
                {
                    <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input tabindex="2" class="form-control" id="UserName" name="UserName" type="text" required="" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input tabindex="3" class="form-control" id="Password" name="Password" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input tabindex="4" id="login-remember" type="checkbox">
                                <label class="rememberMe" for="login-remember"> Remember me </label>
                            </div>
                            <a href="@Url.Action(" forgotpassword", "Account" )" tabindex="5" id="to-recover" class="forgotPassword text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button tabindex="6" type="submit" value="Sign In" id="btn-login" style="background:#0070b9;" class="btn btn-info btn-lg btn-block text-uppercase">Log In</button>
                        </div>
                    </div>
                }
          </div>
        </div>
    </div>
</div>*@


    
        <div class="row LoginContainer">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row loginLeft">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 loginContent">
                        <div class="loginLogo"><img src="~/Content/Images/logo.png" /></div>
                       
                        <div class="headerTitle">Welcome to  Ensure!</div>
                        <div class="paraContent">
                            <p>At Silicus we understand the profound impact technology has in solving business and social challenges. We believe that technology-enabled connections between enterprises, people and devices hold the potential to address these challenges.</p>
                            <p>Gain hands-on experience solving hot technology and industry challenges and keep pace with emerging ones, while benefitting from the experience of seasoned and talented professionals. Plus, get the benefits of great corporate visibility, high levels of project ownership, and  ongoing training and professional development. If you   possess the passion and commitment to achieve your career goals, work with us and watch your career soar!</p>
                        </div>
                        <div class="copyRight">

                            <a href="#"> Copyright © 2017 Silicus Technologies, LLC <img src="~/Content/Images/inc_logo.png" alt="INC 5000"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row loginRight">
                    <div class="col-lg-12 loginInner">
                        <div id="loginbox mainbox" class="loginMobileInner">
                            <div class="loginLogo hidden-lg-up"><img src="~/Content/Images/logo.png" /></div>
                            <div class="headerTitle hidden-lg-up">Welcome to Ensure</div>
                                @using (Html.BeginForm("Login", "CandidateAccount", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @id = "loginform" }))
                                {
                                    <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />

                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)
                           
                                <div class="form-group">
                                    <label class="textLabel" for="exampleInputuname">Username</label>

                                    <input tabindex="1" id="UserName" name="UserName" type="text" required="" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label  class="textLabel" for="exampleInputPassword">Password</label>

                                    <input tabindex="2" id="Password" name="Password" required="" type="password" class="form-control">

                                </div>
                                <div class="form-group">
                                     <button tabindex="3" id="btn-login" type="submit" class="btn btn-lg btn-info waves-effect waves-light m-t-10">LOGIN</button>
                                </div>
                                }
                            
                            <div class="loginSocailIcon">
                                <ul class="socialIcon">
                                    <li class="Facebook"><a target="_blank" href="https://www.facebook.com/silicustech/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="Twitter"><a target="_blank" href="https://twitter.com/silicustech"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="Linkedin"><a target="_blank" href="https://www.linkedin.com/company/silicus-technologies"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="Gplus"><a target="_blank" href="https://plus.google.com/+Silicus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="copyRight hidden-lg-up">
                            <a href="#"> Copyright © 2014 - <script>document.write(new Date().getFullYear())</script> Silicus Technologies, LLC <img class="inc" src="~/Content/Images/inc_logo.png" alt="INC 5000"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
  
    <!--login section responsive script -->
    <script type="text/javascript">
	$.fn.center = function () {

			var topMargin = ($(window).height()  - $(this).outerHeight()) / 2;
			var leftMargin = ($(window).width() - $(this).outerWidth()) / 2;
			if(leftMargin<0){
				leftMargin= 0;
			}
			if(topMargin<0){
				topMargin= 0;
			}
			if($('.loginLeft').css('display') == 'block') {
				leftMargin= 0;
				var socialIcon = ($('.loginInner').width() - $('.loginSocailIcon').width())/2;
				$('.loginSocailIcon').css({'margin-left':socialIcon});
			}
			return this.css({
				'left': leftMargin,
				'top': topMargin
			});


		};
$(window).resize(function(){
    $('.loginInner').center();
});
$(document).ready(function($){
	$('.loginInner').center();
});
    </script>
