@model Silicus.FrameworxProject.Models.Frameworx

@{
    ViewBag.Title = "AddComponent";
}
<style>
    .panel-heading{
        background-color:#08B1F4 !important;
        text-align:center;
    }

</style>
<div class="container listdiv">
    <div class="row">
        <div class="col-lg-12 col-12 col-sm-12 centered">
            <div class="addcomponent">
                <div class="panel panel-default" id="extensionform">
                    <div class="panel-heading"><h4>Add Component</h4></div>
                    <div class="panel-body">


                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group required">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DemoLink, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DemoLink, new { htmlAttributes = new { Value = "https://", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DemoLink, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SourceCodeLink, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SourceCodeLink, new { htmlAttributes = new { Value = "https://", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SourceCodeLink, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group required">
                                    @Html.LabelFor(model => model.HtmlDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.HtmlDescription, new { rows = "10", cols = "40", htmlAttributes = new { style = "width: 423px;height: 150px; ", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HtmlDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group required">
                                    @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2 " })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.CategoryId, (MultiSelectList)ViewData["Categories"], "Select Category", new { style = "color:black;width:100%", @class = "btn btn-default dropdown-toggle" })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}