@model Silicus.Reusable.Web.Models.FrameworxViewModel

@{
    Layout = null;
}
<style>
    .arrow {
    }

    .btn-primary {
        background: #286090;
    }

        .btn-primary :hover {
            background: #286090;
        }
</style>
<div class="modal-header">

    <h4 class="modal-title">@Html.DisplayFor(m => m.Name)</h4>
</div>
<div class="modal-body">
    @Html.Raw(Server.HtmlDecode(Model.HtmlDescription))

</div>
<div class="modal-footer">
    <a href="@Model.DemoLink" class="btn btn-info pull-left" role="button" target="_blank">How to Use this?</a>
    <a href="@Model.SourceCodeLink" class="btn btn-info pull-left" role="button" target="_blank">Source Code</a>
    <a href="@Model.SourceCodeLink" class="btn btn-info pull-left" role="button" target="_blank">Demo</a>
    <a class="like @(Model.IsLiked?"liked":"") pull-left" href="#"><i class="fa fa-thumbs-o-up"></i> <span>Like</span>(@Model.Likes)</a>
    <button type="button" class="btn btn-primary" id="" data-dismiss="modal">Close</button>
</div>

