@model Silicus.EncourageWithAzureAd.Web.Models.CriteriaCommentViewModel

<tr>
    <td>
        @Html.HiddenFor(modelItem => modelItem.Id)
    </td>
    <td class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
        @Html.DisplayFor(modelItem => modelItem.Title)
    </td>
    <td class="col-lg-1 col-md-2 col-sm-3 col-xs-2">
        @Html.HiddenFor(modelItem => modelItem.Weightage)
    </td>
    <td class="col-lg-3 col-md-4 col-sm-6 col-xs-4">
        @Html.DropDownListFor(modelItem => modelItem.Rating,
       Enumerable.Range(1, 5).
       Select(j => new SelectListItem
       {
           Value = j.ToString(),
           Text = j.ToString()
       }), "", new { @class = "example-square", @autocomplete = "off" })
    </td>
    <td class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
        @Html.TextAreaFor(modelItem => modelItem.Comment, htmlAttributes: new { @class = "col-md-12", @readonly = "readonly" })
    </td>
</tr>

