@model IEnumerable<Silicus.UtilityContainer.Models.DataObjects.Utility>

@{
    ViewBag.Title = "Dashboard";
    var isRoleAvailable = ViewBag.noRoleForCUrrentUser;
}

<h2>Dashboard</h2>

<style>
    body {
        background-image: url("~/images/blurred-background-7.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .image.featured {
        position: static;
        display: block;
        margin: 0;
        height: 200px;
        border-radius: 6px 6px 0px 0px;
    }

        .image.featured img {
            height: 100%;
            width: 100%;
        }

    .box {
        padding: 3em 2em;
        background: #e6e6e6;
        text-align: center;
        border-radius: 0px 0px 6px 6px;
    }

    .button {
        background: #00b8e6;
        border-radius: 6px;
        border: 0;
        color: white;
        cursor: pointer;
        display: inline-block;
        padding: 0.75em 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.2em;
        font-weight: 600;
        color: white;
    }

    .block {
        padding: 40px;
    }

    p {
        font-family: 'Franklin Gothic';
        color: #29293d;
        text-transform: uppercase;
        font-size: 25px;
    }

    #main-logo {
        float: left;
        padding-bottom: 5px;
    }

    #dashboard-image {
        width: 100%;
        /*background-repeat: repeat;*/
    }
</style>
<p style="color:red;font-size:20px">@isRoleAvailable</p>

    <div class="animated fadeInRight">
        <div>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.Name == "Reusable")
                    {
                        <section class="block col-lg-6 col-md-6">
                            <a title="@item.Name" href="@item.Url?utilityID=@item.Id" class="image featured" target="_blank"><img src="~/Images/Frameworx.jpg" alt="Utility Image" /></a>
                            @*<div class="box col-lg-12 col-md-12">
                                    <p>@item.Name</p>
                                </div>*@
                        </section>
                    }
                    else
                    {
                        <section class="block col-lg-6 col-md-6">
                            <a title="@item.Name" href="@item.Url?utilityID=@item.Id" class="image featured" target="_blank"><img src="@Url.Action("getImg", "Home", new { id = item.Id })" alt="Utility Image" /></a>
                            @*<div class="box col-lg-12 col-md-12">
                                    <p>@item.Name</p>
                                </div>*@
                        </section>
                    }
                }

            }
        </div>
    </div>



<script>
    $(function () {
    
        $(".block").tooltip();
    })
</script>

