@model IEnumerable<Silicus.UtilityContainer.Models.DataObjects.Utility>

@{
    ViewBag.Title = "Dashboard";
    var isRoleAvailable = ViewBag.noRoleForCUrrentUser;
}


<div class="row white-bg header-row M-T5">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="header-name"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="box M-T5" style="border-top:5px solid #acb3b7;">
        <div class="f1">
            <div class="row">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.Name == "Encourage")
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="el-element-overlay m-b-40">
                                    <div class="white-box">
                                        <div class="el-card-item">
                                            <div class="el-card-avatar el-overlay-1">

                                                <img style="height:100px;width:90%;margin: 90px 30px 70px 30px;" src="~/Images/encourageLogo.png" />
                                                <div class="el-overlay">
                                                    <ul class="el-info">
                                                        <li>
                                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@item.Url?utilityID=@item.Id" target="_blank" title="@item.Name">
                                                                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="el-card-content">
                                                <h3 class="box-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> Utility for Award Nomination and Winner Declaration.</h3>


                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (item.Name == "Enhance")
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="el-element-overlay m-b-40">
                                    <div class="white-box">
                                        <div class="el-card-item">
                                            <div class="el-card-avatar el-overlay-1">
                                    
                                    <img style="height: 80px;width:75%;margin: 95px 30px 80px 65px;"  src="~/Images/enhanceLogo.png"  />
                                                <div class="el-overlay">
                                                    <ul class="el-info">
                                                        <li>
                                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@item.Url?utilityID=@item.Id" target="_blank" title="@item.Name">
                                                                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="el-card-content">
                                                <h3 class="box-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span>Framework components dashboard and backlog management.</span></h3>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        else if (item.Name == "Ensure")
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="el-element-overlay m-b-40">
                                    <div class="white-box">
                                        <div class="el-card-item" style="padding-bottom:0px;">
                                            <div class="el-card-avatar el-overlay-1">
                                    
                                    <img style="height: 85px;width:65%;margin: 85px 30px 70px 90px;"  src="~/Images/ensureLogo.png" />
                                                <div class="el-overlay">
                                                    <ul class="el-info">
                                                        <li>
                                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@item.Url?utilityID=@item.Id" target="_blank" title="@item.Name">
                                                                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="el-card-content">
                                    <h3 class="box-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> An online portal for pre-employment assessments.</h3>


                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (item.Name == "Entime")
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="el-element-overlay m-b-40">
                                    <div class="white-box">
                                        <div class="el-card-item" style="padding-bottom:0px;">
                                            <div class="el-card-avatar el-overlay-1">

                                    <img style="height: 83px;width:70%;margin: 88px 30px 70px 80px;"  src="~/Images/entimeLogo.png" />
                                                <div class="el-overlay">
                                                    <ul class="el-info">
                                                        <li>
                                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@item.Url?utilityID=@item.Id" target="_blank" title="@item.Name">
                                                                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="el-card-content">
                                    <h3 class="box-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> Tool of Tracking Employee time and work.</h3>


                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                }
               
            </div>
            @*<div class="row">
               
               
            </div>*@
        </div>
    </div>
</div>
@*<p style="color:red;font-size:20px">@isRoleAvailable</p>*@

    @*<div class="animated fadeInRight">
        <div>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.Name == "Reusable")
                    {
                        <section class="block col-lg-6 col-md-6">
                            <a title="@item.Name" href="@item.Url?utilityID=@item.Id" class="image featured" target="_blank"><img src="~/Images/Frameworx.jpg" alt="Utility Image" class="white-bg" /></a>
                        </section>
                    }
                   else if (item.Name == "Encourage")
                    {
                        <section class="block col-lg-6 col-md-6">
                            <a title="@item.Name" href="@item.Url?utilityID=@item.Id" class="image featured" target="_blank"><img src="~/Images/encourageLogo.png" class="white-bg" /></a>
                        </section>
                    }
                    else
                    {
                        <section class="block col-lg-6 col-md-6">
                            <a title="@item.Name" href="@item.Url?utilityID=@item.Id" class="image featured" target="_blank"><img src="@Url.Action("getImg", "Home", new { id = item.Id })" alt="Utility Image" /></a>
                        </section>
                    }
                }

            }
        </div>
    </div>*@



<script>
    $(function () {
    
        $(".block").tooltip();
    })
</script>

