<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silicus  </title> @*@ViewBag.Title - My ASP.NET Application*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryuiStyle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    
        @RenderBody()
       
      
    
    
    
    <script>
        
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

