@model Silicus.EncourageWithAzureAd.Web.Models.Dashboard
@using System.Drawing;
<!DOCTYPE html>
<!-- Spell Checked and Validated 02/14-->



<style>
    .page-heading {
        margin-left: 0%;
    }

    .navbar-minimalize {
        margin-left: 35%;
    }
</style>

<html>
<body class="pace-done">
    <div class="row border-bottom">
        <nav class="navbar  " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars" style="margin-left:2px;"></i> </a>
            </div>
        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading border-bottom" style="width:90%;">
        <div class="col-sm-12">
            <h1>Dashboard</h1>
        </div>
    </div>

    <!-- begin content -->
    <div class="wrapper wrapper-content animated fadeInRight" style="width:80%">
        <div class="row" style="margin-left:4%;">
            @{
                //  var roles = HttpContext.Current.Session["Role"] as List<string>;
                var roles = Model.userRoles;
            }
            <!-- IT STAFF ROW -->
            <div class="row">
                @if (roles == null)
                {

                    <div class="col-md-8">

                        <span style="font-weight:bold;color:red">You are not authorized to view this page, please contact system administrator.</span>

                    </div>
                }

                else
                {
                    if (roles.Contains("Manager"))
                    {

                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("AddNomination", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                        <span style="font-weight:bold">  Nominate </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }
                    if (roles.Contains("Manager"))
                    {

                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("GetNominationList","Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                        <span style="font-weight:bold">  Edit nominations </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }
                    if (roles.Contains("Reviewer"))
                    {
                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                                </div>

                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("ReviewNominations", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                        <span style="font-weight:bold">Pending Reviews</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    }
                    if (roles.Contains("Reviewer"))
                    {
                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                                </div>

                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("SavedReviews", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                        <span style="font-weight:bold"> Done Reviews</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    }
                    if (roles.Contains("Admin"))
                    {
                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
                                </div>

                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("","")" class="btn btn-primary btn-sm dashboardButtons" id="lockNominations">
                                        <span style="font-weight:bold">Lock Nominations</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title text-center">
                                    <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                                </div>

                                <div class="ibox-footer text-left">
                                    <a href="@Url.Action("","")" class="btn btn-primary btn-sm dashboardButtons" id="unLockNominations">
                                        <span style="font-weight:bold">Unlock Nominations</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }
                }  @*end of Else*@
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row text-center">
                    @if (Model.NominationList.Count() > 0)
                    {
                        <span style="font-weight:bold;color:#0067AA;" class="winners">Silicus Wall Of Fame</span>
                    }
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    @{
                        var index = 0;
                        var winnerIndex = 0;
                    }

                    @foreach (var item in @Model.NominationList.ToList())
                    {
                        <input type="hidden" value="@item.DisplayName" id="winner @winnerIndex" />
                    }

                    @foreach (var item in Model.NominationList)
                    {
                        Random randomGen = new Random();
                        KnownColor[] names = (KnownColor[])Enum.GetValues(typeof(KnownColor));
                        KnownColor randomColorName = names[randomGen.Next(names.Length)];
                        Color randomColor = Color.FromKnownColor(randomColorName);

                        <div class="col-md-12 card white-bg" id="@index" style="display:none;border:none;font-weight:bold">

                            @*<div class="cardHeader col-md-12 text-center">
                                <div>
                                    @Html.DisplayFor(modelItem => item.DisplayName)
                                </div>

                                <div>
                                    @Html.DisplayFor(modelItem => item.AwardName)

                                    @Html.DisplayFor(modelItem => item.NominationTime)
                                </div>

                            </div>*@
                            <div class="cardHeader col-md-12 text-center">
                                <div class="text-center">
                                    <span class="font-bold">@Html.LabelFor(modelItem => item.DisplayName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.DisplayName)</span>
                                </div>
                                <div class="text-center">
                                    <span class="font-bold">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                                </div>
                                <div class="text-center">
                                    <span class="font-bold">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                                </div>
                                <div class="text-center">
                                    <span class="font-bold">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                                </div>

                            </div>

                        </div>
                        index++;
                    }

                    <br />
                </div>
            </div>
        </div>
    </div><!-- ./ wrapper -->
    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>



</body>

</html>

<script>

    $("#lockNominations").click(function (e) {
        debugger;
        e.preventDefault();
        $("#lockNominations").addClass('disabled');
        $("#unLockNominations").removeClass('disabled')
    })
    $("#unLockNominations").click(function (e) {
        e.preventDefault();
        $("#unLockNominations").addClass('disabled');
        $("#lockNominations").removeClass('disabled');
    })
    var winnerCardIndex = 0;
    $("#0").delay(1000).fadeIn();
    $("#1").delay(1000).fadeIn();
    $("#2").delay(1000).fadeIn();
    $("#3").delay(1000).fadeIn();
    $("#4").delay(1000).fadeIn();

    @*$(".card").click(function winnerCards()
    {

        debugger;
        if (winnerCardIndex <= (@Model.Count()))
        {
            debugger;
            $("#"+winnerCardIndex).css("display", "none");
            winnerCardIndex++;
            if (winnerCardIndex == (@Model.Count())) {
                winnerCardIndex = 0;
            }
            $("#"+winnerCardIndex).delay(1000).fadeIn();

        }


    });*@


    //$(".winners").click(function(){



    //    sweetAlert("Asha");


    //});

</script>
