@model Silicus.EncourageWithAzureAd.Web.Models.Dashboard
@using System.Drawing;
<!-- Spell Checked and Validated 02/14-->
<div class="row white-bg header-row">

    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="dashboard-name">Dashboard</h1>
    </div>
</div>
<div class="row header-row" style="margin-top:15px;margin-bottom:-15px;">
    @{
        var roles = Model.userRoles;
    }
    @if (roles == null)
            {
        <div class="col-md-8">
            <span style="font-weight:bold;color:red">You are not authorized to view this page, please contact system administrator.</span>
        </div>
    }
    else
    {
        if (roles.Contains("Manager"))
        {
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="ibox-footer text-left">
                        <a href="@Url.Action("GetNominationList", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                            <span style="font-weight:bold">  Nominations </span>
                        </a>
                    </div>
                </div>
            </div>
        }
        if (roles.Contains("Manager"))
        {

            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="ibox-footer text-left">
                        <a href="@Url.Action("AddNomination","Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                            <span style="font-weight:bold">  Add nomination </span>
                        </a>
                    </div>
                </div>

            </div>
        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                    </div>

                    <div class="ibox-footer text-left">
                        <a href="@Url.Action("ReviewNominations", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                            <span style="font-weight:bold">Pending Reviews</span>
                        </a>
                    </div>
                </div>

            </div>

        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                    </div>

                    <div class="ibox-footer text-left">
                        <a href="@Url.Action("SavedReviews", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                            <span style="font-weight:bold"> Done Reviews</span>
                        </a>
                    </div>
                </div>

            </div>

        }
        if (roles.Contains("Admin"))
        {
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
                    </div>

                    <div class="ibox-footer text-left">
                        @*<a href="@Url.Action("LockNomination","Review")" class="btn btn-primary btn-sm dashboardButtons" id="lockNominations">
                                <span style="font-weight:bold">Lock Nominations</span>
                            </a>*@
                        @Ajax.ActionLink("Lock Nominations",
                                    "LockNomination", "Review", new { },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET"
                                    },
                                        new { id = "lockNominations", @class = "btn btn-primary btn-sm dashboardButtons",@style= "font-weight:bold" }
                                    )


                    </div>
                </div>


            </div>
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                    </div>

                    <div class="ibox-footer text-left">
                        @*<a href="@Url.Action("","")" class="btn btn-primary btn-sm dashboardButtons" id="unLockNominations">
                                <span style="font-weight:bold">Unlock Nominations</span>
                            </a>*@

                        @Ajax.ActionLink("Unlock Nominations", "UnlockNomination", "Review", new { }, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm dashboardButtons and111", @style = "font-weight:bold", id = "unLockNominations" })

                        @*@Ajax.ActionLink("Unlock Nominations",
                            "UnlockNomination", "Review",
                            new AjaxOptions
                            {
                                HttpMethod = "GET"
                            },
                                new  { id = "unLockNominations", @class = "btn btn-primary btn-sm dashboardButtons" }
                            )*@
                    </div>
                </div>

            </div>
        }
    }  @*end of Else*@

</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding:0px 10px 40px;">
    <div class="row">
        @if (Model.NominationList.Count() > 0)
        {
            <div class="header-walloffame"><span>Silicus Wall Of Fame</span></div>
        }
    </div>
    
    <div class="row">
        @{
            var index = 0;
            var winnerIndex = 0;
        }

        @foreach (var item in @Model.NominationList.ToList())
        {
            <input type="hidden" value="@item.DisplayName" id="winner @winnerIndex" />
        }

        @foreach (var item in Model.NominationList)
        {
            Random randomGen = new Random();
            KnownColor[] names = (KnownColor[])Enum.GetValues(typeof(KnownColor));
            KnownColor randomColorName = names[randomGen.Next(names.Length)];
            Color randomColor = Color.FromKnownColor(randomColorName);

            <div class="outer-wrapperWell well-section">
                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placekitten.com/150/150">
                        </a>
                        <div class="media-body">
                            <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.DisplayName): </span><span class="media-heading font-noraml">@Html.DisplayFor(modelItem => item.DisplayName)</span>

                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                            </div>
                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                            </div>
                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                            </div>


                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                Aliquam in felis sit amet augue.
                            </p>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                                <li>|</li>
                                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                <li>|</li>
                                <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placekitten.com/150/150">
                        </a>
                        <div class="media-body">
                            <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.DisplayName): </span><span class="media-heading font-noraml">@Html.DisplayFor(modelItem => item.DisplayName)</span>

                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                            </div>
                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                            </div>
                            <div class="">
                                <span class="font-bold txt-color">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                            </div>


                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                Aliquam in felis sit amet augue.
                            </p>
                           

                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                                <li>|</li>
                                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                <li>|</li>
                                <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12 card white-bg" id="@index">
                <div class="cardHeader col-md-12 text-center">
                    <div class="text-center">
                        <span class="font-bold">@Html.LabelFor(modelItem => item.DisplayName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.DisplayName)</span>
                    </div>
                    <div class="text-center">
                        <span class="font-bold">@Html.LabelFor(modelItem => item.AwardName): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardName)</span>
                    </div>
                    <div class="text-center">
                        <span class="font-bold">@Html.LabelFor(modelItem => item.NominationTime): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.NominationTime)</span>
                    </div>
                    <div class="text-center">
                        <span class="font-bold">@Html.LabelFor(modelItem => item.AwardComment): </span> <span class="font-noraml"> @Html.DisplayFor(modelItem => item.AwardComment)</span>
                    </div>

                </div>
            </div>*@
            index++;
        }
        <br />
    </div>
</div>