@model Silicus.EncourageWithAzureAd.Web.Models.DashboardViewModel
<!-- Spell Checked and Validated 02/14-->
<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="dashboard-name">Dashboard</h1>
    </div>
</div>
<div class="row header-row M-T15">
    @{
        var roles = Model.UserRoles;
    }
    @if (roles == null)
    {
        <div class="box">
            <div class="col-md-8">
                <span style="font-weight:bold;color:red">You are not authorized to view this page, please contact system administrator.</span>
            </div>
        </div>
    }
    else
    {
        if (roles.Contains("Manager"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="@Url.Action("AddNomination","Nomination")" class="">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Add Nominations</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        if (roles.Contains("Manager"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="@Url.Action("GetNominationList", "Nomination")" class="">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Edit Nominations</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="@Url.Action("ReviewNominations", "Nomination")" class="">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Pending Reviews</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="@Url.Action("SavedReviews", "Nomination")" class="">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Submitted</span>
                                <span class="text-muted">Reviews</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        if (roles.Contains("Admin"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="javascript:void(0)" class="" id="lockNominations">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Lock</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <a href="javascript:void(0)" class="" id="unLockNominations">
                    <div class="white-box">
                        <div class="r-icon-stats">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            <div class="bodystate">
                                <span class="text-muted">Unlock</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    }
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box header-box">
            @if (Model.Awards.Count() > 0)
            {
                <div class="header-walloffame">
                    <span>Silicus Wall Of Fame</span>
                    <div class="pull-right">
                        <ul>
                            <li>
                                @Html.DropDownList("filterMonth", Enumerable.Range(1, 12).
                            Select(i => new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)
                            }),
                         "-- Month --", new { @class = "form-group form-control",@onchange= "filterByData();" })
                            </li>
                            <li>
                                @Html.DropDownList("filterYear",
                            Enumerable.Range(2010, (DateTime.Now.Year + 1) - 2010).
                            Select(i => new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = i.ToString()
                            }),
             "-- Year --", new { value = DateTime.Now.Year, @class = "form-group form-control", @onchange = "filterByData();" })
                            </li>
                        </ul>



                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box M-B60">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                    @{
                        var aIndex = 0;
                    }
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul id="awardsTabs" class="nav nav-tabs tabs-left">
                        @foreach (var award in Model.Awards)
                        {
                            <li class="@(aIndex == 0 ? "active" : "")" data-awardId="@award.AwardId" onclick = "filterByData(this);">
                                <a href="#winnerList" data-toggle="tab" aria-expanded="@(aIndex == 0 ? "true" : "false")">
                                    @award.AwardTitle
                                </a>
                            </li>
                            aIndex++;
                        }
                    </ul>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-8 wrap" style="margin-left:-15px;">
                    <div id="wofWinnersList">
                        @Html.Partial("_winnersList", Model.NominationList)
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<span id="processName" style="display:none"></span>

@*<script src="~/js/jquery-2.1.1.js"></script>

<script src="~/js/bootstrap.min.js"></script>*@

<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/js/inspinia.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>

<!-- FooTable -->
<script src="~/js/plugins/footable/footable.all.min.js"></script>

<script>
    var _urlGetWinnersListPartialView = "@Url.Action("GetWinnersListPartialView", "Home")";
    $(document).ready(function () {
        $("#filterMonth").val(@DateTime.Now.Month);
        $("#filterYear").val(@DateTime.Now.Year);

    });
    $("#lockNominations").click(function (e) {
        showCustomLoader();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LockNomination", "Review")',
            dataType: 'html',
            success: function (result) {
                hideCustomLoader();
                swal({
                    title: "Awards to lock",
                    html: true,
                    text: result,
                    showConfirmButton: ($(result).filter('#no-awards').text() == undefined || $(result).filter('#no-awards').text() == ""),
                    confirmButtonColor: "#0070b9",
                    confirmButtonText: "Submit",
                    showCancelButton: true,
                    cancelButtonText: "Cancle",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var awardId;
                        $("input:radio").each(function () {
                            if ($(this).prop("checked")) {
                                awardId = parseInt($(this).prop("id"));
                            }
                        });

                        $("input:radio").change(function () {
                            if ($(this).prop("checked")) {
                                $(".sa-error-container").removeClass("show");
                            }
                        });

                        if (awardId.length <= 0) {
                            swal.showInputError("Please select at least one award category.");
                            $(".sa-input-error").removeClass("show");
                            return false;
                        }
                        else {
                            showCustomLoader();
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("GetProcessesToLockOrUnlock","Review")',
                                data: { awardId: awardId, status: 'Lock' },
                                dataType: 'html',
                                success: function (data) {
                                    hideCustomLoader();
                                    debugger;
                                    swal({
                                        title: "Select process to lock",
                                        showCancelButton: true,
                                        html: true,
                                        text: data,
                                        type: "warning",
                                        confirmButtonColor: "#0070b9",
                                        confirmButtonText: "Submit",
                                        cancelButtonText: "Cancel",
                                        closeOnConfirm: false,
                                        closeOnCancel: true
                                    },
                                  function (isConfirm) {
                                      debugger;
                                      if (isConfirm) {
                                          var processId = [];
                                          $("input:checkbox").each(function () {
                                              if ($(this).prop("checked")) {
                                                  processId.push(parseInt($(this).prop("id")));
                                                  $("#processName").val($(this).val());
                                              }
                                          });

                                          $("input:checkbox").change(function () {
                                              if ($(this).prop("checked")) {
                                                  $(".sa-error-container").removeClass("show");
                                              }
                                          });

                                          if (processId.length <= 0) {
                                              swal.showInputError("Please select at least one process to lock.");
                                              $(".sa-input-error").removeClass("show");
                                              return false;
                                          }
                                          else {
                                              showCustomLoader();
                                              $.ajax({
                                                  type: 'POST',
                                                  url: '@Url.Action("LockNomination", "Review")',
                                                  data: { awardIds: awardId, processIds: processId },
                                                  dataType: "JSON",
                                                  success: function (data) {
                                                      hideCustomLoader();
                                                      var lockedAwardNames = "";
                                                      for (var i = 0; i < data.length; i++) {
                                                          lockedAwardNames += data[i].Name + "</br>";
                                                      }
                                                      swal({
                                                          title: $("#processName").val() + " process for following award locked sucessfully",
                                                          html: true,
                                                          text: lockedAwardNames + "<br/>"
                                                      })
                                                  },
                                                  error: function () {
                                                      hideCustomLoader();
                                                      swal("Error", "Oops! Something wrong happened..");
                                                  }
                                              });

                                          }

                                      }
                                  });
                                },
                                error: function () {
                                    swal("Error", "Oops! Something wrong happened..");
                                }
                            });

                        }
                    }

                });
            },
            error: function (data) {
                hideCustomLoader();
                swal("Error", "Oops! Something wrong happened..");
            }
        });

    });


    //*****
    $("#unLockNominations").click(function (e) {
        showCustomLoader();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UnlockNomination", "Review")',
            dataType: 'html',
            success: function (result) {
                hideCustomLoader();
                swal({
                    title: "Awards to unlock",
                    html: true,
                    text: result,
                    showConfirmButton: ($(result).filter('#no-awards').text() == undefined || $(result).filter('#no-awards').text() == ""),
                    confirmButtonColor: "#0070b9",
                    confirmButtonText: "Submit",
                    showCancelButton: true,
                    cancelButtonText: "Cancle",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var awardId;
                            $("input:radio").each(function () {
                                if ($(this).prop("checked")) {
                                    awardId = parseInt($(this).prop("id"));
                                }
                            });

                            $("input:radio").change(function () {
                                if ($(this).prop("checked")) {
                                    $(".sa-error-container").removeClass("show");
                                }
                            });

                            if (awardId.length <= 0) {
                                swal.showInputError("Please select at least one award category.");
                                $(".sa-input-error").removeClass("show");
                                return false;
                            }
                            else {
                                showCustomLoader();
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetProcessesToLockOrUnlock","Review")',
                                    data: { awardId: awardId, status: 'unLock' },
                                    dataType: 'html',
                                    success: function (data) {
                                        hideCustomLoader();
                                        debugger;
                                        swal({
                                            title: "Select process to unlock",
                                            showCancelButton: true,
                                            html: true,
                                            text: data,
                                            type: "warning",
                                            confirmButtonColor: "#0070b9",
                                            confirmButtonText: "Submit",
                                            cancelButtonText: "Cancel",
                                            closeOnConfirm: false,
                                            closeOnCancel: true
                                        },
                                      function (isConfirm) {
                                          debugger;
                                          if (isConfirm) {
                                              var processId = [];
                                              $("input:checkbox").each(function () {
                                                  if ($(this).prop("checked")) {
                                                      processId.push(parseInt($(this).prop("id")));
                                                      $("#processName").val($(this).val());
                                                  }
                                              });

                                              $("input:checkbox").change(function () {
                                                  if ($(this).prop("checked")) {
                                                      $(".sa-error-container").removeClass("show");
                                                  }
                                              });

                                              if (processId.length <= 0) {
                                                  swal.showInputError("Please select at least one process to unlock.");
                                                  $(".sa-input-error").removeClass("show");
                                                  return false;
                                              }
                                              else {
                                                  showCustomLoader();
                                                  $.ajax({
                                                      type: 'POST',
                                                      url: '@Url.Action("UnlockNomination", "Review")',
                                                      data: { awardIds: awardId, processIds: processId },
                                                      dataType: "JSON",
                                                      success: function (data) {
                                                          hideCustomLoader();
                                                          var lockedAwardNames = "";
                                                          for (var i = 0; i < data.length; i++) {
                                                              lockedAwardNames += data[i].Name + "</br>";
                                                          }
                                                          swal({
                                                              title: $("#processName").val() + " process for following award unlocked sucessfully",
                                                              html: true,
                                                              text: lockedAwardNames + "<br/>"
                                                          })
                                                      },
                                                      error: function () {
                                                          hideCustomLoader();
                                                          swal("Error", "Oops! Something wrong happened..");
                                                      }
                                                  });

                                              }

                                          }
                                      });
                                    },
                                    error: function () {
                                        swal("Error", "Oops! Something wrong happened..");
                                    }
                                });

                            }
                        }

                    });
            },
            error: function (data) {
                hideCustomLoader();
                swal("Error", "Oops! Something wrong happened..");
            }
        });

    });

    var winnerCardIndex = 0;
    $("#0").delay(1000).fadeIn();
    $("#1").delay(1000).fadeIn();
    $("#2").delay(1000).fadeIn();
    $("#3").delay(1000).fadeIn();
    $("#4").delay(1000).fadeIn();

    function filterByData(element) {
        var month = +$("#filterMonth").val();
        var year = +$("#filterYear").val();
        var awardId;

        if (element != null) {
            awardId = $(element).attr("data-awardId")
        } else {
            awardId = +$("#awardsTabs li.active").attr("data-awardId");
        }
        

        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlGetWinnersListPartialView,
            data: { month: month, year: year,awardId:awardId },
            success: function (result) {
                $("#wofWinnersList").html('');
                hideCustomLoader();
                $("#wofWinnersList").html(result);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    }
</script>
