@model Silicus.EncourageWithAzureAd.Web.Models.DashboardViewModel
<!-- Spell Checked and Validated 02/14-->
<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="dashboard-name">Dashboard</h1>
    </div>
</div>
<div class="row header-row" style="margin-top:15px;">
    @{
        var roles = Model.userRoles;
    }
    @if (roles == null)
    {
        <div class="box">
            <div class="col-md-8">
                <span style="font-weight:bold;color:red">You are not authorized to view this page, please contact system administrator.</span>
            </div>
        </div>
    }
    else
    {
        if (roles.Contains("Manager"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <div class="white-box">
                    <div class="r-icon-stats">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="bodystate">

                            <span class="text-muted">Nominations</span>
                        </div>
                    </div>
                </div>
                @*<div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("GetNominationList", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                <span style="font-weight:bold">  Nominations </span>
                            </a>
                        </div>
                    </div>*@
            </div>
        }
        if (roles.Contains("Manager"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <div class="white-box">
                    <div class="r-icon-stats">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="bodystate">
                            <span class="text-muted">Add Nominations</span>
                        </div>
                    </div>
                </div>
                @*<div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("AddNomination","Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                <span style="font-weight:bold">  Add Nomination </span>
                            </a>
                        </div>
                    </div>*@
            </div>
        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <div class="white-box">
                    <div class="r-icon-stats">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="bodystate">

                            <span class="text-muted">Nominations</span>
                        </div>
                    </div>
                </div>
                @*<div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                        </div>

                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("ReviewNominations", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                <span style="font-weight:bold">Pending Reviews</span>
                            </a>
                        </div>
                    </div>*@
            </div>
        }
        if (roles.Contains("Reviewer"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <div class="white-box">
                    <div class="r-icon-stats">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="bodystate">

                            <span class="text-muted">Nominations</span>
                        </div>
                    </div>
                </div>
                @*<div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                        </div>

                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("SavedReviews", "Nomination")" class="btn btn-primary btn-sm dashboardButtons">
                                <span style="font-weight:bold"> Done Reviews</span>
                            </a>
                        </div>
                    </div>*@

            </div>
        }
        if (roles.Contains("Admin"))
        {
            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
                <div class="white-box">
                    <div class="r-icon-stats">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <div class="bodystate">

                            <span class="text-muted">Nominations</span>
                        </div>
                    </div>
                </div>
                @*<div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
                        </div>

                        <div class="ibox-footer text-left">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm dashboardButtons" id="lockNominations">
                                <span style="font-weight:bold"> Lock Nominations</span>
                            </a>
                        </div>
                    </div>*@
            </div>
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-6 cust-width">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <div class="bodystate">

                    <span class="text-muted">Nominations</span>
                </div>
            </div>
        </div>
        @*<div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                </div>

                <div class="ibox-footer text-left">
                    <a href="javascript:void(0)" class="btn btn-primary btn-sm dashboardButtons" id="unLockNominations">
                        <span style="font-weight:bold"> UnLock Nominations</span>
                    </a>
                </div>
            </div>*@

    </div>
        }
    }  

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box header-box">
            @if (Model.Awards.Count() > 0)
            {
                <div class="header-walloffame">
                    <span>Silicus Wall Of Fame</span>
                    <div class="pull-right">
                        @Html.DropDownList("filterMonth", Enumerable.Range(1, 12).
                            Select(i => new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)
                            }),
                         "-- Month --", new { @class = "" })

                        @Html.DropDownList("filterYear",
                            Enumerable.Range(2010, (DateTime.Now.Year + 1) - 2010).
                            Select(i => new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = i.ToString()
                            }),
                            "-- Year --", new { value = DateTime.Now.Year })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
        <div id="wofWinnersList">
            @Html.Partial("_winnersList", Model)
        </div>
</div>


<script src="~/js/jquery-2.1.1.js"></script>

<script src="~/js/bootstrap.min.js"></script>

<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/js/inspinia.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>

<!-- FooTable -->
<script src="~/js/plugins/footable/footable.all.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    var _urlGetWinnersListPartialView = "@Url.Action("GetWinnersListPartialView", "Home")";
    $(document).ready(function () {
        $("#filterMonth").val(@DateTime.Now.Month);
        $("#filterYear").val(@DateTime.Now.Year);
       
    });

    $("#lockNominations").click(function (e) {
        swal({
            title: "Do you want to lock nominations?",
            showCancelButton: true,
            type: "warning",
            confirmButtonColor: "#0070b9",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: false
        },
               function (isConfirm) {
                   if (isConfirm) {
                       debugger;
                       $.ajax({
                           type: 'GET',
                           url: '@Url.Action("LockNomination", "Review")',
                           dataType: 'html',
                           success: function (data) {
                               swal({
                                   title: "Lock Nominations",
                                   html: true,
                                   text: data,
                                   confirmButtonColor: "#0070b9",
                                   confirmButtonText: "Submit",
                                   showCancelButton: true,
                                   cancelButtonText: "Cancle",
                                   closeOnConfirm: false,
                                   closeOnCancel: true
                               },
                               function (isConfirm) {
                                   if (isConfirm) {
                                       var awardId = [];
                                       $("input:checkbox").each(function () {
                                           if ($(this).prop("checked")) {
                                               awardId.push(parseInt($(this).prop("id")));
                                           }
                                       });
                                     
                                       $("input:checkbox").change(function () {
                                           if ($(this).prop("checked")) {
                                               $(".sa-error-container").removeClass("show");
                                           } 
                                       });
                                       
                                       if (awardId.length <= 0) {
                                           swal.showInputError("Please select at least one award category.");
                                           $(".sa-input-error").removeClass("show");
                                           return false;
                                       }
                                       else {
                                           $.ajax({
                                               type: 'POST',
                                               url: '@Url.Action("LockNomination", "Review")',
                                               data: { awardIds: awardId },
                                               dataType: "JSON",
                                               success: function (data) {
                                                   var lockedAwardNames = "";
                                                   for (var i = 0; i < data.length; i++) {
                                                       lockedAwardNames += data[i].Name + "</br>";
                                                   }
                                                   swal({
                                                       title: "Following Awards locked sucessfully",
                                                       html: true,
                                                       text: lockedAwardNames + "<br/>"
                                                   })
                                               },
                                               error: function () {
                                                   swal("Error", "Oops! Something wrong happened..");
                                               }
                                           });

                                       }
                                   }
                                
                               });
                           },
                           error: function (data) {
                               swal("Error", "Oops! Something wrong happened..");
                           }
                       });
                   } else {
                       swal("Cancelled", "Nomination Cancelled");
                      }
               });
    });



    //*****
    $("#unLockNominations").click(function (e) {
        swal({
            title: "Do you want to unlock nominations?",
            showCancelButton: true,
            type: "warning",
            confirmButtonColor: "#0070b9",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: false
        },
               function (isConfirm) {
                   if (isConfirm) {
                       debugger;
                       $.ajax({
                           type: 'GET',
                           url: '@Url.Action("UnlockNomination", "Review")',
                           dataType: 'html',
                           success: function (data) {
                               swal({
                                   title: "Unlock Nominations",
                                   html: true,
                                   text: data,
                                   confirmButtonColor: "#0070b9",
                                   confirmButtonText: "Submit",
                                   showCancelButton: true,
                                   cancelButtonText: "Cancle",
                                   closeOnConfirm: false,
                                   closeOnCancel: true
                               },
                               function (isConfirm) {
                                   if (isConfirm) {
                                       var awardId = [];
                                       $("input:checkbox").each(function () {
                                           if ($(this).prop("checked")) {
                                               awardId.push(parseInt($(this).prop("id")));
                                           }
                                       });

                                       $("input:checkbox").change(function () {
                                           if ($(this).prop("checked")) {
                                               $(".sa-error-container").removeClass("show");
                                           }
                                       });

                                       if (awardId.length <= 0) {
                                           swal.showInputError("Please select at least one award category.");
                                           $(".sa-input-error").removeClass("show");
                                           return false;
                                       }
                                       else {
                                           $.ajax({
                                               type: 'POST',
                                               url: '@Url.Action("UnlockNomination", "Review")',
                                               data: { awardIds: awardId },
                                               dataType: "JSON",
                                               success: function (data) {
                                                   var lockedAwardNames = "";
                                                   for (var i = 0; i < data.length; i++) {
                                                       lockedAwardNames += data[i].Name + "</br>";
                                                   }
                                                   swal({
                                                       title: "Following Awards unlocked sucessfully",
                                                       html: true,
                                                       text: lockedAwardNames + "<br/>"
                                                   })
                                               },
                                               error: function () {
                                                   swal("Error", "Oops! Something wrong happened..");
                                               }
                                           });

                                       }
                                   }

                               });
                           },
                           error: function (data) {
                               swal("Error", "Oops! Something wrong happened..");
                           }
                       });
                   } else {
                       swal("Cancelled", "Nomination Cancelled");
                   }
               });
    });
    //***


    //$("#lockNominations").click(function (e) {
    //    sweetAlert("The Nomination is Successfully Locked");
    //});
    //$("#unLockNominations").click(function (e) {
    //    sweetAlert("The Nomination is Successfully unlocked");
    //    return true;
    //});
    var winnerCardIndex = 0;
    $("#0").delay(1000).fadeIn();
    $("#1").delay(1000).fadeIn();
    $("#2").delay(1000).fadeIn();
    $("#3").delay(1000).fadeIn();
    $("#4").delay(1000).fadeIn();

    $("#filterMonth").on("change", function () {
        var month = +$(this).val();
        var year = +$("#filterYear").val();
        filterByData(month, year)
    });

    $("#filterYear").on("change", function () {
        var month = +$("#filterMonth").val();
        var year = +$(this).val();
        filterByData(month, year)
    });

    function filterByData(month, year) {
        $("#wofWinnersList").html('');
        $("#wofWinnersList").addClass("loader margin-left-40");
        $.ajax({
            type: "GET",
            url: _urlGetWinnersListPartialView,
            data: { month: month, year: year },
            success: function (result) {
                $("#wofWinnersList").removeClass("loader margin-left-40");
                $("#wofWinnersList").html(result);
            },
            error: function (error) {
                console.log(error);
            }

        });
    }
</script>