@model Silicus.Ensure.Web.Models.QuestionModel
@using Kendo.Mvc.UI;
@using Silicus.Ensure.Models.Constants;
<div class="fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" id="errorDiv" style="display:none">
                <strong>Error!</strong> <span id="errorContent"></span>
            </div>
        </div>
    </div>
    <div class="row" id="QuestionIdDiv">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Question Id </label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <span id="QuestionId" data-value="@Model.Id">@Model.Id</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @if (!string.IsNullOrEmpty(Model.ReviewerComment))
    {
        <div class="row">
            <div class="col-xs-10 col-sm-12 col-md-10 col-lg-8">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="">Reviewer's Comment <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.ReviewerComment, new { @rows = "6", @class = "form-control ",@disabled=true, @style = "width:95%;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Question type <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @(Html.Kendo().DropDownListFor(m => m.QuestionType)
                                                .Name("QuestionType")
                                                .Value(Model.QuestionType)
                                                .Events(e => e.Change("QuestionTypeChange"))
                                                .BindTo(EnumHelper.GetSelectList(typeof(QuestionType)))
                                                .HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Question <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.QuestionDescription, new { @rows = "5", @class = "form-control", @style="width:95%;" })
                        @Html.ValidationMessageFor(m => m.QuestionDescription)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="practical">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="">Answer choices <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div id="rowOpt1">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group" id="answerDiv">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption1, new { @class = "ansCheckBox chkValidation" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option1, new { @class = "form-control", Value = @Model.Option1 })
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt1").HtmlAttributes(new { type = "button", param = "1", style = "display:none;padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt2">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption2, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option2, new { @class = "form-control", Value = @Model.Option2 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt2").HtmlAttributes(new { type = "button", param = "2", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt3">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption3, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option3, new { @class = "form-control", Value = @Model.Option3 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt3").HtmlAttributes(new { type = "button", param = "3", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                            @(Html.Kendo().Button().Name("btnDelOpt3").HtmlAttributes(new { type = "button", param = "3", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt4">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption4, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option4, new { @class = "form-control", Value = @Model.Option4 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt4").HtmlAttributes(new { type = "button", param = "4", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                            @(Html.Kendo().Button().Name("btnDelOpt4").HtmlAttributes(new { type = "button", param = "4", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt5">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption5, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option5, new { @class = "form-control", Value = @Model.Option5 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt5").HtmlAttributes(new { type = "button", param = "5", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                            @(Html.Kendo().Button().Name("btnDelOpt5").HtmlAttributes(new { type = "button", param = "5", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt6">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption6, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option6, new { @class = "form-control", Value = @Model.Option6 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt6").HtmlAttributes(new { type = "button", param = "6", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                            @(Html.Kendo().Button().Name("btnDelOpt6").HtmlAttributes(new { type = "button", param = "6", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt7">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption7, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option7, new { @class = "form-control", Value = @Model.Option7 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnAddOpt7").HtmlAttributes(new { type = "button", param = "7", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-plus" }).Events(e => e.Click("OptionAdd")))
                            @(Html.Kendo().Button().Name("btnDelOpt7").HtmlAttributes(new { type = "button", param = "7", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div id="rowOpt8">
                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-addon">
                                        @Html.CheckBoxFor(y => y.IsAnsOption8, new { @class = "ansCheckBox" })
                                    </div>
                                    @Html.TextBoxFor(m => m.Option8, new { @class = "form-control", Value = @Model.Option8 })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @(Html.Kendo().Button().Name("btnDelOpt8").HtmlAttributes(new { type = "button", param = "8", style = "padding:6px 13px;font-size:12px;", @class = "fa fa-minus" }).Events(e => e.Click("OptionDelete")))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-6">
                        <div class="form-group">
                            <div class="checkbox checkbox-info" id="IsAllowedmoreThanOneAns">
                                <input id="checkbox33" type="checkbox">
                                <label for="checkbox33">Allow more than one answer to this question</label>
                            </div>
                            @Html.HiddenFor(y => y.AnswerType)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="practicalAns">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Answer <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Answer, new { @rows = "5", @class = "form-control ", @style = "width:95%;" })
                        @Html.ValidationMessageFor(m => m.Answer)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Technology <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">

                        @(Html.Kendo().DropDownListFor(m => m.TechnologyId)
          .DataTextField("TechnologyName")
          .DataValueField("TechnologyId")
          .OptionLabel("--Select--")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetAllTechnologiesForDropDown", "Technology");
              });
          })
          .HtmlAttributes(new { style = "width: 100%" })
                        )
                        @Html.ValidationMessageFor(m => m.TechnologyId)
                    </div>

                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a style="padding:2px 12px;" class="themeColorBlue btn btn-primary" href="#" onclick="AddTag();"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Skill tags <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">

                        @(Html.Kendo().MultiSelectFor(m => m.SkillTag)
                                                .DataTextField("TagName")
                                                .DataValueField("TagId")
                                                .Placeholder("--Select--")
                                                .BindTo(Model.SkillTagsList)
                                                .Value(Model.SkillTag)
                                                .HtmlAttributes(new { style = "width: 100%" }))
                        @Html.ValidationMessageFor(m => m.SkillTag)
                    </div>

                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a style="padding:2px 12px;" class="themeColorBlue btn btn-primary" href="#" onclick="AddTag();"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Proficiency <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @(Html.Kendo().DropDownListFor(m => m.ProficiencyLevel)
                                                .Name("ProficiencyLevel")
                                                .OptionLabel("--Select--")
                                                .Value(Model.ProficiencyLevel)
                                                .BindTo(EnumHelper.GetSelectList(typeof(Proficiency)))
                                                .HtmlAttributes(new { style = "width: 100%" }))
                        @Html.ValidationMessageFor(m => m.ProficiencyLevel)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Duration (min) <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.TextBoxFor(y => y.Duration, new { @type = "number", @min = "1", @max = "360", @class = "form-control", @style = "width:95%;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="">Marks <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.TextBoxFor(y => y.Marks, new { @type = "number", @min = "1", @max = "100", @class = "form-control", @style = "width:95%;" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.OptionCount, new { Value = @Model.OptionCount })
    <input type="hidden" name="CreatedOn" value="@Model.CreatedOn" />
    @Html.HiddenFor(m => m.CreatedBy, new { Value = @Model.CreatedBy })
    @Html.HiddenFor(m => m.Id, new { Value = @Model.Id })
    @Html.HiddenFor(m => m.Edit, new { Value = @Model.Edit })
    @Html.HiddenFor(m => m.Status, new { Value = @Model.Status })

    <style>
        .height {
            height: 250px;
        }

        .required {
            color: red;
        }
    </style>

</div>
