@using HR_Web.Utilities;
@model Models.DocumentDetailListViewModel
@{
    IEnumerable<Data.DocumentDetail> _documentDetailList;
    IEnumerable<Data.Master_Document> _Master_DocumentListAddress = Model.Master_DocumentList;
}

@using (Ajax.BeginForm("Upload", "Document", new AjaxOptions { HttpMethod = "POST" }, null, new { enctype = "multipart/form-data" }))
{
    <ul class="docList">
        <div class="panel-group emplyomentDetails" id="accordion" role="tablist" aria-multiselectable="true">
            @if (Model.EmploymentDetailsList.Any())
            {
                foreach (var documentId in Model.EmploymentDetailsList)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" style="background-color: aliceblue;">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#proposalAccordian" href="@Html.Raw("#" + @documentId.EmployementNo)" aria-expanded="true" class="collapsed">
                                    @documentId.CompanyName
                                </a>
                            </h4>
                        </div>
                        <div id="@Html.Raw(documentId.EmployementNo)" class="panel-collapse collapse company @(documentId.IsCurrentEmployment.HasValue && documentId.IsCurrentEmployment.Value ? " current-company " : " non-current-company ")" role="tabpanel">
                            <div class="panel-body">
                                @if (documentId.IsCurrentEmployment.HasValue && documentId.IsCurrentEmployment.Value)
                                {
                                    foreach (var item in _Master_DocumentListAddress.Where(x => x.DocCatID == Constant.DocumentCategory.Employment && x.DocumentID != Constant.EmploymentProof.RelievingLetter && x.DocumentID != Constant.EmploymentProof.ExperienceLetter && x.DocumentID != Constant.EmploymentProof.LatestSalaryRevisionLetter).AsQueryable())
                                    {
                                        <ul class="docList">
                                            <li>
                                                <h6 class="docName">
                                                 @item.Document @if (item.DocumentID == Constant.EmploymentProof.Latest3PaySlips || item.DocumentID == Constant.EmploymentProof.AppointmentLetter)
                                                 {
                                                    <span class="mand-field" style="color:red">*</span>
                                                 }
                                                </h6>
                                                <ul class="docUpload">
                                                    <li>
                                                        <span class="userNote"> &nbsp;</span>

                                                        <div class="btn btn-primary btn-upload btn-sm pull-right">
                                                            <span>Upload</span>
                                                            <input id=@("Upload" + item.DocumentID) type="file" accept="image/jpg,image/jpeg,application/pdf,application/msword,.docx" name="file" onchange="GetFilesNames(this,'@item.DocCatID','@item.DocumentID','@documentId.EmployementNo','@documentId.EmploymentDetID','@item.Document')" />
                                                        </div>
                                                    </li>
                                                </ul>
                                                @{_documentDetailList = Model.DocumentDetails.Where(x => x.UserID == ViewBag.userId && x.IsActive == true && x.DocumentID == item.DocumentID && x.EmploymentDetID == documentId.EmploymentDetID).AsQueryable();}

                                                @if (_documentDetailList.Any())
                                                {
                                                    <ul class="docDescription">
                                                        @foreach (var itemDetails in _documentDetailList)
                                                        {
                                                            if (item != null)
                                                            {
                                                                <li>
                                                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                                    <span class="uploadName @(item.DocumentID == Constant.EmploymentProof.Latest3PaySlips || item.DocumentID == Constant.EmploymentProof.AppointmentLetter ? "mand employmentdoc" : string.Empty)"><a style="cursor:pointer;" title="View Document" onclick="fnViewDoc(@itemDetails.DocDetID,'@itemDetails.FilePath','@itemDetails.DocumentName')">@Html.Raw(itemDetails.DocumentName)</a></span>
                                                                    <a href="#" class="removeDoc pull-right" onclick="Reset('@itemDetails.DocDetID','','@itemDetails.EmploymentDetID');"> Remove </a> <span class="uploadedOn pull-right">@itemDetails.UpdatedDate</span>
                                                                </li>
                                                            }
                                                        }
                                                        <li class="addDocument">
                                                            <span class="userNote"> &nbsp;</span>
                                                            <div class="btn btn-primary btn-upload btn-sm pull-right">
                                                                <span>Upload</span>
                                                                <input id=@("SaveUpload" + item.DocumentID) type="file" accept="image/jpg,image/jpeg,application/pdf,application/msword,.docx" name="file" onchange="GetFilesNames(this,'@item.DocCatID','@item.DocumentID','@documentId.EmployementNo','@documentId.EmploymentDetID','@item.Document')" />
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            </li>
                                        </ul>
                                    }

                                }
                                else
                                {
                                    foreach (var item in _Master_DocumentListAddress.Where(x => x.DocCatID == Constant.DocumentCategory.Employment && x.DocumentID != Constant.EmploymentProof.RelievingLetter && x.DocumentID != Constant.EmploymentProof.LatestSalaryRevisionLetter).AsQueryable())
                                    {
                                        <ul class="docList">
                                            <li>
                                                <h6 class="docName">
                                                    @item.Document @if (item.DocumentID == Constant.EmploymentProof.ExperienceLetter || item.DocumentID == Constant.EmploymentProof.Latest3PaySlips || item.DocumentID == Constant.EmploymentProof.AppointmentLetter)
                                                    {
                                                        <span class="mand-field" style="color:red">*</span>
                                                    }
                                                  
                                                </h6>
                                                <ul class="docUpload">
                                                    <li>
                                                        <span class="userNote"> &nbsp;</span>

                                                        <div class="btn btn-primary btn-upload btn-sm pull-right">
                                                            <span>Upload</span>
                                                            <input id=@("Upload" + item.DocumentID) type="file" name="file" accept="image/jpg,image/jpeg,application/pdf,application/msword,.docx" onchange="GetFilesNames(this,'@item.DocCatID','@item.DocumentID','@documentId.EmployementNo','@documentId.EmploymentDetID','@item.Document')" />
                                                        </div>
                                                    </li>
                                                </ul>
                                                @{_documentDetailList = @Model.DocumentDetails.Where(x => x.UserID == ViewBag.userId && x.IsActive == true && x.DocumentID == item.DocumentID && x.EmploymentDetID == documentId.EmploymentDetID).AsQueryable();}

                                                @if (_documentDetailList.Any())
                                                {
                                                    <ul class="docDescription">
                                                        @foreach (var itemDetails in _documentDetailList)
                                                        {
                                                            if (item != null)
                                                            {
                                                                <li>
                                                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                                    <span class="uploadName  @(item.DocumentID == Constant.EmploymentProof.ExperienceLetter || item.DocumentID == Constant.EmploymentProof.Latest3PaySlips || item.DocumentID == Constant.EmploymentProof.AppointmentLetter ? "mand employmentdoc" : string.Empty)"><a style="cursor:pointer;" title="View Document" onclick="fnViewDoc(@itemDetails.DocDetID,'@itemDetails.FilePath','@itemDetails.DocumentName')">@Html.Raw(itemDetails.DocumentName)</a></span>
                                                                    <a href="#" class="removeDoc pull-right" onclick="Reset('@itemDetails.DocDetID','','@itemDetails.EmploymentDetID');"> Remove </a> <span class="uploadedOn pull-right">@itemDetails.UpdatedDate</span>
                                                                </li>
                                                            }
                                                        }
                                                        <li class="addDocument">
                                                            <span class="userNote"> &nbsp;</span>
                                                            <div class="btn btn-primary btn-upload btn-sm pull-right">
                                                                <span>Upload</span>
                                                                <input id=@("SaveUpload" + item.DocumentID) type="file" accept="image/jpg,image/jpeg,application/pdf,application/msword,.docx" name="file" onchange="GetFilesNames(this,'@item.DocCatID','@item.DocumentID','@documentId.EmployementNo','@documentId.EmploymentDetID','@item.Document')" />
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            </li>
                                        </ul>
                                    }

                                }

                                
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </ul>
}
