@model Models.CandidateGraphProgressDetailViewModel
@{
    Layout = null;
}
<div class="progressBar">
    <h4> Overall Tasks Completed</h4>
    @Progressbar(Model.AverragePercentage,"") 
</div>
<div class="progressChart">  
    @Progressbar(Model.PersonalDetailsPercentage, "progress-bar-info")
    @Progressbar(Model.ContactDetailsPercentage, "progress-bar-success")
    @Progressbar(Model.EducationDetailsPercentage, "progress-bar-warning")
    @Progressbar(Model.EmploymentDetailsPercentage, "progress-bar-danger")
    @Progressbar(Model.FamilyDetailsPercentage, "progress-bar-danger")
    @Progressbar(Model.UploadDcoumentsPercentage, "progress-bar-danger")   
</div>
<div class="Chartlegend">
    <ul>
        <li>Personal Details</li>
        <li>Contact Details</li>
        <li>Education Details</li>
        <li>Employment Details</li>
        <li>Family Details</li>
        <li>Upload Documents</li>
    </ul>
</div>
@helper Progressbar(double? percentage,string className,bool vertical=true)
{
    <div class="progress @(vertical ? "vertical":"")">
        <div class="progress-bar @className" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0}", percentage) + "%")">
            <div class="progress-value">@Html.Raw( String.Format(percentage%1==0? "{0:0}":"{0:0.0}", percentage) + "%")</div>
        </div>
    </div>
}