@model Models.CandidateGraphProgressDetailViewModel
@{
    Layout = null;
}


<div class="progressBar">
    <h4> Overall Tasks Completed</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="@Html.Raw(String.Format("{0:0.0}", Model.AverragePercentage) + "%")"
             aria-valuemin=" 0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.AverragePercentage) + "%")">
            @Html.Raw(String.Format("{0:0.0}", Model.AverragePercentage) + "%")
        </div>
    </div>
</div>
<div class="progressChart">
    <div class="progress vertical">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.PersonalDetailsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.PersonalDetailsPercentage) + "%")</div>
        </div>
    </div>
    <div class="progress vertical">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.ContactDetailsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.ContactDetailsPercentage) + "%")</div>
        </div>
    </div>
    <div class="progress vertical">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.EducationDetailsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.EducationDetailsPercentage) + "%")</div>
        </div>
    </div>
    <div class="progress vertical">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.EmploymentDetailsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.EmploymentDetailsPercentage) + "%")</div>
        </div>
    </div>
    <div class="progress vertical">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.FamilyDetailsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.FamilyDetailsPercentage) + "%")</div>
        </div>
    </div>
    <div class="progress vertical">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="@Html.Raw("width:" + String.Format("{0:0.0}", Model.UploadDcoumentsPercentage) + "%")">
            <div class="progress-value">@Html.Raw(String.Format("{0:0.0}", Model.UploadDcoumentsPercentage) + "%")</div>
        </div>
    </div>
</div>
<div class="Chartlegend">
    <ul>
        <li>Personal Details</li>
        <li>Contact Details</li>
        <li>Education Details</li>
        <li>Employment Details</li>
        <li>Family Details</li>
        <li>Upload Documents</li>
    </ul>
</div>