@model IEnumerable<Silicus.Finder.Models.DataObjects.EmployeeRewards>
@{
    var EmployeeId = ViewData["id"];
}

<link href="~/Content/css/table-view.css" rel="stylesheet" />

<p>
    <h4>Employee Rewards</h4>
</p>
<p>
    <input type="button" value="Add Reward" class="btn btn-default pull-right" style="margin-top: -40px; margin-right: 2px;" onclick="@("window.location.href='" + @Url.Action("AddRewardToEmployee", "Employee", new { employeeId = EmployeeId }) + "'");" />
    @*@Html.ActionLink("Add Reward", "AddRewardToEmployee", "Employee", new { employeeId = EmployeeId }, null)*@
</p>
<div style="height:200px; overflow-y:auto;">
    <table class="table">
        <tr style="position:relative;">
            <th>
                @Html.DisplayName("Reward")
            </th>
            <th>
                @Html.DisplayName("Given On")
            </th>
        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.RewardsAndRecognitions.RewardsAndRecognitionName)
                    </td>
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.GivenOn)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2" style="text-align:center;">
                    No Rewards Awarded.
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(window).load(function () {
        $('#moduleHeaderTitleOnDashBoardImage').text("Create Employee");
    });
</script>
