@model Silicus.Finder.Models.DataObjects.Employee

@{
    ViewBag.Title = "x";
}

<h2>x</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExperienceInMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilicusExperienceInMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilicusExperienceInMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestQualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestQualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CubicleLocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CubicleLocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerRecommendation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerRecommendation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchieveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchieveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
