@model Silicus.EncourageWithAzureAd.Web.Models.CriteriaCommentViewModel
<tr>
    <td>
        @Html.HiddenFor(modelItem => modelItem.Id)
    </td>
    <td class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
        @Html.DisplayFor(modelItem => modelItem.Title)
    </td>
    <td class="col-lg-1 col-md-2 col-sm-3 col-xs-2">
        @Html.DropDownListFor(i => i.Weightage,
            Enumerable.Range(0, 20).Select(x => x * 5).
                Select(j => new SelectListItem
                {
                    Value = j.ToString(),
                    Text = j.ToString()
                }), new { @class = "form-control ddlWeightage" })
    </td>
    <td class="col-lg-3 col-md-4 col-sm-6 col-xs-4">
        @Html.DropDownListFor(i => i.Rating,
       Enumerable.Range(1, 5).
       Select(j => new SelectListItem
       {
           Value = j.ToString(),
           Text = j.ToString()
       }), "", new { @class = "example-square", @autocomplete = "off",@row_id = Html.IdFor(i => i.Rating) })
    </td>

    <td class="col-lg-3 col-md-4 col-sm-3 col-xs-3 criteriaComment">
        @Html.TextAreaFor(modelItem => modelItem.Comment, htmlAttributes: new { @class = Model.Rating != 0 && Model.Comment == "" ? "col-md-12 noCommentError" : "col-md-12", maxlength = 500 , @iscommentrequired = Model.Rating != 0 ? "true" : "false", @onblur = "return hideRemainingCharacterText('"+ Html.IdFor(i => i.Rating).ToString() + "')", onkeyup = "edValueKeyPress('"+ Html.IdFor(i => i.Rating).ToString() + "')" })
        <div class="@(Html.IdFor(modelItem => modelItem.Comment))"></div>
    </td>
</tr>
<script>
    var ratings = $('.example-square');
        
    $.each(ratings, function (index) {
        var id = "#"+this.id;
        var rating = +this.getAttribute("value");
            
        $(id).barrating('show', {
            theme: 'bars-square',
            showValues: true,
            showSelectedRating: false,
            onSelect: function(value, text,event) {
                var element = this.$elem[0];
                var rowId = element.getAttribute("row-id");

                var commentId = "#"+ rowId.replace("Rating","Comment") //"#comment"+rowId;
                if (+value != 0) {
                    $(commentId).attr("isCommentRequired", true);
                    if ($(commentId).val() == "") {
                        $(commentId).addClass("noCommentError");
                    }
                }else{
                    $(commentId).attr("isCommentRequired", false);
                    $(commentId).removeClass("noCommentError");
                }
            }
        });
    });
</script>


