@model Models.LoginDetails
@{
    Layout = null;
}

<!DOCTYPE html>


    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles_for_login.css" rel="stylesheet" />

    <section id="logo">
        <a href="#"><img src="/Images/Silicus.png" alt="" /></a>
    </section>
THIS IS Home Login
    <section class="container">
        <section class="row">
            @*<form method="post" action="index" role="login">*@
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "login" }))
        {

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                   
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @*<input type="password" name="password" required class="form-control" />*@
                </div>

                <section>
                    @*<button type="submit" name="go" class="btn btn-block">Sign In</button>*@
                    <input type="submit" value="Sign In" class="btn btn-primary" />
                    <p><a href="#">Forgot your password ?</a></p>
                    @*<p><a href="#">Create account</a></p>*@
                </section>
            @*</form>*@
}
        </section>
    </section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>*@



