@*@model IEnumerable<Silicus.FrameworxProject.Models.ExtensionSolution>*@
@using PagedList.Mvc;
@model PagedList.IPagedList<Silicus.FrameworxProject.Models.ExtensionSolution>
@{
    ViewBag.Title = "ExtenisonCodeList";
    TempData["ShowExtensionType"] = "ShowReviewExtensionCodeList";
}
<style>
    .serachpanel {
        margin-top: 3%;
    }

    #serachinput {
        float: right;
        width: 349px;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #07c !important;
}
    .navbar {
    border-radius: unset; 
}
</style>
<nav class="navbar navbar-inverse" style="background:#2F4050;position:fixed;width:100%">
    <div class="container-fluid">
        <ul class="nav navbar-nav" style="background:#2F4050">
            <li id="AddExtensionCode"><a href='@Url.Action("AddExtensionCode", "Extension")'>Add Extension Code</a></li>
            <li id="ShowExtensionCode"><a href='@Url.Action("ShowExtensionCode", "Extension")'>Published Extension Code </a></li>
            <li id="ShowMyExtensionCode"><a href='@Url.Action("ShowMyExtensionCode", "Extension")'>My Extension Code List</a></li>
            <li id="ReviewExtensionCodeList" class="active"><a href='@Url.Action("ReviewExtensionCodeList", "Extension")'>Review Extension Code List</a></li>
        </ul>
    </div>
</nav>
<div style="padding:15px">
    <div class="panel panel-primary serachpanel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <h3 class="searchHeading">Search Extension Methods</h3>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <div class="navbar-form" id="serachinput">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Search" name="searchString" id="searchString" type="text" onkeyup="getdetail()">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="content" class="snippet-hidden">
                <div id="mainbar">
                    @*<div id="navigation">
                        @Html.ActionLink("Other Usefull Methods", "ShowOtherCode", "", new { @class = "btn btn-info" })
                    </div>*@
                    <div class="subheader">
                        <h1 id="h-all-questions">All Extension Methods</h1>

                        <div id="tabs">
                            <a id="newest" class="youarehere" href="@Url.Action("ReviewExtensionCodeList", "Extension", new { sortOrder = ViewBag.DateSortParm })" data-nav-xhref="" title="The most recently added Extension Code" data-value="newest" data-shortcut="N">
                                Newest
                            </a>
                            <a id="frequent" href="@Url.Action("ReviewExtensionCodeList", "Extension", new { sortOrder = ViewBag.FrequentSearchedCountSortParm })" data-nav-xhref="" title="Most Frequent Searched Extension Code" data-value="frequent" data-shortcut="F">
                                Frequent Searched
                            </a>
                        </div>
                    </div>

                    <div id="questions">
                        @foreach (var item in Model)
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="views" style="border: 3px solid #73AD21;height:100px;text-align:center;vertical-align:middle;padding-top:21px;">
                                            <span title="36 views">@Html.DisplayFor(modelItem => item.FrequentSearchedCount)</span>
                                            <h6>Views</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <div class="question-summary">
                                            <div>
                                                <h3><a href='@Url.Action("ReviewExtensionCode", "Extension",new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MethodName)</a></h3>
                                            </div>
                                            <div class="truncate">@Html.DisplayFor(modelItem => item.Description)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("ReviewExtensionCodeList", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        function getdetail() {

            var searchString = $("#searchString").val();

            var url = "/Extension/SearchExtensionMethodByTitle";
            $.get(url, { searchString: searchString }, function (data) {

                $("#questions").html(data);
            });
        }

        $(document).ready(function () {
            var url = document.location;
            var y = new String(url);

            if (y.includes("count") || y.includes("count_desc")) {
                $("#newest").removeClass("youarehere");
                $("#frequent").addClass("youarehere");
            }
            else {
                $("#newest").addClass("youarehere");
                $("#frequent").removeClass("youarehere");
            }
        });
    </script>
