@using System.Configuration
@model Silicus.Ensure.Web.Models.ForgotPassword


@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "loginform", @class = "form-horizontal" }))
{
    <div class="logincontainer">    
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default" >
                <div class="p10" style="background-color:#000;"><img src="../../Images/silicus/logo.png" alt="Silicus Technologies (INDIA) Pvt. Ltd. Logo" /></div> 
                <div class="panel-heading">
                    <div class="panel-title">Forgot Password</div>
                    <div class="floatRight positionrel mt20neg"><a href="@Url.Action("Login", "Account")" tabindex="5">Sign In</a></div>
                </div>     

                <div class="panel-body p30" >
                        <div id="login-alert" class="alert alert-danger col-sm-12 hidden"></div>
                            @Html.ValidationSummary(true)         
                        
                            <div class="input-group mb5">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>    
                                @Html.TextBoxFor(m => m.Email, new { @placeholder="Enter your registered user name", @onfocus="this.placeholder = ''", @onblur="this.placeholder = 'Enter your registered user name';", @class="form-control" })                                    
                            </div>
                            <span class="help-block field-validation-error mt10 mb10">@Html.ValidationMessageFor(m => m.Email)</span>
                            

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <input type="submit" value="Submit" id="btn-login" class="btn btn-success" tabindex="4" />
                                    <p class="mt10 successmsgnofont">@((ViewBag.IsEmailSent == true) ? String.Format("An email has been sent to {0}, with instructions on how to reset your password.", Model.Email) : "")</p>
                                </div>
                            </div>
                    </div>                     
            </div>  
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}