@model Silicus.Ensure.Web.Models.Test.CandidateInfoViewModel
<div class="row">
    <div class="col-lg-2 col-md-2 M-T15">@Html.LabelFor(m => m.Name, new { style = "font-weight:bold;font-size:15px;" })</div>
    <div class="col-lg-2 col-md-2  M-T15">@Html.DisplayFor(m => m.Name)</div>
</div>
<div class="row">

    <div class="col-lg-2 col-md-2 M-T15">@Html.LabelFor(m => m.RequisitionId, new { style = "font-weight:bold;font-size:15px;" })</div>
    <div class="col-lg-2 col-md-2  M-T15">@Html.DisplayFor(m => m.RequisitionId)</div>
</div>
<div class="row">

    <div class="col-lg-2 col-md-2  M-T15">@Html.LabelFor(m => m.TotalExperience, new { style = "font-weight:bold;font-size:15px;" })</div>
    <div class="col-lg-2 col-md-2  M-T15">@Html.DisplayFor(m => m.TotalExperienceInYear) yrs  @Html.DisplayFor(m => m.TotalExperienceInMonth)  months  </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2  M-T15">@Html.LabelFor(m => m.Position, new { style = "font-weight:bold;font-size:15px;" })</div>
    <div class="col-lg-2 col-md-2 c M-T15">@Html.DisplayFor(m => m.Position)</div>
</div>
<div class="row">

    <div class="col-lg-2 col-md-2  M-T15">@Html.LabelFor(m => m.DOB, new { style = "font-weight:bold;font-size:15px;" })</div>
    <div class="col-lg-2 col-md-2  M-T15">@Html.DisplayFor(m => m.DOB)</div>
</div>