@model Silicus.Ensure.Web.Models.Test.CandidateInfoViewModel


    <div class="row M-T15">
        <div class="col-sm-12">
            <h3>Candidate Info:</h3>
        </div>
    </div>
<hr />
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.LabelFor(m => m.Name, new { style = "font-weight:bold;font-size:13px;color:#fff;" })</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Model.Name</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.LabelFor(m => m.RequisitionId, new { style = "font-weight:bold;font-size:13px;color:#fff;" })</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Model.RequisitionId</div>
        <div class="clearfix visible-xs"></div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.LabelFor(m => m.TotalExperience, new { style = "font-weight:bold;font-size:13px;color:#fff;" })</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.DisplayFor(m => m.TotalExperience)</div>
        
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.LabelFor(m => m.Position, new { style = "font-weight:bold;font-size:13px;color:#fff;" })</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Model.Position</div>
        <div class="clearfix visible-xs"></div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.LabelFor(m => m.DOB, new { style = "font-weight:bold;font-size:13px;color:#fff;" })</div>
        <div class="col-lg-2 col-md-3 col-sm-3 M-T15">@Html.DisplayFor(m => m.DOB)</div>
    </div>


