@model Silicus.Ensure.Web.Models.UserViewModel
@using Silicus.Ensure.Models.Constants;
@using Kendo.Mvc.UI;


<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;border-radius:0px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    @if (Model.UserId != 0)
    {
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h1 class="dashboard-name">Edit Candidate</h1>
        </div>
            <script>
            $(document).ready(function()
            {
                SetNavigationMenuActive('Candidates');
            })
            </script>
    }
    else
    {
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h1 class="dashboard-name">Add Candidate</h1>
        </div>
            <script>
            $(document).ready(function()
            {
                SetNavigationMenuActive('Candidates');
                $('#file').css('display','block');
                fileBool=true;
            })
            </script>
    }

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="f1">
                <div class="main-content">
                    @using (Html.BeginForm("CandidateSave", "User", FormMethod.Post, new { id = "frmSearchAllNdc", EncType = "multipart/form-data" }))
                    {
                        <input type="hidden" id="Role" name="Role" value="@Silicus.Ensure.Models.Constants.RoleName.Candidate.ToString()" />
                            @Html.HiddenFor(m => m.UserId)
                            <div class="fluid mt20">
                                <div class="row" style="margin-bottom:10px!important">
                                    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                                    {
                                        <div class="alert alert-success" id="messageDiv">
                                            <strong>Error!</strong> <span id="messageContent">@Model.ErrorMessage</span>
                                        </div>
                                    }
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.FirstName) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.MiddleName)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.LastName) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.LastName)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Position) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-8 col-sm-10 col-xs-10" style="padding-left:0;padding-right:0;height:30px;">
                                                @(Html.Kendo().DropDownListFor(model => model.Position)
                            .OptionLabel("--Select--")
                            .BindTo(Model.PositionList)
                            .DataTextField("PositionName")
                            .DataValueField("PositionName")
                            .Value(Model.Position)
                            .HtmlAttributes(new { style = "width: 100%;border-color: #c5c5c5;" })
                                                )
                                                @Html.ValidationMessageFor(m => m.Position)
                                            </div>
                                            <div class="col-md-4 col-sm-2 col-xs-2">
                                                <a href="#" class="font-Bold themeColorBlue btn btn-primary" onclick="AddPosition();"><span style="font-size: 12px;" class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.RequisitionId) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.RequisitionId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RequisitionId)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Gender) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @(Html.Kendo().DropDownListFor(m => m.Gender)
                        .Name("Gender")
                        .DataTextField("Text")
                        .DataValueField("Value")
                            .BindTo(new List<SelectListItem>
                            () {
                            new SelectListItem(){
                            Text="--Select--",
                            Value="--Select--"
                            },
                            new SelectListItem(){
                            Text="Male",
                            Value="Male"
                            },
                            new SelectListItem(){
                            Text="Female",
                            Value="Female"
                            }
                            }).HtmlAttributes(new { style = "width: 100%;" }))
                                            @Html.ValidationMessageFor(m => m.Gender)
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Email) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.CurrentLocation) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.CurrentLocation, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CurrentLocation)
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.DOB) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" style="width:100%;" name="DOB" id="DOB" value="@if (Model.UserId != 0)
                                                                                         { @Model.DOB.ToShortDateString().Replace("-","/")}" />
                                            @Html.ValidationMessageFor(m => m.DOB)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ContactNumber) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ContactNumber)
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ClientName) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ClientName)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Technology) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Technology, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Technology)
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">

                                        <div class="col-md-6">
                                            <lable>Total experience <b style="color:Red;">*</b></lable>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                                                @(Html.Kendo().DropDownListFor(m => m.TotalExperienceInYear)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(EnumHelper.GetSelectList((typeof(Year)))
                        .Select(x => new SelectListItem { Text = x.Value, Value = x.Value }))
                        .HtmlAttributes(new { style = "width: 100%;" })
                        .OptionLabel("Year")
                                                )
                                                @Html.ValidationMessageFor(m => m.TotalExperienceInYear)
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0">
                                                @(Html.Kendo().DropDownListFor(m => m.TotalExperienceInMonth)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(EnumHelper.GetSelectList((typeof(Month)))
                        .Select(x => new SelectListItem { Text = x.Value, Value = x.Value }))
                        .HtmlAttributes(new { style = "width: 100%" })
                        .OptionLabel("Months")
                                                )
                                                @Html.ValidationMessageFor(m => m.TotalExperienceInMonth)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            <lable>Relevant experience <b style="color:Red;">*</b></lable>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                                                @(Html.Kendo().DropDownListFor(m => m.RelevantExperienceInYear)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(EnumHelper.GetSelectList((typeof(Year)))
                            .Select(x => new SelectListItem { Text = x.Value, Value = x.Value }))
                            .HtmlAttributes(new { style = "width: 100%" })
                            .OptionLabel("Year")
                                                )
                                                @Html.ValidationMessageFor(m => m.RelevantExperienceInYear)
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0">
                                                @(Html.Kendo().DropDownListFor(m => m.RelevantExperienceInMonth)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(EnumHelper.GetSelectList((typeof(Month)))
                        .Select(x => new SelectListItem { Text = x.Value, Value = x.Value }))
                        .HtmlAttributes(new { style = "width: 100%" })
                        .OptionLabel("Months")
                                                )
                                                @Html.ValidationMessageFor(m => m.RelevantExperienceInMonth)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.CurrentCompany) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.CurrentCompany, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CurrentCompany)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.CurrentTitle) <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.CurrentTitle, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CurrentTitle)
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px!important">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            Upload Resume <b style="color:Red;">*</b>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="outer-box">
                                                <div class="demo-section k-content">
                                                    <input id="file" name="files" type="file" data-role="upload" style="display:none" />
                                                    @*<input name="files" id="files" type="file" />*@

                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.ResumeName))
                                                {
                                                    <div id="uploadFileLink" class="postuploadedfilesholder clearfix">
                                                        <div class="fileupload M-T5">
                                                            <a href="@Html.Raw(Url.Content(Model.ResumePath))" targ target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i> @Html.Raw(Model.ResumeDisplayName)</a>
                                                            <span class="deleteupload" title="Delete"><a onclick="DeleteF()"><i class="fa fa-window-close" aria-hidden="true"></i></a></span>
                                                        </div>
                                                    </div>
                                                    <script type="text/javascript">
                                                    function DeleteF() {
                                                        fileBool=true;
                                                        $('#file').css('display','block')
                                                        $("#uploadFileLink").html("");
                                                        $("#ResumeName").val("");
                                                    }
                                                    </script>
                                                }

                                            </div>
                                            <span class="k-invalid-msg" data-for="files"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px!important">
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12">
                                    <div class="pull-right btn-nav">
                                        @(Html.Kendo().Button()
                                     .Name("btnSave")
                                    .HtmlAttributes(new { type = "submit", @style = "width:58px;" })
                                    .Content("Save"))
                                        @(Html.Kendo().Button()
                                                .Name("btnCancel")
                        .HtmlAttributes(new { type = "button", @class = "btn-secondary" })
                                .Content("Cancel")
                                .Events(ev => ev.Click("onCancelClick")))
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>