@model Silicus.Ensure.Web.Models.Test.CandidateInfoViewModel
<div>
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(m => m.Name)</div>
        <div class="col-lg-3">@Html.DisplayFor(m => m.Name)</div>
        <div class="col-lg-2">@Html.LabelFor(m => m.RequisitionId)</div>
        <div class="col-lg-2">@Html.DisplayFor(m => m.RequisitionId)</div>
        <div class="col-lg-2">@Html.LabelFor(m => m.TotalExperience)</div>
        <div class="col-lg-1">@Html.DisplayFor(m => m.TotalExperience)</div>
    </div>
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(m => m.Position)</div>
        <div class="col-lg-3">@Html.DisplayFor(m => m.Position)</div>
        <div class="col-lg-3">@Html.LabelFor(m => m.DOB)</div>
        <div class="col-lg-3 pull-left">@Html.DisplayFor(m => m.DOB)</div>
    </div>
</div>