<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="" />
    <link rel="apple-touch-icon" sizes="57x57" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="application-name" content="" />
    <meta name="msapplication-tooltip" content="Silicus Technologies, LLC." />
    <meta name="msapplication-starturl" content="" />
    <meta name="rating" content="General" />
    <meta name="robots" content="index, follow" />
    <meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="2 days" />
    <meta name="author" content="Silicus Technologies, LLC." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>@ViewBag.Title - SilicusDemo</title>

    @*@Scripts.Render("~/Content/BootstrapCSS")*@
    <link href="~/Content/css/Bootstrap/3.3.1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Bootstrap/3.3.1/bootstrap.css" rel="stylesheet" />
    <!--Kendo css and JS-->
    @Styles.Render("~/Content/kendoCSS")
    @Scripts.Render("~/bundles/kendoJS")


    <!--Font Awesome 4.7.0 css-->
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--Custom css-->
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <link href="~/LESS/style.css" rel="stylesheet" />

    <!--Perfect scrollbar css-->
    <link href="~/Content/css/perfect-scrollbar.min.css" rel="stylesheet" />

    <link href="~/Content/css/sweetalert/sweetalert.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/BootstrapJS")*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/commonjs.js"></script>

</head>

@{
    var conname = @ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actname = @ViewContext.RouteData.Values["action"].ToString().ToLower();
    //Response.Write(conname);
    //Response.Write(actname);
}

<body class="container-fluid BodyColor">
    <div id="loading">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    @if (actname != "login" && actname != "logoff" && actname != "forgotpassword")
    {
        <div class="row top-header bbl">
            <div class="col-sm-4 col-xs-6">
                <div class="pll ptm pbs"><img src="~/Images/logo.jpg" class="mts mbs" alt="Silicus Logo" title="Silicus Encloud" /></div>
            </div>
            <div class="col-sm-8 col-xs-6">
                <div class="text-center">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <ul class="nav navbar-top-links navbar-right" style="height:0!important">
                            @if (Request.IsAuthenticated)
                            {
                                var userName = @User.Identity.Name;
                                <li class="dropdown">
                                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                        <span class="hidden-sm hidden-xs">
                                            <span class="m-r-sm welcome-message themeColorBlue">Welcome @userName</span> <i class="fa fa-chevron-down"></i>
                                        </span>
                                        <span class="hidden-md hidden-lg">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user-menu">
                                        <li>
                                            <a href='@Url.Action("LogOff", "CandidateAccount")'>
                                                <div>
                                                    Logout
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div><!-- pad -->
            </div>
        </div>
    }
    <div class="row">
        <div id="wrapper" class="col-sm-12">
            <div id="main">
                @if (actname != "login" && actname != "logoff" && actname != "forgotpassword")
                {
                    <div class="container" id="main-container">
                        @RenderBody()
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="footer fixed_full">
        <div>
            <strong>&copy;Copyright</strong> 2014 -
            <script>document.write(new Date().getFullYear())</script> Silicus Technologies
            <span id="credits" class="pull-right" style="font-weight:bold;">Credits</span>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
@Scripts.Render("~/bundles/CommonJS")