<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="" />
    <link rel="apple-touch-icon" sizes="57x57" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="application-name" content="" />
    <meta name="msapplication-tooltip" content="Silicus Technologies, LLC." />
    <meta name="msapplication-starturl" content="" />
    <meta name="rating" content="General" />
    <meta name="robots" content="index, follow" />
    <meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="2 days" />
    <meta name="author" content="Silicus Technologies, LLC." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Ensure</title>

    @*@Scripts.Render("~/Content/BootstrapCSS")*@
    <link href="~/Content/css/Bootstrap/3.3.1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Bootstrap/3.3.1/bootstrap.css" rel="stylesheet" />
    <!--Kendo css and JS-->
    @Styles.Render("~/Content/kendoCSS")
    @Scripts.Render("~/bundles/kendoJS")
    

    <!--Font Awesome 4.7.0 css-->
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--Custom css-->
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <link href="~/LESS/style.css" rel="stylesheet" />

    <!--Perfect scrollbar css-->
    <link href="~/Content/css/perfect-scrollbar.min.css" rel="stylesheet" />

    <link href="~/Content/css/sweetalert/sweetalert.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/BootstrapJS")*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/commonjs.js"></script>
   
@{
    var conname = @ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actname = @ViewContext.RouteData.Values["action"].ToString().ToLower();
}

</head>
<body class="container-fluid">
    @if (actname != "login" && actname != "logoff" && actname != "forgotpassword")
    {
        <div class="row top-header bbl">
            <div class="col-sm-4 col-xs-6">
                <div class="pll ptm pbs"><img src="~/Images/logo.jpg" class="mts mbs" alt="Silicus Logo" title="Silicus Encloud" /></div>
            </div>
            <div class="col-sm-8 col-xs-6">
                <div class="text-center">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <ul class="nav navbar-top-links navbar-right" style="height:0!important">
                            @if (Request.IsAuthenticated)
                            {
                                var userName = @User.Identity.Name;
                                <li class="dropdown">
                                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                        <span class="hidden-sm hidden-xs">
                                            <span class="m-r-sm welcome-message themeColorBlue">Welcome @userName</span> <i class="fa fa-chevron-down"></i>
                                        </span>
                                        <span class="hidden-md hidden-lg">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user-menu">
                                        <li>
                                                <a href='@Url.Action("LogOff", "CandidateAccount")'>
                                                <div>
                                                    Logout
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div><!-- pad -->
            </div>
        </div>
        <div class="loader-overlay" style="display:none;">
            <div class="loader">

            </div>
        </div>
        <div class="row">
            <div id="wrapper" class="wrapper">

                <div class="sidebar-wrapper">
                    <nav class="navbar-default navbar-static-side sidebar" role="navigation">
                        <div class="sidebar-collapse">
                                @{
            var role = Silicus.Ensure.Web.MvcApplication.getCurrentUserRoles();
                                }
                                @if (role.Contains(Silicus.Ensure.Models.Constants.RoleName.Admin.ToString()) || role.Contains(Silicus.Ensure.Models.Constants.RoleName.Panel.ToString()))
                                {

                                <ul class="nav metismenu" id="side-menu">
                                        @if (role.Contains(Silicus.Ensure.Models.Constants.RoleName.Admin.ToString()))
                                    {
                                            <li id="ManageUser" class="SideBarMenu"><a href="/ManageUser/Index"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="nav-label">User Management</span></a></li>
                                            <li id="Setup" class="SideBarMenu"><a href="/Master/Index"><i class="fa fa-cog" aria-hidden="true"></i> <span class="nav-label">Setup</span></a></li>
                                    }
                                        <li id="Candidates" class="SideBarMenu"><a href="/Admin/Candidates"><i class="fa fa-user" aria-hidden="true"></i> <span class="nav-label">Candidates</span></a></li>
                                        <li id="QuestionBank" class="SideBarMenu"><a href="/QuestionBank/QuestionBank"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="nav-label">Question Bank</span></a></li>
                                        <li id="TestSuite" class="SideBarMenu"><a href="/TestSuite/List"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="nav-label">Test Suite</span></a></li>
                                </ul>
                            }
                        </div>
                    </nav>
                </div>
                <!-- END LEFT MENU -->
                <!--   START OF CONTENT AREA -->
                <div id="page-wrapper" class="page-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="footer fixed_full">
            <div>
                <strong>&copy;Copyright</strong> 2014 -
                <script>document.write(new Date().getFullYear())</script> Silicus Technologies
                <span id="credits" class="pull-right" style="font-weight:bold;">Credits</span>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    @RenderSection("scripts", required: false)


    <script>
        function showConfirmationWindow(message, header) {
            return showWindow('#confirmationTemplate', message, header)
        };

        function showWindow(template, message, header) {
            var dfd = new jQuery.Deferred();
            var result = false;

            $("<div id='popupWindow'></div>")
            .appendTo("body")
            .kendoWindow({
                width: "400px",
                modal: true,
                title: "",
                modal: true,
                visible: false,
                close: function (e) {
                    this.destroy();
                    dfd.resolve(result);
                }
            }).data('kendoWindow').content($(template).html()).center().open();
            $('.k-window-titlebar').html(header);
            $('.popupMessage').html(message);
            $('.dialog_buttons').css('float', 'right');
            $('#popupWindow .confirm_yes').val('Yes');
            $('#popupWindow .confirm_no').val('No');

            $('#popupWindow .confirm_no').click(function () {
                $('#popupWindow').data('kendoWindow').close();
            });

            $('#popupWindow .confirm_yes').click(function () {
                result = true;
                $('#popupWindow').data('kendoWindow').close();
            });
            return dfd.promise();
        };

        function sidebarautoheight() {
            var sidebarheight = 0;
            sidebarheight = $(window).height() - $(".bbl").outerHeight() - $("footer").outerHeight();
            $(".wrapper .page-wrapper").css("min-height", sidebarheight);
        };

        $(document).ready(function () {
            sidebarautoheight();
        });
        $(window).resize(function () {
            sidebarautoheight();
        });

        $(document).ajaxStop(function () {
            $(".loader-overlay").hide();
        });

        $(document).ajaxStart(function () {        
            showCustomLoader();
        });

    </script>
    <script id="confirmationTemplate" type="text/x-kendo-template">
        <div class="popupMessage"></div>
        </br>
        <hr />
        <div class="dialog_buttons">
            <input type="button" class="confirm_yes k-button" value="Yes" style="width: 70px" />
            &nbsp;
            <input type="button" class="confirm_no k-button" value="No" style="width: 70px" />
        </div>
    </script>
</body>
</html>
