@model Silicus.Ensure.Web.Models.Test.TestDetailsViewModel

@using Kendo.Mvc.UI;


<div class="row">
    <div class="col-sm-12" style="padding:20px 0px 0px 50px;">
        @if (Model.QuestionType == 1)
        {
            <p><strong style="font-size:20px;">Section 1 (Objective question)</strong></p>
            <input type="hidden" value="@Model.QuestionType" id="QuestionType" />
        }
        else
        {
            <p><strong style="font-size:20px;">Section 2 (Practical question)</strong></p>
            <input type="hidden" value="@Model.QuestionType" id="QuestionType" />
        }
        <p><strong style="font-size:15px;">Question @Model.DisplayQuestionNumber: (@Model.Marks Marks)</strong></p>
        @Html.Raw(HttpUtility.HtmlDecode(Model.QuestionDescription))
    </div>
    <div class="col-sm-12">
        <div class="btmBorder"></div>
    </div>
    <input type="hidden" value="@Model.QuestionId" id="QuestionNumber" />
    <input type="hidden" value="@Model.TestDetailId" id="UserTestDetailId" />

    <input type="hidden" value="@Model.AnswerType" id="AnswerType" />

    @if (Model.QuestionType == 1 && Model.AnswerType == 1)
    {
        if (string.IsNullOrEmpty(Model.Answer))
        {
            <div class="col-sm-12" style="padding: 20px 25px 20px 30px;">
                <ul style="list-style:none;">
                    <li>
                        <div class="radio radio-info">
                            <input type="radio"  name="optradio" value="1">
                            <label >@Model.Option1</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info">
                            <input type="radio"  name="optradio" value="2">
                            <label >@Model.Option2</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio3">
                            <input type="radio"  name="optradio" value="3">
                            <label >@Model.Option3</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio4">
                            <input type="radio"  name="optradio" value="4">
                            <label >@Model.Option4</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio5">
                            <input type="radio"  name="optradio" value="5">
                            <label >@Model.Option5</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio6">
                            <input type="radio"  name="optradio" value="6">
                            <label >@Model.Option6</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio7">
                            <input type="radio"  name="optradio" value="7">
                            <label >@Model.Option7</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio8">
                            <input type="radio"  name="optradio" value="8">
                            <label >@Model.Option8</label>
                        </div>
                    </li>
                </ul>

            </div>
            <script>
                for(var i=@Model.OptionCount+1; i<=8;i++)
                {
                    $("#radio"+i).hide();
                }
            </script>
        }
        else
        {
            <div class="col-sm-12" style="padding: 20px 25px 20px 30px;">

                <ul style="list-style:none;">
                    <li>
                        <div class="radio radio-info">
                            @if (Model.Answer.Trim() == "1")
                            {
                                <input type="radio"  name="optradio" value="1" checked="checked">
                                <label >@Model.Option1</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="1">
                                <label >@Model.Option1</label>
                            }

                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info">
                            @if (Model.Answer.Trim() == "2")
                            {
                                <input type="radio"  name="optradio" value="2" checked="checked">
                                <label >@Model.Option2</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="2">
                                <label >@Model.Option2</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio3">
                            @if (Model.Answer.Trim() == "3")
                            {
                                <input type="radio"  name="optradio" value="3" checked="checked">
                                <label >@Model.Option3</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="3">
                                <label >@Model.Option3</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio4">
                            @if (Model.Answer.Trim() == "4")
                            {
                                <input type="radio"  name="optradio" value="4" checked="checked">
                                <label >@Model.Option4</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="4">
                                <label >@Model.Option4</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio5">
                            @if (Model.Answer.Trim() == "5")
                            {
                                <input type="radio"  name="optradio" value="5" checked="checked">
                                <label >@Model.Option5</label>
                            }
                            else
                            {
                                <input type="radio" name="optradio" value="5">
                                <label >@Model.Option5</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio6">
                            @if (Model.Answer.Trim() == "6")
                            {
                                <input type="radio"  name="optradio" value="6" checked="checked">
                                <label >@Model.Option6</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="6">
                                <label >@Model.Option6</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio7">
                            @if (Model.Answer.Trim() == "7")
                            {
                                <input type="radio"  name="optradio" value="7" checked="checked">
                                <label >@Model.Option7</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="7">
                                <label >@Model.Option7</label>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="radio radio-info" id="radio8">
                            @if (Model.Answer.Trim() == "8")
                            {
                                <input type="radio"  name="optradio" value="8" checked="checked">
                                <label >@Model.Option8</label>
                            }
                            else
                            {
                                <input type="radio"  name="optradio" value="8">
                                <label >@Model.Option8</label>
                            }
                        </div>
                    </li>
                </ul>
            </div>
            <script>
                for(var i=@Model.OptionCount+1; i<=8;i++)
                {
                    $("#radio"+i).hide();
                }
            </script>
        }
    }
    else if (Model.QuestionType == 1 && Model.AnswerType == 2)
    {

        if (string.IsNullOrEmpty(Model.Answer))
        {
            <div class="col-sm-12" style="padding: 20px 25px 20px 10px;">
                <ul style="list-style:none;">
                    <li>
                        <div class="checkbox">
                            <input type="checkbox"  name="optcheckbox" value="1">
                            <label >@Model.Option1</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox"  name="optcheckbox" value="2">
                            <label >@Model.Option2</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox3">
                            <input type="checkbox"  name="optcheckbox" value="3">
                            <label >@Model.Option3</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox4">
                            <input type="checkbox"  name="optcheckbox" value="4">
                            <label >@Model.Option4</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox5">
                            <input type="checkbox"  name="optcheckbox" value="5">
                            <label >@Model.Option5</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox6" >
                            <input type="checkbox"  name="optcheckbox" value="6">
                            <label >@Model.Option6</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox7">
                            <input type="checkbox"  name="optcheckbox" value="7">
                            <label >@Model.Option7</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox8">
                            <input type="checkbox"  name="optcheckbox" value="8">
                            <label >@Model.Option8</label>
                        </div>
                    </li>
                </ul>
            </div>

            <script>
                for(var i=@Model.OptionCount+1; i<=8;i++)
                {
                    $("#checkbox"+i).hide();
                }
            </script>
        }
        else
        {
            <div class="col-sm-12" style="padding: 20px 25px 20px 10px;">
                <ul style="list-style:none;">
                    <li>
                        <div class="checkbox">
                            <input id="optcheckbox1" type="checkbox" name="optcheckbox" value="1">
                            <label >@Model.Option1</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="optcheckbox2" type="checkbox" name="optcheckbox" value="2">
                            <label >@Model.Option2</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox3">
                            <input id="optcheckbox3" type="checkbox" name="optcheckbox" value="3">
                            <label >@Model.Option3</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox4">
                            <input id="optcheckbox4" type="checkbox" name="optcheckbox" value="4">
                            <label >@Model.Option4</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox5">
                            <input id="optcheckbox5" type="checkbox" name="optcheckbox" value="5">
                            <label >@Model.Option5</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox6">
                            <input id="optcheckbox6" type="checkbox" name="optcheckbox" value="6">
                            <label >@Model.Option6</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox7">
                            <input id="optcheckbox7" type="checkbox" name="optcheckbox" value="7">
                            <label >@Model.Option7</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" id="checkbox8">
                            <input id="optcheckbox8" type="checkbox" name="optcheckbox" value="8">
                            <label >@Model.Option8</label>
                        </div>
                    </li>
                </ul>
            </div>
            foreach (string str in Model.Answer.Split(','))
            {
                <script>
                    $('#optcheckbox'+@str).prop('checked', true);
                </script>
            }

            <script>
                for(var i=@Model.OptionCount+1; i<=8;i++)
                {
                    $("#checkbox"+i).hide();
                }
            </script>
        }
    }

    else if (Model.QuestionType == 2)
    {
        <div class="col-sm-12" style="padding: 20px 50px 30px 50px;">
            @Html.Kendo().EditorFor(m => m.Answer).Name("PracticalAnswer").Encode(true).Value(Model.Answer)
        </div>
    }

    <div class="col-sm-12">
    </div>
</div>


<div class="row">
    <div class="col-sm-12" style="margin-top:1%;padding: 0px 50px 0px 50px;">
        @if (Model.NextQuestionId != null)
        {
            @(Html.Kendo().Button()
    .Name("btnNext")
            .HtmlAttributes(new { type = "button" }).Events(e => e.Click("OnNext"))
                .Content("Next").HtmlAttributes(new { style = "float: right;", @data_id = Model.NextQuestionId, @class = "btn btn-primary" }))
        }

        @if (Model.PreviousQuestionId != null)
        {
            @(Html.Kendo().Button()
            .Name("btnPrevious")
            .HtmlAttributes(new { type = "button" }).Events(e => e.Click("OnPrevious"))
            .Content("Previous").HtmlAttributes(new { @data_id = Model.PreviousQuestionId, @class = "btn btn-primary" }))
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="margin-top:1%;padding: 0px 50px 30px 50px;">
        @(Html.Kendo().Button()
    .Name("btnSubmit")
    .HtmlAttributes(new { type = "button" }).Events(e => e.Click("OnSubmitTest"))
            .Content("Submit Test").HtmlAttributes(new { style = "float: right;", @class = "btn btn-primary" }))
    </div>
</div>
@{
    var type = (Silicus.Ensure.Models.Constants.QuestionType)Model.QuestionType;
    var typeString = type.ToString().ToLower();
}
<script>
    if($('#objective-test').hasClass('active')  && "@typeString" === "objective"){
        $('#objective-test-side-bar .nav-link').parent().removeClass('active');
    }else  if($('#practical-test').hasClass('active') && "@typeString" === "practical"){
        $('#practical-test-side-bar .nav-link').parent().removeClass('active');
    }

    if($('#objective-test').hasClass('active') && "@typeString" != "objective"){
        showPracticalTest();
        $('#practical-test-side-bar .nav-link').parent().removeClass('active');
    }else  if($('#practical-test').hasClass('active') && "@typeString" != "practical"){
        showObjectiveTest();
        $('#objective-test-side-bar .nav-link').parent().removeClass('active');
    }

    $('#@Model.QuestionId').parent().addClass('active');
    updateQuestionLinkColorClass('#@Model.QuestionId','@Model.IsAnswered' == 'True', '@Model.IsViewedOnly'== 'True');
    refreshAnsweredQuestionCount();
</script>