@model Silicus.Ensure.Web.Models.Test.QuestionNavigationViewModel
@using Silicus.Ensure.Models.Constants;
<style>
    .QuestionCheckbox {
        color: #337ab7 !important;
        padding-left: 25px;
    }

    .font-color-green {
        color: green;
    }

    .UnSeen {
        color: #808080 !important;
    }
</style>
<div style="width:100px" id="NavigationSection">

    @{
        var roles = Silicus.Ensure.Web.MvcApplication.getCurrentUserRoles();

        var isReviewer = roles.Contains(RoleName.Recruiter.ToString()) || roles.Contains(RoleName.Admin.ToString());

        if (Model != null && Model.Practical != null && Model.Practical.Count > 0)
        {
            <table>
                <thead>Practical @Model.Practical.Count</thead>
                @{ int count = 0;
                    foreach (var question in Model.Practical)
                    {
                        if (count == 0)
                        {
                            @Html.Raw("<tr>" + count);

                        }
                        if (question.IsAnswered)
                        {
                            <td id="@question.QuestionId" class="QuestionCheckbox">
                                <div class="QuestionCheckboxInnerDiv fa fa-check-square"></div>
                                <div class="font-color-blue">@(count + 1)</div>
                            </td>}
                        else if (question.IsViewedOnly)
                        {
                            <td id="@question.QuestionId" class="QuestionCheckbox">
                                <div class="QuestionCheckboxInnerDiv fa fa-square"></div>
                                <div class="font-color-blue">@(count + 1)</div>
                            </td>
                        }
                        else
                        {
                            <td id="@question.QuestionId" class="QuestionCheckbox">
                                <div class="QuestionCheckboxInnerDiv fa fa-square UnSeen"></div>
                                <div class="font-color-blue">@(count + 1)</div>
                            </td>
                        }
                        if ((count + 1) % 3 == 0 || count == Model.Practical.Count - 1)
                        {
                            @Html.Raw("</tr>");
                        }
                        count++;
                    }
                }
            </table>
                    }
                    if (Model != null && Model.Objective != null && Model.Objective.Count > 0)
                    {
                        <table>
                            <thead>Objective @Model.Objective.Count</thead>
                            @{ int count = 0;
                                foreach (var question in Model.Objective)
                                {
                                    if (count == 0)
                                    {
                                        @Html.Raw("<tr>");
                                    }
                                    if (isReviewer)
                                    {
                                        if (question.IsCorrect)
                                        {
                                            <td id="@question.QuestionId" class="QuestionCheckbox">
                                                <div class="QuestionCheckboxInnerDiv fa fa-check-square font-color-green"></div>
                                                <div class="font-color-green">@(count + 1)</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td id="@question.QuestionId" class="QuestionCheckbox">
                                                <div class="QuestionCheckboxInnerDiv fa fa-times-rectangle font-color-red"></div>
                                                <div class="font-color-red">@(count + 1)</div>
                                            </td>
                                        }
                                    }
                                    else if (question.IsViewedOnly)
                                    {
                                        <td id="@question.QuestionId" class="QuestionCheckbox">
                                            <div class="QuestionCheckboxInnerDiv fa fa-square"></div>
                                            <div class="font-color-blue">@(count + 1)</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="@question.QuestionId" class="QuestionCheckbox">
                                            <div class="QuestionCheckboxInnerDiv fa fa-square UnSeen"></div>
                                            <div class="font-color-blue">@(count + 1)</div>
                                        </td>
                                    }
                                    if ((count + 1) % 3 == 0 || count == Model.Objective.Count - 1)
                                    {
                                        @Html.Raw("</tr>");
                                    }
                                    count++;
                                }

                            }
                        </table>
                                }
    }
</div>
<script>
    $(document).ready(function () {
        $('.fa').addClass('fa-2x');

    });
</script>