@model Silicus.Ensure.Web.Models.Test.QuestionNavigationViewModel
<style>
    .radio, .checkbox {
        position: relative;
        display: inline-block;
        margin: 3px;
    }

    input[type=checkbox] {
        height: 20px !important;
        width: 25px !important;
    }
</style>
<div style="width:100px">

    @{
        if (Model != null && Model.Practical != null && Model.Practical.Count > 0)
        {
            <div>Practical <span>@Model.Practical.Count </span></div>
            foreach (var question in Model.Practical)
            {
                if (question.IsAnswered)
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId" checked />
                        <label for="@question.QuestionId"></label>
                    </span>
                }
                else if (question.IsViewedOnly)
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId"/>
                        <label for="@question.QuestionId"></label>
                    </span>
                }
                else
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId"/>
                        <label for="@question.QuestionId"></label>
                    </span>
                }
            }
        }

        if (Model != null && Model.Objective != null && Model.Objective.Count > 0)
        {
            <div>Objective <span>@Model.Objective.Count </span></div>
            foreach (var question in Model.Objective)
            {
                if (question.IsAnswered)
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId" checked />
                        <label for="@question.QuestionId"></label>
                    </span>
                }
                else if (question.IsViewedOnly)
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId" />
                        <label for="@question.QuestionId"></label>
                    </span>
                }
                else
                {
                    <span class="checkbox checkbox-success">
                        <input type="checkbox" id="@question.QuestionId" />
                        <label for="@question.QuestionId"></label>
                    </span>
                }
            }
        }
}
</div>



