@model Silicus.Ensure.Web.Models.Test.TestSummaryViewModel
@using Kendo.Mvc.UI;

<style>
    .eval-table thead{
    background:#f3f3f3;
}
.eval-footer{
    background:#f3f3f3;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    font-size: 15px;
    font-weight: 600!important;
    color:#777;
}
.candidate-score-alert{
    background: #e1fdfe;
    padding: 10px 10px 10px 15px;
    width: 100%;
    color:#00adef;
    font-weight: 600!important;

}
.candidate-per{
    margin-top:10px;
    margin-bottom: 10px;
    background: #e9f3fd;
    padding: 10px 10px 10px 15px;
    width: 100%;
    color:#295379;
    font-weight: 600!important;
}
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="row M-T20">
            <div class="col-sm-12">
               
                <table class="table eval-table">
                    <thead>
                        <tr>

                            <th>Section</th>
                            <th>Practical</th>
                            <th>Objective</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Questions</td>
                            <td id="practicalTotalQuestionCount">@Model.Practical.TotalQuestionCount</td>
                            <td id="objectiveTotalQuestionCount">@Model.Objective.TotalQuestionCount</td>
                        </tr>
                        <tr>

                            <td>Correct</td>
                            <td id="practicalCorrectAnswersCount">@Model.Practical.CorrectAnswersCount</td>
                            <td id="objectiveCorrectAnswersCount">@Model.Objective.CorrectAnswersCount</td>
                        </tr>
                        <tr>

                            <td>Wrong</td>
                            <td id="practicalIncorrectAnswersCount">@Model.Practical.IncorrectAnswersCount</td>
                            <td id="objectiveIncorrectAnswersCount">@Model.Objective.IncorrectAnswersCount</td>
                        </tr>
                        <tr>

                            <td>Obtained</td>
                            <td id="practicalMarksObtained">@Model.Practical.MarksObtained</td>
                            <td id="objectiveMarksObtained">@Model.Objective.MarksObtained</td>
                        </tr>
                        <tr class="eval-footer">

                            <td>Total</td>
                            <td id="practicalMaximumMarks">@Model.Practical.MaximumMarks</td>
                            <td id="objectiveMaximumMarks">@Model.Objective.MaximumMarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


      
      
    </div>
</div>