@model Silicus.Ensure.Web.Models.TestSuiteCandidateModel

@{
    int answeredObjectiveQuestions = Model.NavigationDetails != null ? Model.NavigationDetails.Objective.Where(q => q.IsAnswered).Count() : 0;
    int answeredPracticalQuestions = Model.NavigationDetails != null ? Model.NavigationDetails.Practical.Where(q => q.IsAnswered).Count() : 0;
    int notAnsweredObjectiveQuestions = Model.ObjectiveCount - answeredObjectiveQuestions;
    int notAnsweredPracticalQuestions = Model.PracticalCount - answeredPracticalQuestions;
}

<div class="progressBar">
    <h6>PROGRESS</h6>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            0%
        </div>
    </div>
</div>
<div class="time-section">
    <h6>DURATION</h6>
    <a href="#"><span>Add Extra Time </span></a>
    <div class="timeBox timerActive">
        <span>1:30:00:0</span>
    </div>
</div>
<div class="test-summary">
    <h6>TEST SUMMARY</h6>
    <div class="summaryBox">
        <table class="table">
            <tbody>
                <tr>
                    <td>Total Questions</td>
                    <td>Objectives</td>
                    <td>Practical</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="textAlignCenter">
                        <span class="numbers numbersActive">
                            @Model.ObjectiveCount
                        </span>
                    </td>
                    <td class="textAlignCenter">
                        <span class="numbers numbersActive">
                            @Model.PracticalCount
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Answered</td>
                    <td class="textAlignCenter" id="answeredObjectiveQuestionsCount">@answeredObjectiveQuestions</td>
                    <td class="textAlignCenter" id="answeredPracticalQuestionsCount">@answeredPracticalQuestions</td>
                </tr>
                <tr>
                    <td>Not answered</td>
                    <td class="textAlignCenter" id="notAnsweredObjectiveQuestionsCount">@notAnsweredObjectiveQuestions</td>
                    <td class="textAlignCenter" id="notAnsweredPracticalQuestionsCount">@notAnsweredPracticalQuestions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>