@model Silicus.Ensure.Web.Models.Test.ExportQuestionsViewModel
<script src="~/Scripts/jquery.min.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function PrintToPDF() {
        window.frames["print_frame"].document.body.innerHTML = document.getElementById("printableDiv").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    }
    $(document).ready({
        function() {
            $('#PrintToPDF').on('click', PrintToPDF);
        }
    });
  
</script>
<div id="printableDiv">
    <div>
        @Html.Partial("_CandidateInfoForPrint", Model.CandidateInfo)
        <span id="PrintToPDF">Print</span>
    </div>
    @if (Model != null && Model.Objective != null && Model.Objective.Count > 0)
    {
        var count = 0;
        <h3>Objective Questions</h3>
        foreach (var question in Model.Objective)
        {
            <span>@(++count).</span> @question.QuestionDescription <b>(@question.Marks Marks)</b>
            <div>
                @if (question.QuestionType == 1 && question.AnswerType == 1)
                {
                    if (string.IsNullOrEmpty(question.Answer))
                    {
                        <div class="col-sm-12 questionDiv" style="padding: 20px 25px 20px 10px;">

                            <div class="radio radio-info">
                                <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                <label for="op1"><span class="spanLabel">@question.Option1</span></label>
                            </div>


                            <div class="radio radio-info">
                                <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                <label for="op2"><span class="spanLabel">@question.Option2</span></label>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(@question.Option3))
                            {
                                <div class="radio radio-info" id="radio3">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op3"><span class="spanLabel">@question.Option3</span></label>
                                </div>
                            }


                            @if (!string.IsNullOrWhiteSpace(@question.Option4))
                            {
                                <div class="radio radio-info" id="radio4">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op4"><span class="spanLabel">@question.Option4</span></label>
                                </div>
                            }


                            @if (!string.IsNullOrWhiteSpace(@question.Option5))
                            {
                                <div class="radio radio-info" id="radio5">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op5"><span class="spanLabel">@question.Option5</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option6))
                            {

                                <div class="radio radio-info" id="radio6">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op6"><span class="spanLabel">@question.Option6</span></label>
                                </div>
                            }


                            @if (!string.IsNullOrWhiteSpace(@question.Option7))
                            {

                                <div class="radio radio-info" id="radio7">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op7"><span class="spanLabel">@question.Option7</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option8))
                            {
                                <div class="radio radio-info" id="radio8">
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op8"><span class="spanLabel">@question.Option8</span></label>
                                </div>
                            }


                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 questionDiv" style="padding: 20px 25px 20px 10px;">

                            <div class="radio radio-info">
                                @if (question.Answer.Trim() == "1")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <span class="spanLabel">@question.Option1</span>
                                }
                                else
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <span class="spanLabel">@question.Option1</span>
                                }

                            </div>


                            <div class="radio radio-info">
                                @if (question.Answer.Trim() == "2")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op12"><span class="spanLabel">@question.Option2</span></label>
                                }
                                else
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op12"><span class="spanLabel">@question.Option2</span></label>
                                }
                            </div>


                            @if (question.Answer.Trim() == "3")
                            {
                                <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />@question.Option3

                            }
                            else if (!string.IsNullOrWhiteSpace(@question.Option4))
                            {
                                <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                <label for="op13"><span class="spanLabel">@question.Option3</span></label>
                            }


                            <div class="radio radio-info" id="radio4">
                                @if (question.Answer.Trim() == "4")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op14"><span class="spanLabel">@question.Option4</span></label>
                                }
                                else if (!string.IsNullOrWhiteSpace(@question.Option4))
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op14"><span class="spanLabel">@question.Option4</span></label>
                                }
                            </div>


                            <div class="radio radio-info" id="radio5">
                                @if (question.Answer.Trim() == "5")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op15"><span class="spanLabel">@question.Option5</span></label>
                                }
                                else if (!string.IsNullOrWhiteSpace(@question.Option5))
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op15"><span class="spanLabel">@question.Option5</span></label>
                                }
                            </div>


                            <div class="radio radio-info" id="radio6">
                                @if (question.Answer.Trim() == "6")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op16"><span class="spanLabel">@question.Option6</span></label>
                                }
                                else if (!string.IsNullOrWhiteSpace(@question.Option6))
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op16"><span class="spanLabel">@question.Option6</span></label>
                                }
                            </div>


                            <div class="radio radio-info" id="radio7">
                                @if (question.Answer.Trim() == "7")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op17"><span class="spanLabel">@question.Option7</span></label>
                                }
                                else if (!string.IsNullOrWhiteSpace(@question.Option7))
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op17"><span class="spanLabel">@question.Option7</span></label>
                                }
                            </div>


                            <div class="radio radio-info" id="radio8">
                                @if (question.Answer.Trim() == "8")
                            {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op18"><span class="spanLabel">@question.Option8</span></label>
                                }
                                else if (!string.IsNullOrWhiteSpace(@question.Option8))
                                {
                                    <img class="radioBtnImg" height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/radioBtnChecked.png" />
                                    <label for="op18"><span class="spanLabel">@question.Option8</span></label>
                                }
                            </div>
                        </div>
                    }
                }
                else if (question.QuestionType == 1 && question.AnswerType == 2)
                {

                    if (string.IsNullOrEmpty(question.Answer))
                    {
                        <div class="col-sm-12 questionDiv" style="padding: 20px 25px 20px 32px;">


                            <div class="checkbox checkbox-info">
                                <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                <label for="ch1"><span class="spanLabel">@question.Option1</span></label>
                            </div>


                            <div class="checkbox checkbox-info">
                                <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                <label for="ch2"><span class="spanLabel">@question.Option2</span></label>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(@question.Option3))
                            {
                                <div class="checkbox checkbox-info" id="checkbox3">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch3"><span class="spanLabel">@question.Option3</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option4))
                            {
                                <div class="checkbox checkbox-info" id="checkbox4">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch4"><span class="spanLabel">@question.Option4</span></label>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(@question.Option5))
                            {

                                <div class="checkbox checkbox-info" id="checkbox5">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch5"><span class="spanLabel">@question.Option5</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option6))
                            {

                                <div class="checkbox checkbox-info" id="checkbox6">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch6"><span class="spanLabel">@question.Option6</span></label>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(@question.Option7))
                            {
                                <div class="checkbox checkbox-info" id="checkbox7">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch7"><span class="spanLabel">@question.Option7</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option8))
                            {

                                <div class="checkbox checkbox-info" id="checkbox8">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/UncheckedCheckbox.jpg" />
                                    <label for="ch8"><span class="spanLabel">@question.Option8</span></label>
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 questionDiv" style="padding: 20px 25px 20px 32px;">


                            <div class="checkbox checkbox-info">
                                <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                <label for="optcheckbox1"><span class="spanLabel">@question.Option1</span></label>
                            </div>


                            <div class="checkbox checkbox-info">
                                <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                <label for="optcheckbox2"><span class="spanLabel">@question.Option2</span></label>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(@question.Option3))
                            {
                                <div class="checkbox checkbox-info" id="checkbox3">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox3"><span class="spanLabel">@question.Option3</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option4))
                            {

                                <div class="checkbox checkbox-info" id="checkbox4">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox4"><span class="spanLabel">@question.Option4</span></label>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(@question.Option5))
                            {
                                <div class="checkbox checkbox-info" id="checkbox5">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox5"><span class="spanLabel">@question.Option5</span></label>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(@question.Option6))
                            {
                                <div class="checkbox checkbox-info" id="checkbox6">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox6"><span class="spanLabel">@question.Option6</span></label>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(@question.Option7))
                            {
                                <div class="checkbox checkbox-info" id="checkbox7">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox7"><span class="spanLabel">@question.Option7</span></label>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(@question.Option8))
                            {
                                <div class="checkbox checkbox-info" id="checkbox8">
                                    <img height="10" width="10" src="@System.Configuration.ConfigurationManager.AppSettings["ServerName"]/Images/checkedCheckbox.png" />
                                    <label for="optcheckbox8"><span class="spanLabel">@question.Option8</span></label>
                                </div>
                            }

                        </div>
                    }
                }
            </div>
            
        }

    }
    @if (Model != null && Model.Practical != null && Model.Practical.Count > 0)
    {
        <div>
            <div></div>
        </div>
        var count = 0;
        <h3>Practical Questions</h3>
        foreach (var question in Model.Practical)
        {
            <span>@(++count).</span>@question.QuestionDescription <b>(@question.Marks Marks)</b>
            if (!string.IsNullOrEmpty(question.Answer))
            {
                <div>
                    <p>
                        @question.Answer
                    </p>
                </div>
            }
            <div></div>
        }

    }
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" style="visibility:hidden" src="about:blank"></iframe>