@model Silicus.Ensure.Web.Models.UserViewModel
@using Silicus.Ensure.Models.Constants
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Candidate Dashboard";
    var users = Html.Partial("/Views/Admin/_partialViewCandidates.cshtml");
}

<div class="main-content">

    <div class="fluid mt20">
        <div class="alert alert-success" id="messageDiv">
            <strong>Success!</strong> <span id="messageContent">@Html.ValidationSummary(true)</span>
        </div>
        <h2>Candidates</h2>
        <div class="row" style="margin-bottom:20px">
            <div class="col-sm-3">
                <span style="float:right"><b> Test Status</b></span>
            </div>
            <div class="col-sm-3">
                @(Html.Kendo().DropDownListFor(m => m.TestStatus)
                .Name("TestStatus")
                .DataTextField("Text")
                .DataValueField("Value")
                .Events(e => e.Change("Change"))
                    .BindTo(new List<SelectListItem>
                    () {
                        new SelectListItem(){
                    Text="All",
                    Value="All"
                    },
                    new SelectListItem(){
                    Text=Convert.ToString(TestStatus.NotAssigned),
                    Value=Convert.ToString(TestStatus.NotAssigned)
                    },
                    new SelectListItem(){
                    Text=Convert.ToString(TestStatus.Assigned),
                    Value=Convert.ToString(TestStatus.Assigned)
                    },
                    new SelectListItem(){
                    Text=Convert.ToString(TestStatus.Submitted),
                    Value=Convert.ToString(TestStatus.Submitted)
                    },
                    new SelectListItem(){
                    Text=Convert.ToString(TestStatus.Evaluated),
                    Value=Convert.ToString(TestStatus.Evaluated)
                    },
                    new SelectListItem(){
                    Text=Convert.ToString(TestStatus.Completed),
                    Value=Convert.ToString(TestStatus.Completed)
                    }
                    }).HtmlAttributes(new { style = "width: 100%" }))
            </div>
            <div class="col-sm-1">
                <span style="float:right"><b> Positions</b></span>
            </div>
            <div class="col-sm-3">
                @(Html.Kendo().DropDownList()
                            .Name("Position")
                                    .Events(e => e.Change("PositionChange"))
                            .OptionLabel("All")
                            .BindTo(ViewBag.PositionListItem)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .SelectedIndex(0)
                            .HtmlAttributes(new { style = "width: 100%;border-color: #c5c5c5;" })
                )
            </div>
        </div>
        <div class="kendogrid">
            @users
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@Convert.ToString(TempData["ErrorMsg"])' != '') {
            ShowMessage("@Convert.ToString(TempData["ErrorMsg"])", 0);
        }
        else {
            $("#messageDiv").hide();
        }
    });
</script>