@model Silicus.Ensure.Web.Models.TestSuiteViewModel
@using Silicus.Ensure.Models.Constants
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "TestSuite";
    Layout = null;
}
<div class="main-content">
    @using (Html.BeginForm("Save", "TestSuite"))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>@Html.LabelFor(model => model.TestSuiteName)</td>
                                <td>@Html.DisplayFor(model => model.TestSuiteName, new { @class = "form-control" })</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Duration)</td>
                                <td>@Html.DisplayFor(model => model.Duration, new { @class = "form-control" })</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Position)</td>
                                <td>@Html.DisplayFor(model => model.PositionName, new { @class = "form-control" })</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Competency)</td>
                                <td>@Html.DisplayFor(model => model.OverallProficiency, new { @class = "form-control" })</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label>Question type</label></td>
                                <td>
                                    <label>Optional @Html.DisplayFor(m => m.OptionalQuestion, new { @class = "form-control" }) %</label>
                                </td>
                                <td><label>Practical @Html.DisplayFor(m => m.PracticalQuestion, new { @class = "form-control" }) %</label></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ProjectName)</td>
                                <td>@Html.DisplayFor(model => model.ProjectName, new { @class = "form-control" })</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label>Experience</label></td>
                                <td>@Model.FromExperience</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive M-T30">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Skill tag name</th>
                                <th>Weightage % </th>
                                <th>Efficiency</th>
                            </tr>
                        </thead>

                        @if (Model.Tags != null)
                        {
                            if (Model.Tags.Count() > 0)
                            {
                                for (int i = 0; i < Model.Tags.Count(); i++)
                                {
                                    <tbody>
                                        <tr>

                                            <td id="tag_name_row @Convert.ToString(i)">@Model.Tags[i].TagName</td>
                                            <td id="weight_name_row @Convert.ToString(i)">@Model.Tags[i].Weightage</td>
                                            <td id="efficiency_name_row @Convert.ToString(i)">@Model.Tags[i].Proficiency</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="k-button k-button-icontext pull-right" href="/Admin/ViewQuestion?TestSuiteId=@Model.TestSuiteId &UserId=@Model.Userid"><span class="k-icon k-edit"></span>Preview</a>
                    </div>
                </div>

            </div>
        </div>

    }
</div>

<style>
    #tag_table td {
        padding: 5px;
    }

    #tag_table input {
        width: 172px;
    }
</style>

