@model IEnumerable<Silicus.Ensure.Models.DataObjects.Question>

@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div id="DivIdToPrint">
        <div class="fluid mt20">
            <div class="row">
                <div class="col-md-6">
                    <h4><span>Objective Question Set</span></h4>

                    <label for="chkQuestions">
                        <input type="checkbox" id="chkQuestions" />
                    </label>

                </div>
                <div class="col-md-5 col-md-offset-1">

                    @*<button type="button" class="btn btn-white" aria-label="Left Align">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"> PDF</span>
                    </button>*@

                    <button type="button" class="btn btn-white" aria-label="Left Align" onclick="window.open('/Admin/CreatePDF?target=_blank')">

                        <span class="glyphicon glyphicon-file" aria-hidden="true"> PDF</span>
                    </button>


                    <button type="button" class="btn btn-white" aria-label="Left Align">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"> Excel</span>
                    </button>

                    <button type="button" name="btnMail" class="btn btn-white" aria-label="Left Align">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" id='mailDiv'> Mail</span>
                    </button>

                    <button type="button" class="btn btn-white" aria-label="Left Align">
                        <span class="glyphicon glyphicon-print" aria-hidden="true" onclick='printDiv();'> Print</span>
                    </button>

                    @*@(Html.Kendo().Button()
                        .Name("btnMail").Icon("pencil")
                        .HtmlAttributes(new { type = "button" })
                        .Content("Mail"))

                            @(Html.Kendo().Button()
                        .Name("btnPrint").Icon("maximize")
                        .HtmlAttributes(new { type = "submit" })
                        .Content("Print"))*@
                </div>
            </div>


            <div id="dvQuestions" class="box">
                @foreach (var q in Model)
                {
                    <div class="row">
                        <div class="col-md-9" style="margin-top:30px">
                            Question @q.Id:
                            <div class="float">
                                <input type="text" maxlength="100" size="80" value="@q.QuestionDescription">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="margin-top:20px">
                            Option 1:
                            <div class="float">
                                <input type="text" maxlength="100" size="80" value="@q.Option1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="margin-top:20px">
                            Option 2:
                            <div class="float">
                                <input type="text" maxlength="100" size="80" value="@q.Option2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="margin-top:20px">
                            Option 3:
                            <div class="float">
                                <input type="text" maxlength="100" size="80" value="@q.Option3">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="margin-top:20px">
                            Option 4:
                            <div class="float">
                                <input type="text" maxlength="100" size="80" value="@q.Option4">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="margin-top:20px">
                            Correct Answer:
                            <div class="float">
                                <select style="width:580px">
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                    <option value="Option 3">Option 3</option>
                                    <option value="Option 4">Option 4</option>
                                </select>
                                @*<input type="text" maxlength="100" size="80">*@
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top:30px">
                    <h4><span>Practical Question Set</span></h4>

                    <label for="chkPQuestions">
                        <input type="checkbox" id="chkPQuestions" />
                    </label>

                </div>
            </div>

            <div id="dvpques" class="box1">

                <div class="row">
                    <div class="col-md-9" style="margin-top:30px">
                        Question 1:
                        <div class="float">
                            <input type="text" maxlength="100" size="80">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9" style="margin-top:30px">
                        Answer:
                        <div class="float">
                            <textarea rows="5" cols="79"></textarea>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9" style="margin-top:30px">
                        Question 2:
                        <div class="float">
                            <input type="text" maxlength="100" size="80">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9" style="margin-top:30px">
                        Answer:
                        <div class="float">
                            <textarea rows="5" cols="79"></textarea>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

        $(".box").hide();
        $(".box1").hide();


        //$('#btnPrint').click(function () {
        //    window.print("main-content");
        //});

        $('#mailDiv').click(function () {
            window.open('mailto:ensure@silicus.com');
        });


        $("#chkQuestions").click(function () {
            if ($(this).is(":checked")) {
                $("#dvQuestions").show();
            } else {
                $("#dvQuestions").hide();
            }
        });

        $("#chkPQuestions").click(function () {
            if ($(this).is(":checked")) {
                $("#dvpques").show();
            } else {
                $("#dvpques").hide();
            }
        });

    });

    function printDiv() {
        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);
    }
</script>

<style>
    div.float {
        float: right;
    }
</style>