@model Silicus.Ensure.Web.Models.JobVite.AssignTestViewModel
@using Kendo.Mvc.UI;

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@using (Ajax.BeginForm("SaveCandidateAndAssignTest", "JobVite", null, new AjaxOptions { OnSuccess = "OnSuccess", HttpMethod = "POST" }, new { id = "AssignTestForm" }))
{
    

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
               
                <label class="">Candidate First Name<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>John</label>
                @Html.DisplayFor(m => m.CandidateFirstName)
                @Html.HiddenFor(m => m.CandidateFirstName)
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="">Candidate Last Name<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Doe</label>
                @Html.DisplayFor(m => m.CandidateLastName)
                @Html.HiddenFor(m => m.CandidateLastName)

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="">Candidate Email<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Johndoe@gmail.com</label>
                @*@Html.TextBoxFor(m => m.CandidateEmail)*@
                @Html.HiddenFor(m => m.CandidateEmail)

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="">JobVite Refrence Number<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>34555</label>
               @Html.DisplayFor(m => m.CandidateJobViteId)
            @Html.HiddenFor(m => m.CandidateJobViteId)

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="">Position<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>.Net Developer</label>
                @Html.DisplayFor(m => m.CandidatePosition)
                @Html.HiddenFor(m => m.CandidatePosition)

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="">Test Suite<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Test Suit 1</label>
                @(Html.Kendo().DropDownListFor(m => m.TestSuiteId).Name("TestSuiteId")
          .DataTextField("TestSuiteName")
          .DataValueField("TestSuiteId")
          .OptionLabel("--Select--")
          .DataSource(source => source
          .Custom()
          .Transport(transport => transport
                .Read(read =>
                {
                    read.Url("/TestSuite/GetTestSuiteDetails/");
                })
          )
          .Schema(schema => schema
                .Data("Data")
                .Total("Total")
                .Errors("errors")
           )
      )
          
                )
                @Html.ValidationMessageFor(m => m.TestSuiteId)

            </div>
        </div>
    </div>
   
}
