
<!DOCTYPE html>
<html>
@{
    var conname = @ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actname = @ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - Utility Container</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhouse</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />    
    <link href="~/LESS/style.css" rel="stylesheet" />
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/css/custome-stylesheet.css" rel="stylesheet" />
    @*  FooTable*@
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/css/Custom-style.css" rel="stylesheet" />
</head>
<body>
    
    @if (actname != "login" && actname != "logout")
    {
        var superUsers = MvcApplication.GetAllSuperUsers();
        <div class="container-fluid cont-fluid" style="background:#fff;">
            <div class="container">
                <div class="row top-header">
                    <div class="col-sm-4 col-xs-6">
                        <div class="pll ptm pbs"><a href="/home/index"><img src="~/Images/logo.jpg" class="mts mbs" alt="Silicus Logo" title="Silicus Encloud" /></a></div>
                    </div>
                    <div class="col-sm-8 col-xs-6">
                        <div class="text-center">
                            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                                <ul class="nav navbar-top-links navbar-right">
                                    @Html.Partial("_LoginPartial")
                                    @if (Request.IsAuthenticated)
                                    {
                                        var userName = @User.Identity.Name;
                                        var data = userName.Split('.', '@');
                                        <li class="dropdown">
                                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                                <span class="hidden-sm hidden-xs">
                                                    <span class="m-r-sm text-muted welcome-message">Welcome @data[0] @data[1]</span> <i class="fa fa-chevron-down"></i>
                                                </span>
                                                <span class="hidden-md hidden-lg">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user-menu">
                                                    @if (superUsers.Find(x => x.Email.ToLower() == User.Identity.Name.ToLower()) != null)
                                                    {
                                                        <li><a href="@Url.Action("AddRoleToUtility", "Home")"><i class="fa fa-user-circle" aria-hidden="true"></i> Add Role To Utility</a></li>
                                                        <hr />
                                                        <li><a href="@Url.Action("AddRolesToUserForAUtility", "Home")"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Roles To User</a></li>
                                                        <hr />
                                                    }
                                                    <li><a href="@Url.Action("SignOut", "Account")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div><!-- pad -->
                    </div>
                </div>

            </div>
        </div>
    }


            <div class="container">

                @RenderBody()

            </div>



            <div class="loader-overlay" style="display:none;">
                <div class="loader">

                </div>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @* @Scripts.Render("~/bundles/bootstrap")*@
            @RenderSection("scripts", required: false)
            <script src="~/js/jquery-2.1.1.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

            <!-- Custom and plugin javascript -->
            <script src="~/js/inspinia.js"></script>
            <script src="~/js/plugins/pace/pace.min.js"></script>

            <!-- FooTable -->
            <script src="~/js/plugins/footable/footable.all.min.js"></script>
            <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
            <script src="~/js/bootstrap-switch.js"></script>

            @*<script src="https://knockoutjs.com/downloads/knockout-3.1.0.debug.js" type="text/javascript"></script>*@

            @*<script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.j"></script>*@
            <script src="~/Scripts/knockout-3.1.0.debug.js"></script>
            <script src="~/Scripts/knockout-3.1.0.js"></script>
            <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
            <script src="~/Scripts/knockout.mapping-latest.js"></script>
</body>
</html>



