@model IEnumerable<Silicus.Encourage.Models.Criteria>

<link href="~/css/star-rating.css" rel="stylesheet" />
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="~/js/star-rating.js"></script>

<div class="wizard-box" style="margin-top:10px;" id="criterias">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover" id="criteriaTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Criteria</th>
                            <th>Weightage</th>
                            <th>Rating</th>
                            <th>Manager Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var criteria in Model)
                        {
                            <tr>
                                <td>
                                    @i+1
                                </td>
                                <td>
                                    <label> @criteria.Title</label>
                                </td>
                                <td>
                                    @{
                                        var selectList = new List<SelectListItem>();
                                        for (int weightageStep = 0; weightageStep <= 100; weightageStep = weightageStep + 5)
                                        {
                                            selectList.Add(new SelectListItem
                                            {
                                                Text = weightageStep.ToString(),
                                                Value = weightageStep.ToString()
                                            });
                                        }
                                    }
                                    @Html.DropDownList("Comments[" + @i + "].Weightage", selectList, new {@class="form-control ddlWeightage"})
                                </td>
                                <td>
                                    <input id="rating-@i" value="0" type="number" data-star-captions="{clearRating}" data-default-caption="{rating} Stars" class="rating rating-loading" data-show-clear="true" data-show-caption="false" data-symbol="*" min=0 max=5 step=1 data-size="xs" name="Comments[@i].Rating">
                                </td>
                                <td>
                                    <textarea class="form-control" onblur="return hideRemainingCharacterText(@i)"
                                              onkeyup="edValueKeyPress(@i)"
                                              rows=""
                                              name="Comments[@i].Comment"
                                              id="@("comment"+i)"
                                              maxlength="500"></textarea>
                                    <div class="@("textarea"+i)"></div>

                                    <div class="col-md-5 criteriaComment">
                                        
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="Comments[@i].Id" value="@criteria.Id">
                                    <span class="hide">@(i++)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>