@model IEnumerable<Silicus.Encourage.Models.Criteria>

<script src="~/js/jquery.barrating.min.js"></script>

<div class="wizard-box" style="margin-top:10px;" id="criterias">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover" id="criteriaTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Criteria</th>
                            <th>Rating</th>
                            <th>Weightage</th>
                            <th>Manager Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var criteria in Model)
                        {
                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <td class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
                                    <label> @criteria.Title</label>
                                </td>
                                <td class="col-lg-3 col-md-4 col-sm-6 col-xs-4">
                                    <select id="rating-@i" class="example-square" name="Comments[@i].Rating" autocomplete="off" value="" row-id="@i" isRequiredForCriteria>
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>
                                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    @Html.DropDownList("Comments[" + @i + "].Weightage",
                                    Enumerable.Range(0, 21).Select(x => x * 5).
                                    Select(j => new SelectListItem
                                    {
                                        Value = j.ToString(),
                                        Text = j.ToString()
                                    }), new
                                    {
                                        @class = "form-control ddlWeightage",
                                        @disabled = "disabled",
                                        @isRequiredForCriteria = "false",
                                        @onchange = "checkIfWeightageExceeds(this," + i + ");",
                                        @row_id = i
                                    })
                                </td>
                                <td class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                                    <textarea class="form-control" onblur="return hideRemainingCharacterText(@i)"
                                              onkeyup="edValueKeyPress(@i)"
                                              rows=""
                                              name="Comments[@i].Comment"
                                              id="@("comment"+i)"
                                              maxlength="450"
                                              isRequiredForCriteria="false"
                                              row-id=@i
                                              disabled="disabled"></textarea>
                                    <div class="@("textarea"+i)"></div>

                                    <div class="col-md-5 criteriaComment">

                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="Comments[@i].Id" value="@criteria.Id">
                                    <span class="hide">@(i++)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var ratings = $('.example-square');

        $.each(ratings, function (index) {
            var id = "#"+this.id;
            var rating = +this.getAttribute("value");

            $(id).barrating('show', {
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                onSelect: function(value, text,event) {
                    var element = this.$elem[0];
                    var rowId = +element.getAttribute("row-id");

                    var commentId = "#comment"+rowId;
                    var weightageId = "#Comments_"+rowId+"__Weightage";
                    if (+value != 0) {
                        $(commentId).attr("isRequiredForCriteria", true);
                        $(weightageId).attr("isRequiredForCriteria", true);
                        if ($(commentId).val() == "") {
                            $(commentId).removeAttr("disabled");
                            $(weightageId).removeAttr("disabled");

                            $(commentId).addClass("noCommentError");
                            $(weightageId).addClass("noCommentError");
                        }
                    }else{
                        $(commentId).attr("isRequiredForCriteria", false);
                        $(commentId).removeClass("noCommentError");
                        $(commentId).attr("disabled", "disabled");
                        $(commentId).val("");


                        $(weightageId).attr("isRequiredForCriteria", false);
                        $(weightageId).removeClass("noCommentError");
                        $(weightageId).attr("disabled", "disabled");
                        $(weightageId).val(0);
                    }
                }
            });

            $(id).barrating('set',rating);
        })
    });

    function checkIfWeightageExceeds(dd,rowId){
        if(dd.value > 0){
            $(dd).removeClass("noCommentError");
        }else {
            $(dd).addClass("noCommentError");
        }

        if(checkWeightage() >= 100)
        {
            var currentRowId = 0;
            //currentRowId = this.attributes.getNamedItem("row-id").value;
            var skipDisabling = false;
            var allRequiredFields = $("[isRequiredForCriteria]");
            $.each(allRequiredFields,function(){
                //debugger;
                if (this.classList.contains("example-square")) {
                    var rating = this.value;
                    if (rating > 0) {
                        skipDisabling = true;
                    } else {
                        skipDisabling = false;
                    }
                }

                if(!skipDisabling)
                {
                    $(this).attr("disabled", "disabled");
                }
            });
        }
    }
</script>