@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.NominationListViewModel>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="el-element-overlay m-b-40">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                <div class="@(item.IsSubmitted == true ? "blue-box" : "white-box")">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img src="~/Images/1.jpg" />
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li>

                                        @if (!Convert.ToBoolean(item.IsSubmitted))
                                        {
                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@Url.Action("EditReview", "Nomination", new { nominationId = item.Id })">
                                                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn default btn-outline image-popup-vertical-fit" href="@Url.Action("ReviewDetails", "Nomination", new { nominationId = item.Id })">

                                                <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">@Html.DisplayFor(modelItem => item.DisplayName)</h3>
                            <small>
                                @Html.DisplayFor(modelItem => item.AwardName)
                                @Html.DisplayFor(modelItem => item.NominationTime)
                            </small><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row" id="noHistoricalData">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <span class="text-danger" style="font-size:20px">No employees found for review under this award category!</span>
            </div>
        </div>
    </div>
}