@model Models.EducationDetails
@using HR_Web.Helpers;
@{
    ViewBag.Title = "EducationalDetails";
    Layout = "";

    var classes = (SelectList)ViewBag.Classes;
    var discipline = (SelectList)ViewBag.Discipline;
    var college = (SelectList)ViewBag.Colleges;
    var educationCategorylist = (SelectList)ViewBag.EducationCategory;

    var specialization = (SelectList)ViewBag.Specialization;
    var university = (SelectList)ViewBag.University;
    var Months = (SelectList)ViewBag.Months;
    var Years = (SelectList)ViewBag.Years;
    var educategories = (SelectList)ViewBag.EducationCategoryForUser;


}

<div class="containerInner">
    <div class="row">
        <div class="col-lg-12">

            <div class="panel-group educationDetails tabSection" id="accordion" role="tablist" aria-multiselectable="true">
                @if (Model.educationDetialslist != null)
                {
                    for (var i = 0; i < Model.educationDetialslist.Count; i++)
                    {
                        using (Html.BeginForm("EducationalDetails", "Education", FormMethod.Post, new { id = "ED_FormId" + i.ToString(), @class = "addFormClass" }))
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading text-left" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#proposalAccordian" href="#tr@(i)" aria-expanded="true" class="collapsed">
                                            @Model.educationDetialslist[i].EducationCategory
                                        </a>
                                    </h4>
                                </div>
                                <div id="tr@(i)" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].EducationCategory, new { @class = "" }) <span class="red">*</span>
                                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.educationDetialslist[i].EducationCategoryId, educationCategorylist,
                                                    Model.educationDetialslist[i].OtherEducationCategory, 
                                                     "form-control")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].TypeofDegreeDeploma, new { @class = "" }) <span class="red">*</span>

                                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.educationDetialslist[i].TypeofDegreeDeplomaId,
                                                    discipline,
                                                    Model.educationDetialslist[i].OtherDiscipline,
                                                   "form-control")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].PassingYear, new { @class = "" }) <span class="red">*</span>

                                                    @CustomHtmlHelper.DropDownListFor(Model.educationDetialslist[i].PassingYear,
                                                   Years, 
                                                     "form-control")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].Class, new { @class = "" }) <span class="red">*</span>
                                                    @CustomHtmlHelper.DropDownListFor(Model.educationDetialslist[i].ClassId,
                                                   classes,
                                                    "form-control")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].Specialization, new { @class = "" }) <span class="red">*</span>
                                                    @Html.TextBoxFor(m => Model.educationDetialslist[i].OtherSpecialization, Model.educationDetialslist[i].OtherSpecialization, new {  @class = "form-control mt-5",  tabindex = (@i + 1).ToString() + 19 })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].Percentage, new { @class = "" }) <span class="red">*</span>
                                                    @Html.TextBoxFor(m => Model.educationDetialslist[i].Percentage, new {  @class = "form-control", tabindex = (@i + 1).ToString() + 24, MaxLength = 5 })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].FromDate, new { @class = "" }) <span class="red">*</span>
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.educationDetialslist[i].FromDate, String.Format("{0:dd/mm/yyyy}", (Model == null ? "" : (Model.educationDetialslist[i].FromDate.HasValue ? Convert.ToString(Model.educationDetialslist[i].FromDate.Value.ToShortDateString()) : String.Empty))), new {  Name = "txtAttendedFrom" + i.ToString(), @class = "form-control", tabindex = (@i + 1).ToString() + 21 })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].ToDate, new { @class = "" }) <span class="red">*</span>
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.educationDetialslist[i].ToDate, String.Format("{0:dd/mm/yyyy}", (Model == null ? "" : (Model.educationDetialslist[i].ToDate.HasValue ? Convert.ToString(Model.educationDetialslist[i].ToDate.Value.ToShortDateString()) : String.Empty))), new {  Name = "txtAttendedTo" + i.ToString(), @class = "form-control", tabindex = (@i + 1).ToString() + 22 })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">

                                                    @Html.LabelFor(m => Model.educationDetialslist[i].InstituteName, new { @class = "" }) <span class="red">*</span>

                                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.educationDetialslist[i].InstituteNameId,
                                                    college,
                                                    Model.educationDetialslist[i].OtherCollegeName, 
                                                   "form-control" )


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].University_BoardName, new { @class = "" }) <span class="red">*</span>
                                                    @CustomHtmlHelper.DropDownListForWithOtherOption(Model.educationDetialslist[i].University_BoardNameId,
                                                    @Model.educationDetialslist[i].UniversityList,
                                                    Model.educationDetialslist[i].OtherUniversityName,
                                                   "form-control")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => Model.educationDetialslist[i].BreaksDuringEducation, new { @class = "" }) <span class="red">*</span>
                                                    @Html.TextAreaFor(m => Model.educationDetialslist[i].BreaksDuringEducation, 10, 30, new
                                               {
                                                   @readonly = "readonly",
                                                   @class = "form-control",
                                                   tabindex = (@i + 1).ToString() + 25,
                                                   MaxLength = 350
                                               })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }

            </div>
        </div>
    </div>
</div>