@using Silicus.Encourage.Models
@model Silicus.EncourageWithAzureAd.Web.Models.ConsolidatedNominationsViewModel
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-hover white-bg content" id="consolidatedHrView">
        <thead>
            <tr>
                <th class="themeColorBlue">Employee Name</th>
                <th class="themeColorBlue">Rating By</th>
                <th class="themeColorBlue">All Criteria</th>
                @{
                    var ccCount = 1;
                }
                @foreach (var criteria in Model.Criterias)
                {
                    <th colspan="@Model.Reviewers.Count" style="text-align: center; width: 80px;">
                        <a href="#" title="@criteria.Title">
                            @("Criteria " + ccCount)
                        </a>
                    </th>
                    ccCount++;
                }
            </tr>
            <tr>
                <td class="tblBorder"></td>
                <td class="tblBorder"></td>
                <td class="tblBorder"></td>
                @foreach (var criteria in Model.Criterias)
                {
                    var revCount = 1;
                    foreach (var reviewer in Model.Reviewers)
                    {
                        <th>
                            <a href="#" title="@reviewer.ReviewerName">
                                @("R" + revCount)
                            </a>
                        </th>
                        revCount++;
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                var nominationCount = 0;
            }
            @foreach (var nomination in Model.Nominations)
            {
                <tr>
                    <td class="tblBorder">
                        @nomination.UserName
                    </td>
                    <td class="tblBorder">
                        Manager
                    </td>
                    <td class="averagePoints tblBorder">
                        @((nomination.ManagerComments != null ? nomination.ManagerComments.Sum(a => (a.Rating * a.Weightage / 100.0)) : 0).ToString("F"))
                    </td>
                    @foreach (var criteria in Model.Criterias)
                    {
                        var managerComment = nomination.ManagerComments.FirstOrDefault(mc => mc.CriteriaId == criteria.Id);
                        if (managerComment != null)
                        {
                            <td class="points consolidatedLeftCell"> @((managerComment != null ? managerComment.Rating * managerComment.Weightage / 100m : 0).ToString("F"))</td>
                            for (int i = 0; i < (Model.Reviewers.Count - 2); i++)
                            {
                                <td class="consolidatedMiddleCell"></td>
                            }
                            <td class="consolidatedRightCell"></td>
                        }
                        else
                        {
                            <td class="notNominated consolidatedLeftCell"></td>
                            for (int i = 0; i < (Model.Reviewers.Count - 2); i++)
                            {
                                <td class="notNominated consolidatedMiddleCell"></td>
                            }
                            <td class="notNominated consolidatedRightCell"></td>
                        }
                    }
                </tr>
                <tr>
                    <td>
                        @if (!nomination.IsShortListed)
                        {
                            <button type="button" onclick="ShortList(@nomination.NominationId)" class="btn btn-primary btn-sm">Shortlist</button>
                        }
                        else
                        {
                            <button type="button" disabled="disabled" class="btn btn-success-green btn-sm">Shortlisted</button>
                        }
                    </td>
                    <td>
                        Reviewer
                    </td>
                    <td class="averagePoints">
                        @{
                            var sumOfAverages = 0m;
                            foreach (var managerComment in nomination.ManagerComments)
                            {
                                var reviewersComments = nomination.ReviewerComments.Where(r => r.CriteriaId == managerComment.CriteriaId).ToList();
                                if (reviewersComments.Any())
                                {
                                    sumOfAverages += (Convert.ToDecimal(reviewersComments.Average(r => r.Credit)) * managerComment.Weightage) / 100m;
                                }
                            }
                        }
                        @(sumOfAverages.ToString("F"))
                    </td>
                    @foreach (var criteria in Model.Criterias)
                    {
                        var managerComment = nomination.ManagerComments.FirstOrDefault(mc => mc.CriteriaId == criteria.Id);
                        if (managerComment != null)
                        {
                            foreach (var reviewer in Model.Reviewers)
                            {
                                var reviewerComment = nomination.ReviewerComments.FirstOrDefault(rc => rc.ReviewerId == reviewer.Id && rc.CriteriaId == criteria.Id);
                                <td class="points">
                                    @(reviewerComment != null ? (reviewerComment.Credit * reviewerComment.Weightage / 100m).ToString("F") : "-")
                                </td>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < (Model.Reviewers.Count); i++)
                            {
                                <td class="notNominated"></td>
                            }
                        }
                    }
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Final Score
                    </td>
                    <td class="averagePoints">
                        <span class="averagePoints finalAverageScore_@nomination.NominationId">
                            @((nomination.ManagerComments != null ? nomination.ManagerComments.Sum(a => a.FinalScore.Value).ToString("F") : "0"))
                        </span>
                    </td>
                    @{ var criteriaCount = 0; }
                    @foreach (var criteria in Model.Criterias)
                    {
                        var managerComment = nomination.ManagerComments.FirstOrDefault(mc => mc.CriteriaId == criteria.Id);
                        if (managerComment != null)
                        {
                            <td class="points consolidatedLeftCell">
                                @Html.Hidden("Nominations[" + nominationCount + "].ManagerComments[" + criteriaCount + "].NominationId", nomination.NominationId)
                                @Html.Hidden("Nominations[" + nominationCount + "].ManagerComments[" + criteriaCount + "].CriteriaId", criteria.Id)
                                @Html.Hidden("Nominations[" + nominationCount + "].ManagerComments[" + criteriaCount + "].FinalScore", managerComment.FinalScore, new { @class = "finalScore_" + nomination.NominationId })
                                @Html.Hidden("Nominations[" + nominationCount + "].ManagerComments[" + criteriaCount + "].AdminComment", managerComment.AdminComment)
                                @*<button type="button" onclick="openCommentPointEditor(@nominationCount, @criteriaCount)" class="btn btn-primary"><span id="spnFinalPoints_@(nomination.NominationId)_@(criteria.Id)" style="font-weight: bold;">@managerComment.FinalScore.ToString("F") </span></button>*@
                                <a onclick="openCommentPointEditor(@nominationCount, @criteriaCount)">
                                    <span id="spnFinalPoints_@(nomination.NominationId)_@(criteria.Id)" style="font-weight: bold;">@managerComment.FinalScore.Value.ToString("F") </span>
                                </a>
                            </td>
                            for (int i = 0; i < (Model.Reviewers.Count - 2); i++)
                            {
                                <td class="consolidatedMiddleCell"></td>
                            }
                            <td class="consolidatedRightCell"></td>
                        }
                        else
                        {
                            <td class="notNominated consolidatedLeftCell"></td>
                            for (int i = 0; i < (Model.Reviewers.Count - 2); i++)
                            {
                                <td class="notNominated consolidatedMiddleCell"></td>
                            }
                            <td class="notNominated consolidatedRightCell"></td>
                        }
                        criteriaCount++;
                    }
                </tr>
                    nominationCount++;
            }

        </tbody>
    </table>
</div>