@model Silicus.EncourageWithAzureAd.Web.Models.ShortlistedNominationViewModel
@{
    ViewBag.Title = "ReviewedNominations";
}


<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Shortlisted Nominations</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="sttabs tabs-style-linebox">
                <nav id="awards-list">
                    <ul>
                        <li class="active">
                            <a id="all-tab" data-toggle="tab" href="#all" data-awardId="0"><span>All</span></a>
                        </li>
                        @foreach (var award in Model.Awards)
                        {
                            <li><a id="@award.Code.ToLower()-tab" data-toggle="tab" href="@("#"+ award.Code.ToLower())" data-awardId="@award.Id"><span>@award.Code</span></a></li>
                        }
                    </ul>
                </nav>
                <div class="tab-content content-wrap text-center">
                    <section id="all" class="tab-pane fade in active">
                        <div class="sttabs tabs-style-linebox">
                            <nav>
                                <ul>
                                    <li class="active"><a id="current-tab" data-toggle="tab" href="#all-currentMonth" data-awardType="all" onclick="getCurrentMonthData(this);"><span>Current</span></a></li>
                                    <li><a id="historical-tab" data-toggle="tab" href="#all-historical" data-awardType="all" onclick="getHistoricalData(this);"><span>Historical</span></a></li>
                                </ul>
                            </nav>
                            <div class="tab-content content-wrap text-center">
                                <section id="all-currentMonth" class="tab-pane fade in active">
                                    @Html.Partial("~/Views/Review/Shared/_reviewFeedbackList.cshtml", Model.ReviewFeedbackList)
                                </section>
                                <section id="all-historical" class="tab-pane fade"></section>
                            </div>
                        </div>
                    </section>
                    @foreach (var award in Model.Awards)
                    {
                        <section id="@award.Code.ToLower()" class="tab-pane fade">
                            <div class="sttabs tabs-style-linebox">
                                <nav>
                                    <ul>
                                        <li class="active"><a id="current-tab" data-toggle="tab" href="@("#"+award.Code.ToLower()+"-currentMonth")" data-awardType="@award.Code.ToLower()" onclick="getCurrentMonthData(this);"><span>Current</span></a></li>
                                        <li><a id="historical-tab" data-toggle="tab" href="@("#"+award.Code.ToLower()+"-historical")" data-awardType="@award.Code.ToLower()" onclick="getHistoricalData(this);"><span>Historical</span></a></li>
                                    </ul>
                                </nav>
                                <div class="tab-content content-wrap text-center">
                                    <section id="@(award.Code.ToLower()+"-currentMonth")" class="tab-pane fade in active"></section>
                                    <section id="@(award.Code.ToLower()+"-historical")" class="tab-pane fade"></section>
                                </div>
                            </div>
                        </section>
                    }
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pull-right btn-nav">

                                @{  bool _disabled = false;
                                    foreach (var item in Model.ReviewFeedbackList)
                                    {
                                        if (item.IsWinner == true)
                                        {
                                            _disabled = true;
                                            break;
                                        }
                                    }
                                    if (_disabled == false)
                                    {

                                        <div class="pull-right btn-nav">
                                            <input type="button" value="Reject All" class="btn btn-primary" id="rejectAll" onclick="return rejectAllNominations()" style="margin-left:3%;" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pull-right btn-nav">
                                            <input type="button" value="Reject All" disabled class="btn btn-primary" id="rejectAll" onclick="return rejectAllNominations()" style="margin-left:3%;" />
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div><!-- /content -->
            </div>
        </div>
    </div>

</div>
<div id="winnerFeedbackModal" class="modal fade" role="dialog">
    @Html.Hidden("hdnNominationId");
    @Html.Hidden("hdnAwardLockStatus");
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="feedbackPopUpClose" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Winner</h4>
            </div>
            <div class="modal-body">
                <span class="requiredfeild">Feedback:</span>
                <textarea class="form-control M-T15" rows="3" id="feedbackForWinner" style="width:100%;max-width:100%" placeholder="Why this employee shoulde be the winner?" required="required"></textarea>
                <span style="color:red;display:none" id="feedbackRequired"></span><br />
                <span class="requiredfeild">Comment:</span>
                <textarea class="form-control M-T15" rows="3" id="commentForWinner" style="width:100%;max-width:100%" placeholder="To be shared across the company" required="required"></textarea>
                <span style="color:red;display:none" id="commentRequired"></span>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn winner btn-primary" id="selectWinner">Submit</button>
                <button type="button" class="btn btn-primary btn-nav" id="feedBackCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-2.1.1.js"></script>
<script>
    $(function () {
        $('.fa-trophy').tooltip();
        $('.fa-star').tooltip();
    });

    function rejectAllNominations() {
        swal({
            title: "Reject all nominations",
            text: "Do you want to reject all nominations?",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#0070b9",
            confirmButtonText: "Yes!",
            cancelButtonText: "No!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
       function (isConfirm) {
           if (isConfirm) {
               showCustomLoader();
               $.ajax({
                   type: 'post',
                   url: '@Url.Action("RejectAll", "Review")',
                   success: function (data) {
                       hideCustomLoader();
                       swal({
                           title: "All nominations rejected..",
                           showCancelButton: false,
                           confirmButtonColor: "#88a364",
                           confirmButtonText: "Ok"
                       },
                       function () {
                           if (isConfirm) {
                               window.location.href = '@Url.Action("ReviewFeedbackList", "Review")';
                           }
                       });
                   },
                   error: function () {
                       hideCustomLoader();
                       swal("Error", "Oops! Something wrong happened..");
                   }
               });
           } else {
               swal("Cancelled", "Rejection of all nominations Cancelled");
               window.location.href = '@Url.Action("ReviewFeedbackList", "Review")';
           }
       });

    }

    var _urlReviewFeedbackListForActiveMonth = '@Url.Action("GetReviewFeedbackListPartialView", "Review", new { forCurrentMonth = true })';
    var _urlReviewFeedbackListForHistoricalMonths = '@Url.Action("GetReviewFeedbackListPartialView", "Review", new { forCurrentMonth = false })';

    $("#pinnacle-tab").on("click", function () {
        var awardId = +$(this).attr("data-awardId");
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlReviewFeedbackListForActiveMonth,
            data: { awardType: awardId },
            success: function (response) {
                hideCustomLoader();
                $("#pinnacle #pinnacle-currentMonth").html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    });

    $("#som-tab").on("click", function () {
        var awardId = +$(this).attr("data-awardId");
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlReviewFeedbackListForActiveMonth,
            data: { awardType: awardId },
            success: function (response) {
                hideCustomLoader();
                $("#som #som-currentMonth").html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    });

    $("#all-tab").on("click", function () {
        var awardId = +$(this).attr("data-awardId");
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlReviewFeedbackListForActiveMonth,
            data: { awardType: awardId },
            success: function (response) {
                hideCustomLoader();
                $("#all #all-currentMonth").html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    });

    function getCurrentMonthData(element) {
        var awardId = +$("#awards-list li.active a").attr("data-awardid");
        var area = $(element).attr("data-awardtype");
        var someId = "#" + area + " #" + area + "-currentMonth";
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlReviewFeedbackListForActiveMonth,
            data: { awardType: awardId },
            success: function (response) {
                hideCustomLoader();
                $(someId).html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    }

    function getHistoricalData(element) {
        var awardId = +$("#awards-list li.active a").attr("data-awardid");
        var area = $(element).attr("data-awardtype");
        var someId = "#" + area + " #" + area + "-historical";
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlReviewFeedbackListForHistoricalMonths,
            data: { awardType: awardId },
            success: function (response) {
                hideCustomLoader();
                $(someId).html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    }

    function selectWinner(nominationId, awardLockStatus) {
        $("#hdnNominationId").val(nominationId);
        $("#hdnAwardLockStatus").val(awardLockStatus);
    }

    function hideWinnerFeedbackPopup() {
        $("#winnerFeedbackModal").hide();
        clearFeedbackDailogBox();
    }

    $("#commentForWinner").on("keypress", function () {
        $("#commentRequired").css("display", "none");
    });

    $("#feedbackForWinner").on("keypress", function () {
        $("#feedbackRequired").css("display", "none");
    });


    function clearFeedbackDailogBox() {
        $("#commentForWinner").val("");
        $("#feedbackForWinner").val("");
        $("#commentRequired").text("");
        $("#feedbackRequired").text("");
    }

    $("#feedbackPopUpClose,#feedBackCancel").on("click", function () {
        clearFeedbackDailogBox();
    });

    $('#selectWinner').on("click", function () {
        var isLocked = $("#hdnAwardLockStatus").val();
        if (isLocked) {
            sweetAlert("Please lock the nomination from dashboard before proceed.");
            return false;
        }
        var nominationIdToShortlist = +$("#hdnNominationId").val();

        var commentForWinner = $("#commentForWinner").val();
        var feedbackForWinner = $("#feedbackForWinner").val();

        if (commentForWinner != "" && feedbackForWinner != "") {
            $("#selectWinner").attr("data-dismiss", "modal");
        }
        else {
            if (commentForWinner == "") {
                $("#commentRequired").text("You must enter a comment!");
                $("#commentRequired").css("display", "block");
            }
            if (feedbackForWinner == "") {
                $("#feedbackRequired").text("You must enter feedback!");
                $("#feedbackRequired").css("display", "block");
            }
            return false;
        }
        showCustomLoader();
        $.ajax({
            type: 'post',
            url: '@Url.Action("SelectWinner", "Review")',
            data: JSON.stringify({ nominationId: nominationIdToShortlist, winningComment: commentForWinner, feedback: feedbackForWinner }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                hideCustomLoader();
                clearFeedbackDailogBox();
                var awardId = +$("#awards-list li.active a").attr("data-awardid");
                var activeArea = $("#awards-list li.active a").attr("href");
                var someId = activeArea + " " + activeArea + "-currentMonth";
                showCustomLoader();
                $.ajax({
                    type: "GET",
                    url: _urlReviewFeedbackListForActiveMonth,
                    data: { awardType: awardId },
                    success: function (response) {
                        hideCustomLoader();
                        $(someId).html(response);
                    },
                    error: function (error) {
                        hideCustomLoader();
                        console.log(error);
                    }
                });
            },
            error: function (data) {
                hideCustomLoader();
                alert(data);
                swal("Error", "Oops! Something wrong happened..");
            }
        });
    });
</script>
