
<!DOCTYPE html>
<html>
@{
    var conname = @ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actname = @ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - Utility Container</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILICUS</title>
   <link href="~/css/bootstrap.min.css" rel="stylesheet" />
   <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
  <link href="~/LESS/style.css" rel="stylesheet" />
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    @*  FooTable*@
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
</head>
<body>
    @if (actname != "login" && actname != "logout")
    {

        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;border:none;padding-bottom:10px">
            <div class="container">
                <div class="navbar-header">
                    @Html.Partial("_LoginPartial")
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home", new { @Style = "color:#57A6B7;font-weight:bold" })">

                        <img src="~/Images/logo.jpg" />

                    </a>
                 
                </div>
                @if (Request.IsAuthenticated)
                {

               
                <div class="navbar-collapse collapse">
                    <div style="float:right;font-size:23px;color:#3F617C;margin: 10px 0 0 10px;text-shadow:0 1px 1px rgba(0,0,0,0.5);font-family:'cartogothic_stdbold' ;">
                        @if (actname != "login")
                        {
                          
                            @Html.ActionLink("Welcome " + User.Identity.Name, "Index", "UserProfile", routeValues: null, htmlAttributes: null)
                            <br>
                            <div class="menuList">
                                <div class="dropdown" style="float:right">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                                        <span>My Account</span>

                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AddRoleToUtility", "Home")">Add Role To Utility</a></li>
                                        <li><a href="@Url.Action("AddRolesToUserForAUtility", "Home")">Add Roles To User</a></li>
                                        <li><a href="@Url.Action("SignOut", "Account")">Sign Out</a></li>
                                    </ul>
                                </div>
                            </div>

                        }
                    </div>


                </div>
                }
            </div>
        </div>
    }
    <div class="gray-bg">
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="container body-content">

            @RenderBody()

        </div>
       
    </div>

    @Scripts.Render("~/bundles/jquery")
   @* @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
 
    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>

</body>
</html>



