@model Models.EmployementModel
@using HR_Web.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "";    
}
<div class="containerInner">
    <div class="row">
        <div class="col-lg-12">
            @foreach (var item in Model.EmploymnetDetailsList)
            {                
                <div class="panel panel-default" style="margin-bottom:15px" id="@Html.Raw("div"+item.EmploymentId)">
                    <div class="panel-heading text-left" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#proposalAccordian" href="@Html.Raw("#"+item.EmploymentId)" aria-expanded="true" class="collapsed">
                                @item.CompanyName
                                <span class="font-weight-bold">(@Convert.ToDateTime(item.FromDate).ToString("dd MMMM yyyy")</span> -
                                @if (item.IsCurrentEmployment)
                {
                                    <span class="font-weight-bold">Till date)</span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Convert.ToDateTime(item.ToDate).ToString("dd MMMM yyyy"))</span>
                                }

                            </a>
                        </h4>
                    </div>
                    @using (Html.BeginForm("EditSave", "Employement", FormMethod.Post, new { id = @Html.Raw("frmEdit" + item.EmploymentId), @class = "employment-details" }))
                    {
                        <div id="@Html.Raw(@item.EmploymentId)" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Company Name</label><span class="red">*</span>
                                            @Html.TextBox("CompanyName", @item.CompanyName,
                        new
                        {
                            id = @Html.Raw("CompanyName" + @item.EmploymentId),
                            @readonly = "readonly",
                            @class = "form-control",
                            @tabindex = (@item.EmploymentId + 1).ToString() + 13,
                            @maxlength = "50"

                        })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="company">Company Address</label><span class="red">*</span>
                                            @Html.TextBox("CompanyAddress", @item.CompanyAddress,
                        new
                        {
                            id = @Html.Raw("CompanyAddress" + @item.EmploymentId),
                            @readonly = "readonly",
                            @class = "form-control",
                            @tabindex = (@item.EmploymentId + 1).ToString() + 14,
                            @maxlength = "50"
                        })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Current Salary per Annum </label><span class="red">*</span> <em>
                                                <i class="infoIcon fa fa-info-circle"
                                                   aria-hidden="true" data-toggle="tooltip" title="Enter 500,000 for Rs. 5 Lacs per annum"></i>
                                            </em>
                                            @Html.TextBox("CTC", @item.CTC,
                        new
                        {
                            id = @Html.Raw("CTC" + @item.EmploymentId),
                            @readonly = "readonly",
                            @class = "form-control",
                            @tabindex = (@item.EmploymentId + 1).ToString() + 15,
                            @maxlength = "50"
                        })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Currency</label><span class="red">*</span>
                                            @CustomHtmlHelper.DropDownListFor((int)item.CurrencyID,
                                                   Model.CurrencyList, 
                                                   "form-control")
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Date of Joining</label><span class="red">*</span>
                                            <div class="input-group">
                                                @Html.TextBox("FromDate", @item.FromDate, String.Format("{0:dd/mm/yyyy}", (Model == null ? "" : Convert.ToString(Model.FromDate))),
                                new
                                {
                                    id = @Html.Raw("FromDate" + @item.EmploymentId),
                                    @class = "form-control",
                                    @readonly = "readonly",
                                    tabindex = (@item.EmploymentId + 1).ToString() + 18
                                })
                                                <label class="input-group-addon btn" for="@(Html.Raw("FromDate" + @item.EmploymentId))">
                                                    <span class="fa fa-calendar"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>
                                                Date of @if (Model.IsCurrentEmployment == true)
                                                {<span>Tentative</span>} Relieving
                                            </label><span class="red">*</span>
                                            <div class="input-group">
                                                @Html.TextBox("ToDate", @item.ToDate, String.Format("{0:dd/mm/yyyy}", (Model == null ? "" : Convert.ToString(Model.ToDate))),
                                new
                                {
                                    id = @Html.Raw("ToDate" + @item.EmploymentId),
                                    @class = "form-control",
                                    @readonly = "readonly",
                                    tabindex = (@item.EmploymentId + 1).ToString() + 19
                                })
                                                <label class="input-group-addon btn" for="@(Html.Raw("ToDate" + @item.EmploymentId))">
                                                    <span class="fa fa-calendar"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="switchBox">
                                            <label class="switch">
                                                <input type="checkbox" id="@Html.Raw("chk" + @item.EmploymentId)" checked="@item.IsCurrentEmployment" disabled="disabled" name="chkBox">
                                                <span class="slider round"></span>
                                            </label>
                                            @Html.HiddenFor(x => x.IsCurrentEmployment, new { @class = "IsCurrentEmployment" + item.EmploymentId })
                                            <span class="switchBoxTitle pull-left">Recent Tenure</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>
                                                Designation @if (Model.IsCurrentEmployment == false)
                                                {<span> (On Leaving)</span>}
                                            </label><span class="red">*</span>
                                            @Html.TextBox("Designation", @item.Designation,
                        new
                        {
                            id = @Html.Raw("Designation" + @item.EmploymentId),
                            @readonly = "readonly",
                            @class = "form-control",
                            @tabindex = (@item.EmploymentId + 1).ToString() + 17,
                            @maxlength = "50"
                        })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (item.IsCurrentEmployment == false)
                    {
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Reason for Leaving</label><span class="red">*</span>

                                                @Html.TextAreaFor(m => item.ReasonForLeave, 10, 30, new
                                               {
                                                   @readonly = "readonly",
                                                   @class = "form-control",
                                                   tabindex = (@item.EmploymentId + 1).ToString() + 25,
                                                   MaxLength = 350
                                               })

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
