@using Kendo.Mvc.UI;
@model Silicus.Ensure.Models.DataObjects.Tags
<form>
    <div class="container-fluid model-550">
        <div class="row">
            @Html.Hidden("existingTagName")
            <div class="col-md-4">
                @Html.LabelFor(m => m.TagName) <span style="color:red;">*</span>
            </div>

            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 M-B15">
                @Html.TextBoxFor(model => model.TagName, new { @class = "form-control" })
                <div class="validation">
                    @Html.ValidationMessageFor(m => m.TagName)
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Description) <span style="color:red;">*</span>
            </div>

            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                @Html.TextAreaFor(model => model.Description, new { @rows = "5", @class = "form-control " })
                <div class="validation">
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>

        </div>
    </div>


</form>
