@model IEnumerable<Silicus.Finder.Web.ViewModel.ProjectEmployeeDetailsViewModel>

<link href="~/Content/css/table-view.css" rel="stylesheet" />

<p>
    <h4>Project Employees</h4>
</p>
<div class="tab-table">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Title)
            </th>
            <th>
                @Html.DisplayName("Cubicle Location")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Skype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
            </th>
        </tr>

        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:left;padding-left:8px">
                        <a href="#" id="ProjectId_@item.EmployeeCode" class="Project_ID" pid="@item.EmployeeCode">@item.FullName</a>
                    </td>
                    <td style="text-align:left;padding-left:8px">
                        @{  
                           string title = string.Empty;
                            if(item.EmployeeTitles.Count>0)
                            {
                               title=item.EmployeeTitles.Where(emptitle=>emptitle.IsCurrent==true).SingleOrDefault().Title.Name;
                            }
                          }
                        @Html.DisplayFor(modelitem=>title)
                    </td>
                    @*<td style="text-align:left;padding-left:8px">
                        @{
                          //  var cubicleLocation = item.CubicleLocation.Building + "/" + item.CubicleLocation.DeskNumber;
                        }
                        @Html.DisplayFor(modelItem => cubicleLocation)*@
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.Contact.EmailAddress)
                    </td>
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.Contact.Skype)
                    </td>
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.TotalExperienceInMonths)
                    </td>
                    <td style="text-align:left;padding-left:8px">
                        @Html.DisplayFor(modelItem => item.Contact.PhoneNumber)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" style="text-align:center;">
                    No Employee is assigned to this Project.
                </td>
            </tr>
        }
    </table>
</div>
<div id="ProjectInformation"></div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(".Project_ID").click(
        function () {
            debugger;
            var project_ID = $(this).attr('pid');
            $("#ProjectInformation").data('pId', project_ID);
            $("#ProjectInformation").dialog(
             {
                 title:"Employee Details",
                 autoOpen: true,
                 height: 400,
                 width: 600,
                 modal: true,
                 open: function () {
                     $(this).load('/Employee/EmployeeDetails/?id=' + $("#ProjectInformation").data("pId"));

                 },
             });
        });


</script>

