@model Silicus.Encourage.Web.Models.ReviewSubmitionViewModel


<style>
    .container .content {
        display: none;
        padding: 5px;
    }
</style>
<div class="row border-bottom">
    <nav class="navbar  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading border-bottom" style="width:90%;">
    <div class=" col-sm-12">
    <h1>Edit Review</h1>
</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(modelItem => modelItem.ReviewerId)
            @Html.HiddenFor(modelItem => modelItem.NominationId);
    <table class="table table-hover issue-tracker white-bg" style="width:80%">
        <thead>
            <tr>
                <td>
                  <label> Review For:</label> 
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.NomineeName)
                </td>
            </tr>
            <tr>
                <td>
                 <label> Project/Department:</label>  
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.ProjectOrDepartment)
                </td>
            </tr>
            <tr>
                <td>
                   <label>Manager:</label> 
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Manager)
                </td>
            </tr>
        </thead>
    </table>
            <br />
    <table class="table table-hover issue-tracker" style="width:80%;table-layout:fixed">
        <tr>
            <th>
                @Html.DisplayFor(modelItem => modelItem.Manager) Says:
            </th>
            </tr>
        <tr>
            <td class="more white-bg" style="word-wrap: break-word;">

                @Model.ManagerComment

            </td>
        </tr>
    </table>
    <br />
    <table class="table table-hover issue-tracker white-bg" style="width:80%">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Criteria</th>
                <th>Manager Comment</th>
                <th>Reviewer Comment</th>
                <th>Credits</th>
            </tr>
        </thead>
        @{
                                                                var j = 0;
                                                                var k = 0;
        }
        <tbody>
            @foreach (var item in Model.Criterias)
            {

                <tr>
                    @*<td class="col-md-1">@item.Id</td>*@
                    @Html.Hidden("CriteriaId", @item.Id)
                    <td class="col-md-4">@item.Title</td>

                    @if (k < Model.ManagerComments.Count() && Model.ManagerComments[k].CriteriaId == item.Id)
                    {
                        <td class="col-md-4">@Model.ManagerComments[k].Comment</td>
                        k++;
                    }
                    else
                    {
                        <td class="col-md-4"></td>
                    }

                    <td class="col-md-3">@Html.TextArea("Comments[" + @j + "].Comment", Model.Comments[j].Comment)</td>

                    @Html.Hidden("Comments[" + @j + "].Id", item.Id)
                    <td class="col-md-1">
                        <div class="switch">
                            <div class="onoffswitch">
                                @if (Model.Comments[j].Credit == true)
                                {
                                    <input type="checkbox" value="true" length="0" class="onoffswitch-checkbox" id='example @j' name="Comments[@j].Credit" checked>
                                }
                                else
                                {
                                    <input type="checkbox" value="true" length="0" class="onoffswitch-checkbox" id='example @j' name="Comments[@j].Credit">
                                }

                                <label class=" onoffswitch-label" for="example @j">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                    j++;
            }
                    <tr>
                        <th colspan="3" style="text-align:right;">
                            Total Credits:
                        </th>
                        <td style="text-align:center;">
                            <span id="totalCredits">@ViewBag.creditGiven</span>
                        </td>
                    </tr>
        </tbody>
        @if (Model.ManagerComments != null)
        {
            for (int i = 0; i < Model.ManagerComments.Count; i++)
            {
                @Html.HiddenFor(model => Model.ManagerComments[i].Comment)
            }
        }
    </table>
            <div class="form-group">
                <div class="col-md-offset-4">
                    <input type="submit" name="submit" value="Discard Review" id="saveButton" class="btn btn-danger" />
                    <input type="submit" name="submit" value="Save Draft" id="saveButton" class="btn btn-warning" />
                    <input type="submit" name="submit" value="Submit" id="submitButton" class="btn btn-success-green" />
                    <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("SavedReviews", "Nomination")'" />
                </div>
            </div>
        }
       </div>
    </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    var totalCredits = $("#totalCredits").text();
    $(".onoffswitch-checkbox").change(function () {
        if ($(this).is(':checked')) {
            totalCredits++;
        }
        else if (!$(this).is(':checked')) {
            totalCredits--;
        }
        $("#totalCredits").text(totalCredits);
    });
</script>