@model Silicus.Encourage.Web.Models.ReviewSubmitionViewModel



@{
    ViewBag.Title = "ReviewNomination";
}

<style>
    .container .content {
        display: none;
        padding: 5px;
    }
</style>
<div class="row border-bottom">
    <nav class="navbar  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading border-bottom">
    <div class="col-sm-12">
        <h1>Review Nomination</h1>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        @using (Html.BeginForm())
        {

            @Html.HiddenFor(modelItem => modelItem.ReviewerId)
            @Html.HiddenFor(modelItem => modelItem.NominationId);
            <table class="table table-hover issue-tracker white-bg" style="width:80%">
                <thead>
                    <tr>
                        <th class="mail-ontact">
                            Review For:
                        </th>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.NomineeName)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Project/Department:
                        </th>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.ProjectOrDepartment)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Manager:
                        </th>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Manager)
                        </td>
                    </tr>
                </thead>
            </table>
            <br />
            <table class="table table-hover issue-tracker white-bg" style="width:80%">
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => modelItem.Manager) Says:
                    </th>

                    <td class="more">

                        @Model.ManagerComment

                    </td>
                </tr>
            </table>
            <br />
            <table class="table table-hover issue-tracker white-bg" style="width:80%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Criteria</th>
                        <th>ManagerComment</th>
                        <th>ReviewerComment</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                @{
                                                                var j = 0;
                                                                var k = 0;
                }
                @foreach (var item in Model.Criterias)
                {
                    <tbody>
                        <tr>
                            <td class="col-md-1">@item.Id</td>
                            @Html.Hidden("CriteriaId", @item.Id)
                            <td class="col-md-3">@item.Title</td>

                            @if (k < Model.ManagerComments.Count() && Model.ManagerComments[k].CriteriaId == item.Id)
                            {
                                <td class="col-md-3">@Model.ManagerComments[k].Comment</td>
                                k++;
                            }
                            else
                            {
                                <td class="col-md-3"></td>
                            }


                            <td class="col-md-3">@Html.TextArea("Comments[" + @j + "].Comment")</td>

                            @Html.Hidden("Comments[" + @j + "].Id", item.Id)
                            <td>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" value="true" length="0" class="onoffswitch-checkbox" id='example @j' name="Comments[@j].Credit">

                                        <label class=" onoffswitch-label" for="example @j">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                            j++;
                }
                @if (Model.ManagerComments != null)
                {
                    for (int i = 0; i < Model.ManagerComments.Count; i++)
                    {
                        @Html.HiddenFor(model => Model.ManagerComments[i].Comment)
                    }
                }
            </table>



            <div class="form-group">
                <div class="col-md-offset-4">
                    <input type="submit" name="submit" value="Save Draft" id="saveButton" class="btn btn-warning" />
                    <input type="submit" name="submit" value="Submit" id="submitButton" class="btn btn-success-green" />
                    <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("ReviewNominations","Nomination")'" />
                </div>
            </div>
        }
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


<script>



</script>

