@model IEnumerable<Silicus.Encourage.Web.Models.NominationListViewModel>
@using System.Drawing;
@{
    ViewBag.Title = "ReviewNominations";
}

<style>
    hr {
        background-color: black;
        height: 1px;
        border: 0;
        padding-left: 0px;
    }
    .fa-circle {
        color:grey;
    }
</style>


<div class="row border-bottom">
    <nav class="navbar  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading border-bottom" style="width:90%;">
    <div class="col-sm-12">
        <h1>Review Nominations</h1>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        @foreach (var item in Model)
        {
            Random randomGen = new Random();
            KnownColor[] names = (KnownColor[])Enum.GetValues(typeof(KnownColor));
            KnownColor randomColorName = names[randomGen.Next(names.Length)];
            Color randomColor = Color.FromKnownColor(randomColorName);

            <div class="col-md-3 card white-bg" style="margin-left:2%;">

                <div class="cardHeader text-center">

                    @*<div style="background-color:@randomColor.Name;height:60px;margin-top:10px;padding-left:10px;padding-bottom:70px; font-weight:bold;font-size:50px;text-align:left" class="col-md-5">
                            @Html.DisplayFor(modelItem => item.Intials)
                        </div>*@

                    <div>
                        <label>  @Html.DisplayFor(modelItem => item.DisplayName)</label>
                    </div>

                    <div>
                        @Html.DisplayFor(modelItem => item.AwardName)

                        @Html.DisplayFor(modelItem => item.NominationTime)
                    </div>

                </div>
                <div class="cardFooter text-right">

                    <a href="@Url.Action("ReviewNomination", "Nomination", new { nominationId = item.Id })">
                        <span> <i class="fa fa-circle fa-2x" title="Review Nomination" aria-hidden="true"></i> </span>
                    </a>

                </div>
            </div>

        }
        <br />
   
</div>
</div>
<script>
    $(function () {

        $(".fa-circle").tooltip();
    })

</script>